properties.context=<%= @properties_context %>
application.name=<%= @application_name %>
rpsl.merchant.username=<%= @merchant_username %>
rpsl.merchant.password=<%= @merchant_password %>
rpsl.server.url=<%= @rpsl_server_url %>
rpsl.check.balance.url=<%= @check_balance_url %>
rpsl.purchase.url=<%= @purchase_url %>
#Recording manager auth service name. Used by authnz library
application.rpsl.auth.service.name=core_v5_rpsl
auth.identity-manager.url=<%= @auth_identity_manager_url %>
auth.rights-manager.url=<%= @auth_rights_manager_url %>
idm.profile.dynamic.mobilenumber.attribute=<%= @idm_profile_dynamic_mobilenumber_attribute %>
#
#Restclient related properties
jerseyClient.userAgent=Mobi AAA Purchase manager adapter (UNIX; en-US)
jerseyClient.connectionTimeoutSeconds=<%= @jerseyclient_connection_timeout_seconds %>
jerseyClient.readTimeoutSeconds=<%= @jersey_client_read_timeout_seconds %>
jerseyClient.httpConnectionPoolSize=<%= @jerseyclient_httpconnection_poolsize %>

#Proxy related changes
http.proxy.enabled=<%= @http_proxy_enabled %>
http.proxy.host.address=<%= @http_proxy_host_address %>
http.proxy.port=<%= @http_proxy_port %>

#retry rules
retry.rules.enabled=<%= @retry_rules_enabled %>
