#Active MQ broker configuration
mq.broker.url=<%= @amq_broker_url %>

# URL of the License Manager 2 service
lm.webservice.url=<%= @lm2_url %>

# URL of the License Manager 1 service
lm1.webservice.url=<%= @lm1_url %>

# The URL of the DAM Webservice
dam.webservice.url=<%= @dam_url %>

# The URL of the DAM service
offer.management.url=<%= @offer_management_url %>

# URL of the Folder Manager service
fm.webservice.url=<%= @folder_manager_rest_url %>

# how many times to retry LM for getAESKey when the server returns 502 indicating overloaded
lm.overload.retry=1

# The number of JMS consumers on the request queue
queue.consumers.size=1

# The name of the JMS queue to listen to
jms.request.queue=<%= @jms_fragmentation_queue %>

# The DRM 1.1 encryption queue for media2go contents
# should be renamed to ENCRYPTION.QUEUE when ready to switch to DRM 1.1 
jms.media2go.queue=<%= @jms_media2go_queue %>

# Core number of threads in the task-worker pool (minimum threads to keep 
# cached), default 10
core.pool.size=<%= @thread_pool_core_size %>

# Number of seconds to continue trying to submit a message task to the thread-pool
# Default 1800 (30 minutes)
thread.pool.submission.timeout=1800

# Maximum number of threads running concurrently in the task-worker pool, 
# default 10
max.pool.size=<%= @thread_pool_max_size %>

# Maximum number of tasks that will be queued up for handling by threads in 
# the pool, default -1 (forces a synchronous blocking queue)
task.queue.capacity=-1

# Local path where segmenter output is stored
temp.base.directory=<%= @temp_directory %>

# Path on the SAN where the output files will be written once segmentation 
# has completed
output.base.directory=/var/Jukebox/vod

# Number of seconds to give segmenter to finish before aborted
segmenter.timeout=<%= @segmenter_timeout %>

# Nice value for segmenter
segmenter.niceness=19

# Location of the nice executable
segmenter.nice.location=nice

# Location of the fragment writer
fragment.writer.location=/usr/local/ods/frag/bin/fragwriter

# Location of the MobiTV (Media2Go) File Encryptor
m2g.encryptor.location=/usr/local/ods/frag/bin/mfe
m2g.encryptor.temp.basedir=<%= @temp_directory %>

# Input encodings for the FMP4 fragwriter
fragmentation.input.encodings=<%= @fmp4_input_encodings %>

# Directory where configuration files are installed
conf.directory.location=/opt/arlanda/conf/fragfileprocessor/

# Providers that will not have their content encrypted during fragmented-mp4 processing
drm.exempt.providers=4946,1872,83,5006

# Whether the DRM 2.0 functionality will be used for encrypted VOD assets
drm2.enabled=<%= @drm2_enabled %>

# Encryption Format can be either MOBI/CEF
encryption.format=<%= @encryption_type %>

# Whether the DRM 1.1 functionality will be used for encrypted VOD assets
drm1.enabled=<%= @drm1_enabled %>

# Pattern for storing DRM licenses
# any change must be propagated to licensemanager/src/main/webapp/WEB-INF/licensemanager.properties
drm.license.base.directory=/var/Jukebox/vod/license/

# LD_LIBRARY_PATH value to use when executing the segmenter and fragmenter
ld.library.path=/usr/openssl/lib:/usr/local/lib:/usr/lib:

# Naming pattern for asset instances
asset.instance.naming=${INVENTORY_ID}${VERSION}.${SUFFIX}

# Encoding-Id offsets for the various encodings
hls.encrypted.offset=200
hls.nonencrypted.offset=300
fmp4.offset=400

# Base directory for HLS Segments
hls.http.base.url=<%= @hls_vod_base_url %>

#--sps-pps-sync fragwriter parameter for resolution switching
video.resolution.switching=true

#Location of the mediainfo program (used to identify video content attributes)
mediainfo.location=/usr/bin/mediainfo

#One hour offset option when close captioning file option supplied to fragwriter, 
scc.one.hour.offset.check=true 

#This will remove padding and also display number of cc-packets in the output file, 
#supplied along with close captioning file -scc parameter
use.cc.filter=true

# Default DRM package identifier
drm.default.package.id=0

# at least one of drm.default.package.enabled or drm.real.packages.enabled must be true
# whether the default wildcard package (id=0) has been enabled
drm.default.package.enabled=true

# whether real packages are being enabled
drm.real.packages.enabled=<%= @drm_real_packages_enabled %>

# Connection & read timeout values for use when accessing the Offer Management Component
offer.management.timeout=<%= @offer_management_timeout %>

cc.filter.value=14

aes.key.url.filename=crypt.key

#Fragment generator commands. For enabling CEF or DRM 2.1 add --common-encryption to encrypted commands
fragment.writer.command.generate.fragments=<%= @generate_fragments_command %>
fragment.writer.command.generate.fragments.with.closeCaptioningSource=<%= @generate_fragments_with_closecaptioningsource_command %>

fragment.writer.command.generate.fragments.encrypted=<%= @generate_fragments_encrypted_command  %>
fragment.writer.command.generate.fragments.encrypted.with.closeCaptioningSource=<%= @generate_fragments_encrypted_with_closecaptioningsource_command  %>

#Segment generator commands. For enabling CEF or DRM 2.1 add --common-encryption to encrypted commands
segment.executor.command=<%= @segment_executor_command %>
segment.executor.command.with.closeCaptioningSource=<%= @segment_executor_with_closecaptioningsource_command %>
segment.executor.command.encrypted=<%= @segment_executor_encrypted_command %>
segment.executor.command.encrypted.with.closeCaptioningSource=<%= @segment_executor_encrypted_with_closecaptioningsource_command %>

m2g.encryptor.command=<%= @m2g_encryptor_command %>

license.file.encoding.id=<%= @license_file_encoding_id %>
