#Active MQ broker configuration
mq.broker.url=<%= @amq_broker_url %>

# The number of JMS consumers, default 1
searchagent.queue.consumers.size=1

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=10

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=20

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=1000

# Indicates whether the search-agent should issue a commit after each task is completed, default is false
commit=true

# URL of the Solr server
solr.server.url=<%= @solr_master_url %>
solr.server.connection.timeout=<%= @solr_connection_timeout %>
solr.server.max.connections=<%= @solr_max_connections %>
solr.server.max.retries=<%= @solr_max_retires %>

# File path of the Solr server
solr.path=/opt/arlanda/search/

# Name of the JMS Queue that the Search Agent should listen to
mq.search.agent.queue.name=SEARCHAGENT.QUEUE

# Flag to indicate whether the old arlanda-search Solr server should be updated, too
update.arlanda.search=<%= @update_legacy_solr %>

# URL of the old Arlanda Search server
arlanda.search.solr.server.url=<%= @legacy_solr_master_url %>

# Amount of seconds that Search Agent should specify for the delivery delay of JMS replies
jms.reply.delivery.delay=61

# Thumbnail url that needs to be inserted in solr. MediaId will be appended to this URL
searchagent.thumbnail.url=<%= @update_thumbnail_url %>

# Names of fields that should be excluded from updates to the Legacy Solr Schema
legacy.excluded.fields=<%= @legacy_excluded_fields %>

# Retry count to retry to query, if connection to Solr could not be established
solr.retry.connect.count=<%= @solr_retry_connect_count %>

# Flag to either we should retry to connect to Solr in case of any connection failure
retry.connect.solr=<%= @retry_connect_solr %> 

# Wait time between retries to connection Solr in millisecond
wait.time.between.retries=<%= @wait_time_between_retries %>
