<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

        <!-- override properties go here -->

         <!-- Live2vod channels for which recording is generated -->
        <entry key="record.channelIds"><%= @recording_channel_ids -%></entry>
        <entry key="recording.generator.job.enabled"><%= @recording_generator_job_enabled -%></entry>

</properties>
