# If these properties should be reloaded, they should be added to the PropertiesWrapper and the associated MBean
# See classes in jmx package for more info.

# BEAN PROPERTIES

# Used by the Indirect Upload Implementation in beanContext.xml
# set to true to run indirect upload
indirect.upload.evaluator.turned.on=true

# Reg ex to match against provider name, to process indirect upload using ingestor, .* to match all providers
indirect.upload.evaluator.regex=NFL_test

# Directory that all Jukebox uploads are relative to
# Used by the Event File Locator in beanContext.xml
base.directory=/var/Jukebox/ftpupload

# Used by the Ingestor Client in beanContext.xml
ingestor.webservice.url=http://juarnvip:8080/ingestor/

# DATABASE PROPERTIES

# Used by the Data Source in databaseContext.xml
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://mydtbvip/mobi2lite?autoReconnect=true
jdbc.username=<%= @ftplogparser_mobi2_username %>
jdbc.password=<%= @ftplogparser_mobi2_password %>

# Used by the Cache Manager in databaseContext.xml
ehcache.config=file:///opt/arlanda/conf/ftplogparser/ehcache.xml

# JMS PROPERTIES

#Active MQ broker configuration
# Used by the Connection Factory in jmsContext.xml
#mq.broker.url=vm://localhost
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The URL of the DAM Webservice
dam.webservice.url=http://juarnvip:8080/dam/ws?wsdl

# The URL of the Folder Manager Application for accessing RESTful services 
fm.webservice.url=http://juarnvip:8080/foldermanager/

#Location of the mediainfo program (used to identify video content attributes)
mediainfo.location=/usr/bin/mediainfo

#Timeout for mediainfo
mediainfo.timeout=2000
