<Context path="ingestor" docBase="/opt/mobi-arlanda-ingestor/webapp" debug="0">

  <!-- maxOpenPreparedStatements
       is per connection and should be 
       larger than the total # of prepared statements used in this app,
       smaller than the max # of allowed open cursors per connection -->



  <Resource auth="Container"
	    name="jdbc/legacyDS"
	    description="DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= @ing_username %>"
	    password="<%= @ing_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @ingestor_mobi2_db_jdbc_url %>" />


  <Resource auth="Container"
	    name="jdbc/ingestorDS"
	    description="DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= @ing_username %>"
	    password="<%= @ing_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @ingestor_ing_db_jdbc_url %>" />


  <Resource auth="Container"
	    name="jdbc/asperaDS"
	    description="DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= @ing_username %>"
	    password="<%= @ing_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @ingestor_aspera_db_jdbc_url %>" />
  
  <Valve className="org.apache.catalina.valves.AccessLogValve"
         directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="ingestor_access." suffix=".log"
         pattern="combined" resolveHosts="false"/>
</Context>

