#Active MQ broker configuration
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The number of JMS consumers, default 1
searchagent.queue.consumers.size=1

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=10

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=20

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=1000

# Indicates whether the search-agent should issue a commit after each task is completed, default is false
commit=true

# URL of the Solr server
solr.server.url=http://solrmastervip:8080/mobi-solr/

# File path of the Solr server
solr.path=/opt/arlanda/search/

# Name of the JMS Queue that the Search Agent should listen to
mq.search.agent.queue.name=SEARCHAGENT.QUEUE

# Flag to indicate whether the old arlanda-search Solr server should be updated, too
update.arlanda.search=<%= @searchagent_update_legacy_solr %>

# URL of the old Arlanda Search server
arlanda.search.solr.server.url=http://arlandasearch:8080/arlanda-search/ 

# Amount of seconds that Search Agent should specify for the delivery delay of JMS replies
jms.reply.delivery.delay=61
