#
# Pulp Server Properties
#
#   host - hostname of the Pulp server, used when determining where
#          the message broker is
[server]
host = <%= @pulp_server %>
ca_cert_file = /etc/pki/pulp/content/pulp-server-ca.crt

# messaging
# scheme: (tcp|ssl)
# port: broker port
# cacert: the CA certificate (PEM) to verify the server.
# clientcert: The client (PEM) key & certificate.
[messaging]
scheme = tcp
port = 5672
cacert =
clientcert =

[heartbeat]
seconds = 10

[cds]
packages_dir = /var/lib/pulp-cds
sync_threads = 10
# Verify existing package options
verify_checksum = true
verify_size = true

