# The pulp server configuration
#     host : The pulp server
#     port : The port providing the RESTful API.
#   scheme : The protocol.
# interval : The agent update interval
[server]
host = <%= @fqdn %>
port = 443
scheme = https
path = /pulp/api
interval = 240

# General client configuration
[client]
repo_file = /etc/yum.repos.d/pulp.repo
mirror_list_dir = /etc/yum.repos.d
gpg_keys_dir = /etc/pki/pulp-gpg-keys
cert_dir = /etc/pki/pulp/client/repo
consumer_cert = /etc/pki/pulp/consumer/cert.pem

# Reboot settings:
# permit : Permit reboots after package installs if requested.
# delay : The reboot delay (minutes).
[reboot]
permit = False
delay = 3

# GPG key settings:
# import : Permit the import of GPG keys.
[gpg]
permit_import = False

# heartbeat settings:
# seconds : The heartbeat interval (seconds).
[heartbeat]
seconds = 10

# messaging
# scheme: (tcp|ssl)
# port: broker port
# cacert: the CA certificate (PEM) to verify the server.
# clientcert: The client (PEM) key & certificate.
[messaging]
scheme = tcp
port = 5672
cacert =
clientcert =

# Content distribution options
# # baseurl : The content base url
# # keyurl : The gpg key base url
[cds]
baseurl = https://localhost/pulp/repos
keyurl = http://localhost/pulp/gpg
ksurl = http://localhost/pulp/ks

# Additional directory to search for plugins
[plugins]
plugin_dirs = /usr/lib/pulp/consumer/plugins
