#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi-mgo/database/mgo_create_databases.sql

mysql -u<%= dam_username %> -p<%= dam_password %> dam < /var/mobi-mgo/database/dam_schema.sql
mysql -u<%= dam_username %> -p<%= dam_password %> dam < /var/mobi-mgo/database/dam_quartz.sql
mysql -u<%= dam_username %> -p<%= dam_password %> dam < /var/mobi-mgo/database/dam_seed.sql

mysql -u<%= wfm_username %> -p<%= wfm_password %> wfm < /var/mobi-mgo/database/wfm_schema.sql
mysql -u<%= wfm_username %> -p<%= wfm_password %> wfm < /var/mobi-mgo/database/wfm_quartz.sql
mysql -u<%= wfm_username %> -p<%= wfm_password %> wfm < /var/mobi-mgo/database/wfm_seed.sql

mysql -u<%= mp_username %> -p<%= mp_username %> mp < /var/mobi-mgo/database/mp_schema.sql
mysql -u<%= mp_username %> -p<%= mp_username %> mp < /var/mobi-mgo/database/mp_seed.sql

mysql -u<%= ing_username %> -p<%= ing_password %> ing < /var/mobi-mgo/database/ing_schema.sql
mysql -u<%= ing_username %> -p<%= ing_password %> ing < /var/mobi-mgo/database/ing_seed.sql
mysql -u<%= ing_username %> -p<%= ing_password %> ing < /var/mobi-mgo/database/ing_quartz.sql

mysql -u<%= fm_username %> -p<%= fm_password %> mobi2lite < /var/mobi-mgo/database/mobi2lite_schema.sql
mysql -u<%= fm_username %> -p<%= fm_password %> mobi2lite < /var/mobi-mgo/database/mobi2lite_seed.sql

mysql -u<%= activemq_username %> -p<%= activemq_password %> activemq < /var/mobi-mgo/database/activemq_schema.sql

mysql -u<%= ing_username %> -p<%= ing_password %> aspera_stats_collector < /var/mobi-mgo/database/aspera_statscollector_schema.sql

touch /var/mobi-mgo/database/installation.done
