CREATE DATABASE IF NOT EXISTS aspera_stats_collector;
CREATE USER '<%= asp_username %>'@'%' IDENTIFIED BY '<%= asp_password %>';
GRANT SELECT, INSERT, DELETE, UPDATE ON aspera_stats_collector.* TO '<%= asp_username %>'@'%' IDENTIFIED BY '<%= asp_password %>';

CREATE DATABASE IF NOT EXISTS mgo_upload_processor;
GRANT SELECT, INSERT, DELETE, UPDATE ON mgo_upload_processor.* TO '<%= asp_username %>'@'%' IDENTIFIED BY '<%= asp_password %>';

flush privileges;
