CREATE DATABASE IF NOT EXISTS wfm;
CREATE USER '<%= wfm_username %>'@'%' IDENTIFIED BY '<%= wfm_password %>';
GRANT ALL PRIVILEGES ON wfm.* TO '<%= wfm_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS dam;
CREATE USER '<%= dam_username %>'@'%' IDENTIFIED BY '<%= dam_password %>';
GRANT ALL PRIVILEGES ON dam.* TO '<%= dam_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS mp;
CREATE USER '<%= mp_username %>'@'%' IDENTIFIED BY '<%= mp_password %>';
GRANT ALL PRIVILEGES ON mp.* TO '<%= mp_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS ing;
CREATE USER '<%= ing_username %>'@'%' IDENTIFIED BY '<%= ing_password %>';
GRANT ALL PRIVILEGES ON ing.* TO '<%= ing_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS activemq;
CREATE USER '<%= activemq_username %>'@'%' IDENTIFIED BY '<%= activemq_password %>';
GRANT ALL PRIVILEGES ON activemq.* TO '<%= activemq_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS mobi2lite;
CREATE USER '<%= fm_username %>'@'%' IDENTIFIED BY '<%= fm_password %>';
GRANT ALL PRIVILEGES ON mobi2lite.* TO '<%= fm_username %>'@'%' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON mobi2lite.* TO '<%= ing_username %>'@'%' WITH GRANT OPTION;

CREATE DATABASE IF NOT EXISTS aspera_stats_collector;
GRANT ALL PRIVILEGES ON aspera_stats_collector.* TO '<%= ing_username %>'@'%' WITH GRANT OPTION;

flush privileges;
