#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi-mgo/database/mgo_delete_databases.sql

if [ -e /var/mobi-mgo/database/installation.done ]; then
    rm /var/mobi-mgo/database/installation.done
fi
