#!/bin/bash

find /var/log/mobi-personalization-manager/ -name "mobi-personalization-manager.log.*.gz" -mtime +<%= scope.lookupvar("mobi_personalization_manager::pm_log_cleanup") %> -exec rm -f {} \;
find /var/log/mobi-aaa/mobi-personalization-manager/ -name "authnz.log.*.gz" -mtime +<%= scope.lookupvar("mobi_personalization_manager::auth_log_cleanup") %> -exec rm -f {} \;

