<Directory <%= @web_content_dir %>/<%= @package %>/<%= @version.to_s %>>
      <Files "index.html">
      	    Header set Cache-control "no-cache, no-store"
            Header unset ETag
	    FileEtag None
      </Files>

      <Files "buildnumber.txt">
            Header set Cache-control "no-cache, no-store"
            Header unset ETag
            FileEtag none
      </Files>
 
      <FilesMatch "\.(js|css|txt|swf|png|jpeg|jpg|otf|ttf)$">
            Header set Cache-control "public, max-age=31536000"
            Header unset ETag
	    FileETag None
      </FilesMatch>
      

     <IfModule mod_deflate.c>
            <FilesMatch "\.(js|css)$">
                SetOutputFilter DEFLATE
            </FilesMatch>
     </IfModule>

     <IfModule dir_module>
           DirectoryIndex index.html
     </IfModule>
</Directory>

<% if not @proxy_pass_list.empty? -%>
<IfModule proxy_module>
    ProxyRequests Off
<% @proxy_pass_list.each do |item| -%>
    <%= item %>
<% end -%>
</IfModule>
<% end -%>

<IfModule rewrite_module>
  RewriteEngine on
 <%- if @rewrite_rule -%>
  RewriteRule <%= @rewrite_rule %>  <%= @web_content_dir %>/<%= @package %>/<%= @version.split("-")[0].gsub(".",".").to_s -%>/$1
  <%- end -%>
</IfModule>
