# URL of the Solr server 
<%- if  @solr_server_url -%>
solr.server.url=<%= @solr_server_url %>
<% end -%>
<%- if  @solr_archive_server_url -%>
solr.archive.server.url=<%= @solr_archive_server_url %>
<% end -%>
<%- if  @source_data_file -%>
source.data.file=<%= @source_data_file %>
<% end -%>
<%- if  @xsl_file -%>
xsl.file=<%= @xsl_file %>
<% end -%>
output.file=/opt/mobi-epg-ingestor/webapp/output/mobi_data.xml
<%- if  @channel_data_file -%>
channel.data.file=<%= @channel_data_file %>
<% end -%>

<%- if @carrier_vid -%>
carrier.vid=<%= @carrier_vid %>
<% end -%>

solr.input.records.per.trasaction=1000
<%- if @config_folder -%>
config.folder=<%= @config_folder %>
<% end -%>
<%- if @partner_xsl_file -%>
partner.xsl.file=<%= @partner_xsl_file %>
<% end -%>
partner.data.config=partnerdata.conf
<%- if @partner_stage_folder -%>
partner.stage.folder=<%= @partner_stage_folder%>
<% end -%>
<%- if @tms_stage_folder -%>
tms.stage.folder=<%= @tms_stage_folder%>
<% end -%>
tms.data.config=tmsdata.conf
<%- if @ingestor_enabled -%>
cron.enabled=<%= @ingestor_enabled%>
<% end -%>

<%- if @buffer -%>
#Buffer to be added to catch_up duration for deletion of expired programs
#buffer is 2 days
buffer=<%= @buffer %>
<%- end -%>

<%- if @master or @ccr or @rtcr  -%>
#EPG ingestion parameters
<%- if @master -%>master=<%= @master %>
<%- end -%>
<%- if @ccr -%>ccr=<%= @ccr %>
<%- end -%>
<%- if @rtcr -%>rtcr=<%= @rtcr %>
<%- end -%>
<%- end -%>

#Flag to enable/disable SOLR Archive
<%- if @archive_enabled -%>
enable.solr.archive=<%= @archive_enabled%>
<%- end -%>
<%- if @channel_data_config -%>
channel.data.config=<%= @channel_data_config%>
<%- end -%>
<%- if @externallink_xsl_file -%>
externallink.xsl.file=<%= @externallink_xsl_file%>
<%- end -%>
<%- if @partner_config_folder -%>
partner.config.folder=<%= @partner_config_folder%>
<%- end -%>
<%- if @ftpupload_queue_consumers_size -%>
ftpupload.queue.consumers.size=<%= @ftpupload_queue_consumers_size%>
<%- end -%>
<%- if @channel_xsl_file -%>
channel.xsl.file=<%= @channel_xsl_file%>
<%- end -%>
<%- if @externallink_config_folder -%>
externallink.config.folder=<%= @externallink_config_folder%>
<%- end -%>
<%- if @externallink_stage_folder  -%>
externallink.stage.folder =<%= @externallink_stage_folder %>
<%- end -%>
<%- if @dam_list_channels_url -%>
dam.list.channels.url=<%= @dam_list_channels_url%>
<%- end -%>
<%- if @mq_broker_url -%>
mq.broker.url=<%= @mq_broker_url%>
<%- end -%>
<%- if @metadataprocessing_queue_consumers_size -%>
metadataprocessing.queue.consumers.size=<%= @metadataprocessing_queue_consumers_size%>
<%- end -%>
<%- if @mobi_externallink_configuration -%>
mobi.externallink.configuration=<%= @mobi_externallink_configuration%>
<%- end -%>
<%- if @channel_config_folder -%>
channel.config.folder=<%= @channel_config_folder%>
<%- end -%>
<%- if @dam_list_cliplinears_url -%>
dam.list.cliplinears.url=<%= @dam_list_cliplinears_url%>
<%- end -%>
<%- if @tms_config_folder -%>
tms.config.folder=<%= @tms_config_folder%>
<%- end -%>
<%- if @dam_url -%>
dam.url=<%= @dam_url%>
<%- end -%>
<%- if @dam_list_externallinks_url -%>
dam.list.externallinks.url=<%= @dam_list_externallinks_url%>
<%- end -%>
<%- if @channel_stage_folder  -%>
channel.stage.folder =<%= @channel_stage_folder %>
<%- end -%>
<%- if @mobi_channel_configuration -%>
mobi.channel.configuration=<%= @mobi_channel_configuration%>
<%- end -%>
<%- if @oms_live_media_skus_lookup_url -%>
oms.live.media.skus.lookup.url=<%= @oms_live_media_skus_lookup_url%>
<%- end -%>
<%- if @search_policies_for_asset_url -%>
search.policies.for.asset.url=<%= @search_policies_for_asset_url%>
<%- end -%>
<%- if @solr_socket_timeout -%>
solr.socket.timeout=<%= @solr_socket_timeout%>
<%- end -%>
<%- if @solr_conn_timeout -%>
solr.conn.timeout=<%= @solr_conn_timeout%>
<%- end -%>
<%- if @solr_conn_per_host -%>
solr.conn.per.host=<%= @solr_conn_per_host%>
<%- end -%>
<%- if @solr_total_conn -%>
solr.total.conn=<%= @solr_total_conn%>
<%- end -%>
<%- if @solr_max_retries -%>
solr.max.retries=<%= @solr_max_retries%>
<%- end -%>
<%- if @solr_max_rows -%>
solr.max.rows=<%= @solr_max_rows%>
<%- end -%>
<%- if @tms_config_file -%>
tms.config.file=<%= @tms_config_file%>
<%- end -%>
<%- if @externallink_data_config -%>
externallink.data.config=<%= @externallink_data_config%>
<%- end -%>
<%- if @channel_dam_config -%>
channel.dam.config=<%= @channel_dam_config%>
<%- end -%>

<%- if @provider_conf_location -%>
provider.conf.location=<%= @provider_conf_location%>
<%- end -%>

# Properties
seriesid.thumbnailurl.config=/var/Jukebox/appdata/ingestor/override_thumbnails.csv

atomhopper.url=http://atomhoppervip:8080/mobi-thirdparty-atomhopper/atom/feed/

persistent.field.indicator=em_persist

connection.timeout=3000

read.timeout=3000

