# Properties file for specifying the hibernate properties to be used by the applications
hibernate.show_sql=false
hibernate.generateDdl=false

# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true

#Active MQ broker configuration
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The URL of the DAM Webservice
dam.webservice.url=<%= @dam_webservice_url %>

# The URL of the Folder Manager Webservice
fm.webservice.url=<%= @fm_webservice_url %>

# Property to indicate if the application is running in cluster mode
cache.cluster.mode=<%= @cache_cluster_mode %>

#URL of the cluster node for cluster management
cluster.node.url=http://localhost:8080/scheduler/scheduler_cache

# Various intervals for in memory cluster jobs
cluster.check.interval=10 * * * * ?
node.checkin.interval=<%= @node_checkin_interval %>

# Folder playlist manager job interval
folderplaylist.check.interval=<%= @folderplaylist_interval %>

# Interval to refresh the ad configuration data from the legacy database
legacy.ad.refresh.interval=<%= @legacy_ad_interval %>

# Interval for generating the 24 hour guide data - currently set to run at noon and at 00 hours
guide.interval=0 0 0,12 * * ?

# Checkin threshold in milliseconds
checkin.threshold=90000

# The default time for which the playout wlill be requested for each channel
# This is a very important property so do not modify this property without
# consulting the development team
playout.minutes=<%= @playout_minutes %>

# The gap in seconds that will be used to write the insertlist file for the next playout
playout.insertlist.gap=<%= @playout_insertlist_gap %>

# This property controls the time the playout task will wait before requerying
# the playout from the state machine in case of an error condition or no playout data 
playout.error.minutes=<%= @playout_error_minutes %>

# Sleep time in seconds to indicate how much time the cluster manager should sleep
# before distributing the channels. This property is also important if the tomcat instance
# is taking too long to startup because the way the application initializes is by issuing
# http requests to itself and all other available nodes!
initial.sleep.time=<%= @initial_sleep_time %>

# Yahoo URL for getting Yahoo advertising
yahoo.url=http://mobitv.smap.mobile.yahoo.com/p/smap?f=$spaceid$&pn=mobitv&l=WPV30&mrkup=mobitv
