<%# Here we use an indent of 12 spaces to make everything fast -%>
<% indent=" "*12 -%>
{
<% if @output_format -%>
    "output-format": "<%= @output_format %>",
<% end -%>
<% if @http_base_url -%>
    "http-base-url": "<%= @http_base_url %>",
<% end -%>
<% if @license_manager_v1_url -%>
    "license-manager-v1-url": "<%= @license_manager_v1_url %>",
<% end -%>
<% if @license_manager_v2_url -%>
    "license-manager-v2-url": "<%= @license_manager_v2_url %>",
<% end -%>
<% if @roap_server_url -%>
    "roap-server-url": "<%= @roap_server_url %>",
<% end -%>
<% if @license_manager_timeout -%>
    "license-manager-timeout": <%= @license_manager_timeout -%>,
<% end -%>
<% if @license_manager_retrycount -%>
    "license-manager-retrycount": <%= @license_manager_retrycount %>,
<% end -%>
<% if @adjust_start_time -%>
    "adjust-start-time": <%= @adjust_start_time %>,
<% end -%>
<% unless @fragfile_writer_flags.nil? || @fragfile_writer_flags.empty? -%>
    "fragfile-writer-flags": <%= PSON.fast_generate(@fragfile_writer_flags.sort!) %>,
<% end -%>
<% unless @create_root_directory.nil? -%>
    "create-root-directory": <%= @create_root_directory %>,
<% end -%>
<% unless @use_encryption.nil? -%>
    "use-encryption": <%= @use_encryption %>,
<% end -%>
<% if @override_output_base -%>
    "output-base": "<%= @override_output_base %>",
<% end -%>
<% if @hls_aes_salt -%>
    "hls_aes_salt": "<%= @hls_aes_salt %>",
<% end -%>
<% if @variants -%>
    "variants": <%= PSON.fast_generate(@variants.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i } ) %>,
<% end -%>
    "filter-scripts": [
        {
<%= indent -%>"channels": <%= PSON.fast_generate(@channels.sort! { |a,b| a.to_i <=> b.to_i}) %>,
<% unless @skus.nil? || @skus.empty? -%>
<%= indent -%>"skus": { <% @skus.keys.sort.each_with_index do |chan,i| -%>"<%= chan -%>":<%= PSON.fast_generate(@skus[chan].sort!) -%><% if i != @skus.keys.length-1 -%><%= ",\n" -%><%= indent -%><%= " "*10 -%><%end -%><% end -%> }, 
<% end -%>
<%= indent -%>"name": "time_interval.py",
<%= indent -%>"arguments": <%= PSON.fast_generate(@arguments.sort!) %>
        }
    ]
}
