<% indent=" "*12 -%>
<% filters = [] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% filters << resource[:title] if resource.type == "Fragcontroller::Filtergroup" -%>
<% end -%>
{
<% if @rest_server_port -%>
<%= indent -%>"rest-server-port": <%= @rest_server_port %>,
<% end -%>
<% if @adjust_start_time -%>
<%= indent -%>"adjust-start-time": <%= @adjust_start_time %>,
<% end -%>
<% unless @use_encryption.nil? -%>
<%= indent -%>"use-encryption": <%= @use_encryption %>,
<% end -%>
<% if @license_manager_url -%>
<%= indent -%>"license-manager-url": "<%= @license_manager_url %>",
<% end -%>
<% if @license_manager_v1_url -%>
<%= indent -%>"license-manager-v1-url": "<%= @license_manager_v1_url %>",
<% end -%>
<% if @license_manager_v2_url -%>
<%= indent -%>"license-manager-v2-url": "<%= @license_manager_v2_url %>",
<% end -%>
<% if @roap_server_url -%>
<%= indent -%>"roap-server-url": "<%= @roap_server_url %>",
<% end -%>
<% if @license_manager_timeout -%>
<%= indent -%>"license-manager-timeout": <%= @license_manager_timeout %>,
<% end -%>
<% if @license_manager_retrycount -%>
<%= indent -%>"license-manager-retrycount": <%= @license_manager_retrycount %>,
<% end -%>
<% unless @create_root_directory.nil? -%>
<%= indent -%>"create-root-directory": <%= @create_root_directory %>,
<% end -%>
<% unless @create_directories.nil? -%>
<%= indent -%>"create-directories": <%= @create_directories %>,
<% end -%>
<% unless @fragfile_writer_flags.nil? || @fragfile_writer_flags.empty? -%>
<%= indent -%>"fragfile-writer-flags": <%= PSON.fast_generate(@fragfile_writer_flags.sort!) %>,
<% end -%>
<% unless @fragfile_writer_variant_flags.nil? || @fragfile_writer_variant_flags.empty? -%>
<%= indent -%>"fragfile-writer-variant-flags": <%= PSON.fast_generate(@fragfile_writer_variant_flags.sort!) %>,
<% end -%>
<% if @use_pts_start_time -%>
<%= indent -%>"use-pts-start-time": <%= @use_pts_start_time %>,
<% end -%>
<%= indent -%>"mode": "<%= @mode %>",
<%= indent -%>"sdp-base": "<%= @sdp_base %>",
<%= indent -%>"output-base": "<%= @output_base %>",
<%= indent -%>"variants": <%= PSON.fast_generate(@variants.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i } ) %>,
<%= indent -%>"filter-configurations": <%= PSON.fast_generate(filters.sort! ) %>
}
