#####################################################
# PUPPET Managed file, changes will be overwritten.
#####################################################
# http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
# https://confluence.mobitv.corp/display/operations/NG+FMP4+Live

# GLOBAL
global
    log 127.0.0.1 local2
    maxconn 35000
    chroot	/var/lib/haproxy
    pidfile	/var/run/haproxy.pid
    user	haproxy
    group	haproxy
    daemon
    #stats socket /var/run/haproxy.sock mode 777 level operator

# DEFAULTS
defaults
    log                 global
    mode                http
    option              httplog
    option              log-separate-errors
    option              logasap
    option              dontlognull
    retries             3
    option              redispatch
    option              httpclose
    maxconn             32000
    timeout http-request    20s
    timeout queue           1m
    timeout connect         20s
    timeout client          1m
    timeout server          1m
    #timeout http-keep-alive 20s
    timeout check           20s

# FRONTEND
frontend http
    bind 0.0.0.0:<%= bind_port %>
    #option	http-server-close
    monitor-uri /
    default_backend varnish-cache

# BACKEND
backend varnish-cache
    balance <%= balance_mode %>
    option httpchk <%= check_method -%> <%= check_url -%> HTTP/1.0
    http-check disable-on-404
    server <%= fqdn -%> <%= ipaddress_eth0 -%>:<%= backend_port -%> check inter <%= check_inter %>
<% balance_list.each do |host| -%>
    server <%= host -%> <%= Socket.getaddrinfo(host,nil)[0][3] -%>:<%= backend_port -%> check inter <%= check_inter %>
<% end -%>

###BEGIN stats_scope###
listen stats :1936
    mode http
    stats enable
    stats scope varnish-cache
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:admin


