input {
<% logtypes.each do |type| -%>
  file {
    path    => <%= type['path'] %>
    type    => "<%= type['type'] %>"
    tags    => <%= type['tags'] %>
    exclude => "<%= type['exclude'] %>"
  }
<% end %>
}
