#Auth components
auth.manager.url=<% if @mobi_push_director_properties_hash["auth.manager.url"] %><%= @mobi_push_director_properties_hash["auth.manager.url"];@mobi_push_director_properties_hash.delete("auth.manager.url") %><% else %>http://authmanagervip:8080/mobi-aaa-stub-identity-manager-oauth2<% end %>
rights.manager.url=<% if @mobi_push_director_properties_hash["rights.manager.url"] %><%= @mobi_push_director_properties_hash["rights.manager.url"];@mobi_push_director_properties_hash.delete("rights.manager.url") %><% else %>http://rightsmanagervip:8080/mobi-aaa-stub-identity-manager-oauth2<% end %>

# Default topics to be created at startup (comma-separated Strings)
topics.default=<% if @mobi_push_director_properties_hash["topics.default"] %><%= @mobi_push_director_properties_hash["topics.default"];@mobi_push_director_properties_hash.delete("topics.default") %><% else %>mobi_push,EPG,NFL<% end %>

#ms broker
ms.broker.url=<% if @mobi_push_director_properties_hash["jms.broker.url"] %><%= @mobi_push_director_properties_hash["ms.broker.url"];@mobi_push_director_properties_hash.delete("ms.broker.url") %><% else %>failover://(tcp://msamq01:61616,tcp://msamq02:61616)?initialReconnectDelay=1000&startupMaxReconnectAttempts=1&randomize=false<% end %>

#memcached properties
memcached.servers=<% if @mobi_push_director_properties_hash["memcached.servers"] %><%= @mobi_push_director_properties_hash["memcached.servers"];@mobi_push_director_properties_hash.delete("memcached.servers") %><% else %>msliv01p1:11211,msliv02p1:11211<% end %>
#time to expire is 2 hours and 10 min which is 7800 seconds
memcached.authdata.ttl=<% if @mobi_push_director_properties_hash["memcached.authdata.ttl"] %><%= @mobi_push_director_properties_hash["memcached.authdata.ttl"];@mobi_push_director_properties_hash.delete("memcached.authdata.ttl") %><% else %>7800<% end %>
<% @mobi_push_director_properties_hash.each do |key, value| -%>
<%= key %>=<%= value %>
<% end %>
