<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- selective overloads -->
	<entry key="properties.context">local-override</entry>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_caching_policy") != "" %><entry key="auth.caching.policy"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_caching_policy") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_resource_server_type") != "" %><entry key="auth.resource.server.type"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_resource_server_type") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_oauth2_server_url") != "" %><entry key="auth.oauth2.server.url"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_oauth2_server_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_rights_server_url") != "" %><entry key="auth.rights.server.url"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_rights_server_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_connection_timeout") != "" %><entry key="auth.connection.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_connection_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::auth_read_timeout") != "" %><entry key="auth.read.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_read_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_servers") != "" %><entry key="memcached.servers"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_servers") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_mutex_lockattempts") != "" %><entry key="memcached.mutex.lockattempts"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_mutex_lockattempts") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_mutex_maxtimeout") != "" %><entry key="memcached.mutex.maxtimeout"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_mutex_maxtimeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_access_get_timeout") != "" %><entry key="memcached.access.get.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_access_get_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_access_getbulk_timeout") != "" %><entry key="memcached.access.getbulk.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_access_getbulk_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::memcached_health_check_enabled") != "" %><entry key="memcached.health.check.enabled"><%= scope.lookupvar("mobi_aaa_stream_manager::memcached_health_check_enabled") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::cron_expired_paused_clients_manager") != "" %><entry key="cron.expired.paused.clients.manager"><%= scope.lookupvar("mobi_aaa_stream_manager::cron_expired_paused_clients_manager") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::expired_paused_clients_manager_dt_eons_enabled") != "" %><entry key="expired.paused.clients.manager.dt.eons.enabled"><%= scope.lookupvar("mobi_aaa_stream_manager::expired_paused_clients_manager_dt_eons_enabled") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::idm_health_check_url") != "" %><entry key="idm.health.check.url"><%= scope.lookupvar("mobi_aaa_stream_manager::idm_health_check_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::rights_health_check_url") != "" %><entry key="rights.health.check.url"><%= scope.lookupvar("mobi_aaa_stream_manager::rights_health_check_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::health_check_connection_timeout") != "" %><entry key="health.check.connection.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::health_check_connection_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::health_check_read_timeout") != "" %><entry key="health.check.read.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::health_check_read_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::recording_manager_host") != "" %><entry key="recording.manager.host"><%= scope.lookupvar("mobi_aaa_stream_manager::recording_manager_host") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::recording_manager_create_tstv_recording_url") != "" %><entry key="recording.manager.create.tstv.recording.url"><%= scope.lookupvar("mobi_aaa_stream_manager::recording_manager_create_tstv_recording_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::recording_manager_delete_tstv_recording_url") != "" %><entry key="recording.manager.delete.tstv.recording.url"><%= scope.lookupvar("mobi_aaa_stream_manager::recording_manager_delete_tstv_recording_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::dt_eons_tstv_recording") != "" %><entry key="dt.eons.tstv.recording"><%= scope.lookupvar("mobi_aaa_stream_manager::dt_eons_tstv_recording") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_stream_manager::recording_manager_health_check_url") != "" %><entry key="recordming.manager.health.check.url"><%= scope.lookupvar("mobi_aaa_stream_manager::recording_manager_health_check_url") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::cron_expire_stale_stream") != "" %><entry key="cron.expire.stale.streams"><%= scope.lookupvar("mobi_aaa_stream_manager::cron_expire_stale_stream") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::auth_session_server_url") != "" %><entry key="auth.session.Server.url"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_session_server_url") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::auth_enable_session_manager") != "" %><entry key="auth.enableSession.manager"><%= scope.lookupvar("mobi_aaa_stream_manager::auth_enable_session_manager") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::dt_eons_timeout") != "" %><entry key="dt.eons.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::dt_eons_timeout") -%><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::dt_eons_heartbeat") != "" %><entry key="dt.eons.heartbeat"><%= scope.lookupvar("mobi_aaa_stream_manager::dt_eons_heartbeat") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::sprint_mobitv_timeout") != "" %><entry key="sprint.mobitv.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::sprint_mobitv_timeout") -%><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::sprint_mobitv_heartbeat") != "" %><entry key="sprint.mobitv.heartbeat"><%= scope.lookupvar("mobi_aaa_stream_manager::sprint.mobitv.heartbeat") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::sprint_mobitv_tstv_recording") != "" %><entry key="sprint.mobitv.tstv.recording"><%= scope.lookupvar("mobi_aaa_stream_manager::sprint_mobitv_tstv_recording") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::platform_reference_timeout") != "" %><entry key="platform.reference.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::platform_reference_timeout") -%><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::platform_reference_heartbeat") != "" %><entry key="platform.reference.heartbeat"><%= scope.lookupvar("mobi_aaa_stream_manager::platform_reference_heartbeat") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::platform_reference_tstv_recording") != "" %><entry key="platform.reference.tstv.recording"><%= scope.lookupvar("mobi_aaa_stream_manager::platform_reference_tstv_recording") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::technicolor_mgo_timeout") != "" %><entry key="technicolor.mgo.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::technicolor_mgo_timeout") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::technicolor_mgo_heartbeat") != "" %><entry key="technicolor.mgo.heartbeat"><%= scope.lookupvar("mobi_aaa_stream_manager::technicolor_mgo_heartbeat") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::infotel_r4g_timeout") != "" %><entry key="infotel.r4g.timeout"><%= scope.lookupvar("mobi_aaa_stream_manager::infotel_r4g_timeout") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::infotel_r4g_heartbeat") != "" %><entry key="infotel.r4g.heartbeat"><%= scope.lookupvar("mobi_aaa_stream_manager::infotel_r4g_heartbeat") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_stream_manager::jersey_restclient_maxConnections") != "" %><entry key="jersey.restclient.maxConnections"><%= scope.lookupvar("mobi_aaa_stream_manager::jersey_restclient_maxConnections") -%></entry><% end %>
</properties>
