# Fully qualified domain name for machine
# <%= ipaddress %> <%= fqdn %> <%= hostname %>

# Localhost
127.0.0.1 <%= hosts_lh_hostnames %>

#Database
<%= hosts_db1_ip %> <%= hosts_db1_hostnames %>

# Subversion
<%= hosts_svn_ip %> <%= hosts_svn_hostnames %>
