##############################################################
#	PUPPET MANAGED
#
# PUPPET: <%= hostname %>.<%=domain %> is maintained by puppet on <%= servername %>
# PUPPET: edits made by hand will be overridden every puppet agent 
# PUPPET: run, which is on a 30 minute interval. Please contact
# PUPPET: Alex (alevy@mobitv.com) for more info.
#
#	PUPPET MANAGED
##############################################################
Stack=<%= modt_stackname %>
Owner=<%= modt_owner %>
hosttype=vm
servertype=puppet test machine