CREATE DATABASE IF NOT EXISTS POLICY_MGR;
CREATE USER '<%= @policy_username %>'@'%' IDENTIFIED BY '<%= @policy_password %>';
GRANT ALL PRIVILEGES ON POLICY_MGR.* TO '<%= @policy_username %>'@'%' WITH GRANT OPTION;

flush privileges;
