#!/bin/bash
echo "Installing Policy Manager Database :"
mysql -uroot -p<%= @database_root_password %> < /var/mobi-policy-manager/database/create_databases.sql

mysql -u<%= @policy_username %> -p<%= @policy_password %> POLICY_MGR < /var/mobi-policy-manager/database/policy-schema.sql

touch /var/mobi-policy-manager/database/installation.done
echo "Policy Manager Installation is done! "
