<?php

// parameters
// 1) provider name
// 2) provider password

$db_host="hostmanager";

if (count($argv) != 3) {
  print "Incorrect number of argument supplied" . "\n";
  print "Syntax:  php " . $argv[0] . " provider_name password" . "\n";
  exit -1;
}

$provider_name = $argv[1];
$password = $argv[2];

/* Connect to Mobi2 Lite Database */
$mobi2_db = new mysqli($db_host, "<%= ing_username %>", "<%= ing_password %>", "mobi2lite");
if ($mobi2_db->connect_errno) {
    print "Failed to connect to MySQL: (" . $mobi2_db->connect_errno . ") " . $mobi2_db->connect_error . "\n";
    exit -1;
}

/* Connect to WFM Database */
$wfm_db = new mysqli($db_host, "<%= wfm_username %>", "<%= wfm_password %>", "wfm");
if ($wfm_db->connect_errno) {
    print "Failed to connect to MySQL: (" . $wfm_db->connect_errno . ") " . $wfm_db->connect_error . "\n";
    exit -1;
}


/* Insert into PROVIDERS table */
if (!($stmt = $mobi2_db->prepare("INSERT INTO PROVIDERS (PROVIDER,PASSWORD,TIME_ZONE,DFLT_CONTENT_SHELF_LIFE,SECURED_OVER_WIFI,MANAGE_CHAPTERIZED_CONTENT) values (?,?,'GMT',0,'FALSE','FALSE')"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("ss", $provider_name, md5($password))) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Get the PROVIDER_ID field from the PROVIDERS table */
$provider_id = -1;
$result = $mobi2_db->query("SELECT PROVIDER_ID FROM PROVIDERS WHERE PROVIDER = '" . $provider_name . "'");
if($result) {
     // Cycle through results
    while ($row = $result->fetch_object()){
      print "Provider-ID: " . $row->PROVIDER_ID . "\n";
      $provider_id = $row->PROVIDER_ID;
      break;
    }

    // Free result set
    $result->close();
    $mobi2_db->next_result();
}
else {
  print "Unable to get provider-id query results" . "\n";
    exit -1;
}

if ($provider_id <= 0) {
  print "Unable to get provider-id" . "\n";
  exit -1;
}


/* Insert into PROVIDER_METADATA table */
if (!($stmt = $mobi2_db->prepare("INSERT INTO PROVIDER_METADATA_CONFIG (PROVIDER_ID,TITLE,SHORT_TITLE,SYNOPSIS,KEYWORD,GENRE,EXPIRES,SLOT,START_OF_AVAILABILITY,FOLDER,INDIRECT_UPLOAD_URL,CHECKSUM,THUMBNAIL_UPLOAD_URL,INDUSTRY,TICKER,CRID,ENABLE_LOCAL_PLAYBACK,ENABLE_WIFI) values (?,'TITLE','SHORTTITLE','SYNOPSIS','KEYWORD','GENRE','ENDOFAVAILABILITY','SLOT','STARTOFAVAILABILITY','FOLDER','INDIRECTUPLOADURL','CHECKSUM',null,null,null,null,'ENABLELOCALPLAYBACK','ENABLEWIFI')"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}



/* Insert into WFM_PROVIDER_CONTEXT table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_CONTEXT (ID,PRIORITY,CONTENT_AUTH_MODE,ADVERTISING_SOURCE,TRANSCODING_CLUSTER, ENCRYPTION_REQUIRED) values (?,50,'NotRequired',null,'simulator', 'TRUE');"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}



/* Insert into WFM_PROVIDER_WORKFLOW table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_WORKFLOW (PROVIDER_ID,WORKFLOW_ID) values (?,1)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Insert into WFM_PROVIDER_ENCODING table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_ENCODING (PROVIDER_ID,ENCODING_ID) values (?,1)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Insert into WFM_PROVIDER_ENCODING table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_ENCODING (PROVIDER_ID,ENCODING_ID) values (?,2)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Insert into WFM_PROVIDER_ENCODING table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_ENCODING (PROVIDER_ID,ENCODING_ID) values (?,3)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Insert into WFM_PROVIDER_ENCODING table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_ENCODING (PROVIDER_ID,ENCODING_ID) values (?,4)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}


/* Insert into WFM_PROVIDER_ENCODING table */
if (!($stmt = $wfm_db->prepare("Insert into WFM_PROVIDER_ENCODING (PROVIDER_ID,ENCODING_ID) values (?,5)"))) {
    print "Prepare failed: (" . $mobi2_db->errno . ") " . $mobi2_db->error;
    exit -1;
}

if (!$stmt->bind_param("i", $provider_id)) {
    print "Binding parameters failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

if (!$stmt->execute()) {
    print "Execute failed: (" . $stmt->errno . ") " . $stmt->error . "\n";
    exit -1;
}

// Create Aspera upload directory
$upload_dir = "/var/Jukebox/aspera/" . $provider_name;
mkdir($upload_dir);
chown($upload_dir, "rtv");
chgrp($upload_dir, "arlanda");
chmod($upload_dir, 0775);

// Create symbolic link for search transformation
symlink("/var/Jukebox/uploads/search_transform/search_default_transformation.xslt", "/var/Jukebox/uploads/search_transform/" . $provider_id . ".xslt");

print "Finished successfully\n";

?>