# Properties file for specifying the hibernate properties to be used by the applications
hibernate.show_sql=false
hibernate.generateDdl=false
hibernate.database_vendor=MYSQL

# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true

# location of provider directories
provider.search.transform.path=/var/Jukebox/uploads/search_transform
provider.upload.directory=/var/Jukebox/uploads/xslt
date.time.service.url=http://localhost/strtotime.php

# The URL of the DAM Webservice
dam.webservice.url=http://juarnvip:8080/dam/ws?wsdl

# The URL of the Folder Manager Application for accessing RESTful services 
fm.webservice.url=http://juarnvip:8080/foldermanager/

# a default folder for ingestion
default.folder=/

#Active MQ broker configuration
#mq.broker.url=vm://localhost
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The number of consumers on the INGESTASSET JMS queue
ingestasset.queue.consumers.size=10

# The number of consumers on the METADATAPROCESSING JMS queue
metadataprocessing.queue.consumers.size=1

# The number of consumers on the FTP UPLOAD JMS queue
ftpupload.queue.consumers.size=1

# Whether the content lineup should be automated after content is added
automate.content.lineups=true

# whether to update package mappings when adding a new inventory-folder association
update.package.mapping=false

# Pattern for the storage of provider-supplied XML metadata files
asset.metadata.naming.pattern=/var/Jukebox/uploads/metadata/${PROVIDER_ID}/${INVENTORY_ID}-${VERSION}.xml

# health check file system check list 
ingestor.file.list=/var/Jukebox/ee,/var/Jukebox/mp,/var/Jukebox/ftpupload,/var/Jukebox/uploads,/var/Jukebox/vod

# aspera ingestor properties
metadata.postprocess.provider = mobicontent
sftp.host = <%= sftp_host %>
sftp.port = <%= sftp_port %>
sftp.user = <%= sftp_user %>
sftp.password = <%= sftp_password %>
hostkey.file = /home/rtv/.ssh/known_hosts
mediainfo.path = /usr/bin/mediainfo
core.pool.size=1
max.pool.size=20
