#Active MQ broker configuration
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The number of JMS consumers, default 1
queue.consumers.size=1

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=10

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=20

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=1000

# Name of the JMS Queue that the Search Agent should listen to
queue.name=MGO_POSTPROCESSOR.QUEUE

# Base directory for Widevine encodings
widevine.vod.base.directory=/var/Jukebox/vod/widevine

# Base directory for MGo symbolic links to Widevine encodings
mgo.vod.base.directory=/var/Jukebox/vod/mgo

# Pattern for the storage of provider-supplied XML metadata files
asset.metadata.naming.pattern=/var/Jukebox/uploads/metadata/${PROVIDER_ID}/${INVENTORY_ID}-${VERSION}.xml

# Base URL for the Widevine content to be served
widevine.url.base=<%= widevine_url_base %>

# Hostname for the Technicolor FTP server
mgo.ftp.hostname=<%= mgo_ftp_hostname %>

# Port for the Technicolor FTP server
mgo.ftp.port=<%= mgo_ftp_port %>

# Username for the Technicolor FTP server
mgo.ftp.username=<%= mgo_ftp_username %>

# Password for the Technicolor FTP server
mgo.ftp.password=<%= mgo_ftp_password %>

# Path where the Technicolor XML files should be placed on the remote server
mgo.ftp.pathname=<%= mgo_ftp_pathname %>
