<?php

// parameters
// 1) provider name
// 2) content CRID

$db_host="hostmanager";

if (count($argv) != 3) {
  print "Incorrect number of argument supplied" . "\n";
  print "Syntax:  php " . $argv[0] . " provider_name CRID" . "\n";
  exit -1;
}

$provider_name = $argv[1];
$crid = $argv[2];

/* Connect to Mobi2 Lite Database */
$mobi2_db = new mysqli($db_host, "<%= ing_username %>", "<%= ing_password %>", "mobi2lite");
if ($mobi2_db->connect_errno) {
    print "Failed to connect to MySQL: (" . $mobi2_db->connect_errno . ") " . $mobi2_db->connect_error . "\n";
    exit -1;
}

/* Get the PROVIDER_ID field from the PROVIDERS table */
$provider_id = -1;
$result = $mobi2_db->query("SELECT PROVIDER_ID FROM PROVIDERS WHERE PROVIDER = '" . $provider_name . "'");
if($result) {
     // Cycle through results
    while ($row = $result->fetch_object()){
      print "Provider-ID: " . $row->PROVIDER_ID . "\n";
      $provider_id = $row->PROVIDER_ID;
      break;
    }

    // Free result set
    $result->close();
    $mobi2_db->next_result();
}
else {
  print "Unable to get provider-id query results" . "\n";
    exit -1;
}

if ($provider_id <= 0) {
  print "Unable to get provider-id" . "\n";
  exit -1;
}


/* Get the INVENTORY_ID field from the CONTENT table */
$inventory_id = -1;
$result = $mobi2_db->query("SELECT INVENTORY_ID FROM CONTENT WHERE CRID = '" . $crid . "' AND PROVIDER_ID = " . $provider_id);
if($result) {
     // Cycle through results
    while ($row = $result->fetch_object()){
      print "Inventory-ID: " . $row->INVENTORY_ID . "\n";
      $inventory_id = $row->INVENTORY_ID;
      break;
    }

    // Free result set
    $result->close();
    $mobi2_db->next_result();
}
else {
  print "Unable to get inventory-id query results" . "\n";
    exit -1;
}

if ($inventory_id <= 0) {
  print "Unable to get inventory-id" . "\n";
  exit -1;
}



// Make SOAP call to WFM to trigger transcoding
$wsdlUrl = "http://juarnvip:8080/wfm/ws?wsdl";
$client = new SoapClient($wsdlUrl, array('trace' => false, 'wsdl_cache' => false));

try {
  $result = $client->transcodeAsset(
				    array(
					  "providerId" => $provider_id,
					  "inventoryId" => $inventory_id
					  ));
}
catch (SoapFault $soapFault) {
  print "SOAP call to WFM failed\n";
  exit -1;
}

print "Finished successfully\n";

?>