<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
 <!-- override properties go here -->
  <entry key="solr.server.url"><%= @solr_server_url -%></entry>
  <entry key="storage.recording.provider"><%= @storage_recording_provider -%></entry>
  <entry key="amq.broker.url"><%= @amq_broker_url -%></entry>
  <entry key="recording.manager.profile.id"><%= @recording_manager_profile_id -%></entry>
  <entry key="live.to.vod.time.interval"><%= @livetovod_time_interval -%></entry>
  <entry key="live.to.vod.cron.expression"><%= @livetovod_cron_expression -%></entry>
  <entry key="live.to.vod.job.enabled"><%= @livetovod_job_enabled -%></entry>
  <entry key="thumbnail.upload.path"><%= @thumbnail_upload_path -%></entry>
  <entry key="recording.manager.endpoint.url"><%= @recording_manager_endpoint_url -%></entry>
  <entry key="thumbnail.upload.url"><%= @thumbnail_upload_url -%></entry>
  <entry key="thumbnail.allowed.formats"><%= @thumbnail_allowed_formats -%></entry>
  <entry key="update.metadata.excluded.parameters"><%= @update_metadata_excluded_parameters -%></entry>
</properties>
