<Context path="/mobi-policy-manager" docBase="/opt/mobi-policy-manager/webapp" debug="0">
     <Valve className="org.apache.catalina.valves.AccessLogValve"
                 directory="/var/log/mobi-policy-manager" prefix="mobi-policy-manager." suffix=".log"
                 pattern="combined" resolveHosts="false"/>
				 
  <Resource auth="Container"
	    name="jdbc/policyDS"
	    description="DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    minPoolSize="<%= @min_pool_size %>"
	    maxPoolSize="<%= @max_pool_size %>"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= @policy_username %>"
	    password="<%= @policy_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @policy_db_jdbc_url %>" />

</Context>
