<?xml version="1.0"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                 http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">
  
  <persistence-unit name="policyPU" transaction-type="RESOURCE_LOCAL">
  	<class>com.mobitv.policymanager.domain.Folder</class>
	<class>com.mobitv.policymanager.domain.FolderAssociation</class>
	<class>com.mobitv.policymanager.domain.Policy</class>
	<class>com.mobitv.policymanager.domain.PolicyVidMpng</class>
	<class>com.mobitv.policymanager.domain.PolicyVidInventoryMpng</class>
	    <properties>
        <property name="hibernate.show_sql" value="false" />
		<property name="hibernate.use_sql_comments" value="true" />
		<property name="hibernate.format_sql" value="false"/>
        <property name="hibernate.dialect" value="<%= @hibernate_database_dialect %>"/>
        <property name="hibernate.hbm2ddl.auto" value="none"/>		
                
         <!-- 2nd Level Cache for JPA  -->
         
         <property name="hibernate.cache.use_second_level_cache" value="true"/>
         <property name="hibernate.cache.use_query_cache" value="true"/>
         <property name="hibernate.cache.use_minimal_puts" value="true"/>    
         <property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.SingletonEhCacheProvider"/>
         <property name="net.sf.ehcache.configurationResourceName" value="/ehcache.xml"/>       
         <property name="hibernate.generate_statistics" value="true"/>  	
         <property name="hibernate.cache.use_structured_entries" value="true" />
         
         
    </properties>
  </persistence-unit>

</persistence>
