# URL of the Solr server 
dam.webservice.fm.url=http://damvip:8080/dam/services/folder/
dam.webservice.cm.url=http://damvip:8080/dam/services/channelmanager/


# Second level cache configuration
hibernate.show_sql=false
hibernate.use_sql_comments=false
hibernate.format_sql=false
db.dialect=org.hibernate.dialect.MySQL5Dialect
hibernate.hbm2ddl.auto=none 
hibernate.database_vendor=<%= @hibernate_database_vendor %>


hibernate.cache.use_second_level_cache=true
hibernate.cache.use_query_cache=true
hibernate.cache.use_minimal_puts=true
net.sf.ehcache.configurationResourceName=/ehcache.xml
hibernate.generate_statistics=true
hibernate.cache.use_structured_entries=true


# Active MQ  configuration

# Name of the JMS Topic that the PolicyManager should publish to
mq.searchagent.topic=SEARCH.TOPIC

#mq.broker.url=tcp://amq01:61616?trace=false&soTimeout=2
mq.broker.url=<%= @policy_manager_broker_url %>
mq.max.connections=<%= @policy_manager_max_connections %>

mq.policymanager.topic=POLICY_MANAGER.TOPIC

mq.policymanager.queue=<%= @policy_manager_queue %>
mq.policymanager.queue.size=<%= @policy_manager_queue_size %>


# Service Discovery 
zookeeper.connect.string=mszoo01p1:2181,mszoo02p1:2181,mszoo03p1:2181