# RIL Specific template managed by Puppet
# URL of the Solr server 
solr.server.url=http://localhost:8080/mobi-solr/
fm.webservice.url=http://localhost:8080/mobi-solr/
dam.webservice.url=http://localhost:8080/mobi-solr/
solr.input.records.per.trasaction=1000

# Added to address error message on startup
dam.webservice.fm.url=http://damvip:8080/dam/services/folder/
dam.webservice.cm.url=http://damvip:8080/dam/services/channelmanager/


# Second level cache configuration
hibernate.show_sql=true
hibernate.use_sql_comments=true
hibernate.format_sql=true
db.dialect=org.hibernate.dialect.MySQL5Dialect
hibernate.hbm2ddl.auto=none 
hibernate.database_vendor=<%= @hibernate_database_vendor %>


hibernate.cache.use_second_level_cache=true
hibernate.cache.use_query_cache=true
hibernate.cache.use_minimal_puts=true
net.sf.ehcache.configurationResourceName=/ehcache.xml
hibernate.generate_statistics=true
hibernate.cache.use_structured_entries=true



# Active MQ  configuration


# Name of the JMS Topic that the PolicyManager should publish to
mq.policy.mgr.topic.name=POLICYMGR.TOPIC

# Amount of seconds that Policy Manager should specify for the delivery delay of JMS replies
jms.reply.delivery.delay=61

#mq.broker.url=tcp://localhost:61616?trace=false&soTimeout=2

mq.broker.url=<%= @policy_manager_broker_url %>

# Size of the batch of inventory ids sent during link/unlink jms message
link.inventory.batch.size=100

taskexecutor.maxPoolSize=20
taskexecutor.corePoolSize=2
