mq.broker.url=<%= @mq_broker_url %>
TEMPLATE_FILE_PATH=<%= @template_file_path %>
FTPUPLOAD_PATH=<%= @ftp_upload_path %>
ORIGINALS_UPLOAD_PATH=<%= @originals_upload_path %>
PATH_IN_PROVIDER=<%= @path_in_provider %>
PROVIDER_NAME=<%= @provider_name %>
SOURCE_PATH=<%= @source_path %>
FILE_EXT_TO_BE_PROCESSED=<%= @file_ext_to_be_processed %>
SEGMENT_FILE_EXT_TO_BE_PROCESSED=<%= @segment_file_ext_to_be_processed %>
FILE_TRANSFER=<%= @file_transfer %>
NO_OF_FILES_TO_BE_PROCESSED=<%= @no_of_files_to_be_processed %>
TRANSIT_FILE_EXTENSION=<%= @transit_file_extension %>
LAST_SEGMENT=<%= @last_segment %>
ISILON_PATH=<%= @isilon_path %>
NO_OF_LAST_SEGMENTS_TO_BE_PROCESSED=<%= @no_of_last_segments_to_be_processed %>
