\c wfm;

INSERT INTO WFM_ENCODING VALUES (1,'Core QVGA encoding set','0','Core'),(2,'Core WQVGA encoding set','0','Core 16x9'),(3,'Apple Segmented Vod encoding set','0','AppleSegmentedVod'),(4,'Fragmented MP4 encoding set','0','FragmentedMp4');
INSERT INTO WFM_ENCODING_JOB VALUES (1,1),(2,2),(3,3),(4,4),(5,5),(6,6),(7,7),(8,8),(9,9),(10,10),(11,11),(12,12),(13,13),(14,14),(15,15),(16,16),(17,17),(18,18),(19,19),(20,20),(21,21),(22,22),(23,23),(24,24),(25,25),(26,26),(27,27),(28,28),(29,29),(30,30),(31,31),(32,32),(33,33),(34,34),(35,35),(36,36),(37,37),(38,38),(39,39),(40,40),(41,41),(42,42),(43,43),(44,44),(45,45),(46,46),(47,47),(48,48),(49,49),(50,50);
INSERT INTO WFM_ENCODING_MAP VALUES (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9),(1,10),(1,11),(1,12),(1,13),(1,14),(1,15),(1,16),(1,17),(1,18),(1,19),(1,20),(1,21),(1,22),(1,23),(1,24),(1,25),(1,26),(1,27),(1,28),(1,29),(1,30),(1,31),(1,32),(1,33),(1,34),(1,35),(1,36),(1,37),(1,38),(1,39),(1,40),(1,41),(1,42),(1,43),(1,44),(1,45),(1,46),(1,47),(1,48),(1,49),(1,50);
Insert into WFM_QRTZ_JOB_DETAILS (JOB_NAME,JOB_GROUP,DESCRIPTION,JOB_CLASS_NAME,IS_DURABLE,IS_VOLATILE,IS_STATEFUL,REQUESTS_RECOVERY) values ('workflowCleanupJob','DEFAULT',null,'com.mobitv.arlanda.wfm.tasks.CleanupTask','0','0','0','0');

Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (61,'TranscodeWinMo','Winmo transcode workflow','TranscodeWinMo','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>MakeAssetAvailable</id>
            <class>MakeAssetAvailableTask</class>
            <dependencies>
                <dependency>XCodeTask</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>GetAssetInfo</id>
            <class>GetAssetInfoTask</class>
            <dependencies/>
            <taskdata/>
        </task>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>MakeAssetAvailable</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>XCodeTask</id>
            <class>XCodeTask</class>
            <dependencies>
                <dependency>GetAssetInfo</dependency>
            </dependencies>
            <taskdata>
                <dataitem>
                    <key>encodingName</key>
                    <value>WinMo</value>
                </dataitem>
            </taskdata>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (2,'DefaultTranscode','Default content transcoding workflow','Transcode','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
  <tasklist>
    <task>
      <id>Finished</id>
      <class>FinishedTask</class>
      <dependencies>
        <dependency>MakeAssetAvailable</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>MakeAssetAvailable</id>
      <class>MakeAssetAvailableTask</class>
      <dependencies>
        <dependency>XCodeSetup</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>XCodeSetup</id>
      <class>XCodeSetup</class>
      <dependencies>
        <dependency>GetAssetInfo</dependency>
      </dependencies>
      <taskdata>
	    <dataitem>
	      <key>xcodeTaskName</key>
	      <value>VantageXCodeTask</value>
	    </dataitem>
	    <dataitem>
	      <key>produceEncodingsForAllAspectRatios</key>
	      <value>false</value>
	    </dataitem>
      </taskdata>
    </task>
    <task>
      <id>GetAssetInfo</id>
      <class>GetAssetInfoTask</class>
      <dependencies/>
      <taskdata/>
    </task>
  </tasklist>
</workflowdescription>');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (81,'TranscodeRTSP','RTSP transcode workflow','TranscodeRTSP','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>XCodeTask</id>
            <class>XCodeTask</class>
            <dependencies>
                <dependency>GetAssetInfo</dependency>
            </dependencies>
            <taskdata>
                <dataitem>
                    <key>encodingName</key>
                    <value>RTSP</value>
                </dataitem>
            </taskdata>
        </task>
        <task>
            <id>MakeAssetAvailable</id>
            <class>MakeAssetAvailableTask</class>
            <dependencies>
                <dependency>XCodeTask</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>MakeAssetAvailable</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>GetAssetInfo</id>
            <class>GetAssetInfoTask</class>
            <dependencies/>
            <taskdata/>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (121,'DefaultAudioIngest','Default audio-only content ingestion workflow','IngestAudioContent','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>XCodeAudioSetup</id>
            <class>XCodeAudioSetup</class>
            <dependencies/>
            <taskdata/>
        </task>
        <task>
            <id>MakeAssetAvailable</id>
            <class>MakeAssetAvailableTask</class>
            <dependencies>
                <dependency>XCodeAudioSetup</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>MakeAssetAvailable</dependency>
            </dependencies>
            <taskdata/>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (161,'TranscodeProgressiveDownload','Progressive Download transcode workflow','TranscodeProgressiveDownload','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>MakeAssetAvailable</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>XCodeTask</id>
            <class>XCodeTask</class>
            <dependencies>
                <dependency>GetAssetInfo</dependency>
            </dependencies>
            <taskdata>
                <dataitem>
                    <key>encodingName</key>
                    <value>ProgressiveDownload</value>
                </dataitem>
            </taskdata>
        </task>
        <task>
            <id>MakeAssetAvailable</id>
            <class>MakeAssetAvailableTask</class>
            <dependencies>
                <dependency>XCodeTask</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>GetAssetInfo</id>
            <class>GetAssetInfoTask</class>
            <dependencies/>
            <taskdata/>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (1,'DefaultIngest','Default content ingestion workflow','IngestContent','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
 <tasklist>
 <task>
 <id>Finished</id>
 <class>FinishedTask</class>
 <dependencies>
 <dependency>MakeAssetAvailable</dependency>
 </dependencies>
 <taskdata/>
 </task>
 <task>
 <id>MakeAssetAvailable</id>
 <class>MakeAssetAvailableTask</class>
 <dependencies>
 <dependency>CreateSMILDocumentForAsset</dependency>
 </dependencies>
 <taskdata/>
 </task>
 <task>
 <id>CreateSMILDocumentForAsset</id>
 <class>CreateSMILDocumentForAssetTask</class>
 <dependencies>
 <dependency>DeleteEncoding</dependency>
 </dependencies>
 <taskdata/>
 </task>
 <task>
 <id>DeleteEncoding</id>
 <class>DeleteEncodingTask</class>
 <dependencies>
 <dependency>XCodeSetup</dependency>
 </dependencies>
 <taskdata>
 <dataitem>
 <key>encodingName</key>
 <value>Core</value>
 </dataitem>
 </taskdata>
 </task>
 <task>
 <id>XCodeSetup</id>
 <class>XCodeSetup</class>
 <dependencies>
 <dependency>XCodePreflight</dependency>
 </dependencies>
 <taskdata>
 <dataitem>
 <key>xcodeTaskName</key>
 <value>VantageXCodeTask</value>
 </dataitem>
 <dataitem>
 <key>produceEncodingsForAllAspectRatios</key>
 <value>false</value>
 </dataitem>
 </taskdata>
 </task>
 <task>
 <id>XCodePreflight</id>
 <class>XCodePreflight</class>
 <dependencies>
 <dependency>SelectAdvertisements</dependency>
 </dependencies>
 <taskdata/>
 </task>
 <task>
 <id>SelectAdvertisements</id>
 <class>SelectAdvertisementsTask</class>
 <dependencies/>
 <taskdata/>
 </task>
 </tasklist>
</workflowdescription>');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (201,'TranscodePCTV','PCTV transcode workflow','TranscodePCTV','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>MakeAssetAvailable</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>GetAssetInfo</id>
            <class>GetAssetInfoTask</class>
            <dependencies/>
            <taskdata/>
        </task>
        <task>
            <id>XCodeTask</id>
            <class>XCodeTask</class>
            <dependencies>
                <dependency>GetAssetInfo</dependency>
            </dependencies>
            <taskdata>
                <dataitem>
                    <key>encodingName</key>
                    <value>PCTV</value>
                </dataitem>
            </taskdata>
        </task>
        <task>
            <id>MakeAssetAvailable</id>
            <class>MakeAssetAvailableTask</class>
            <dependencies>
                <dependency>XCodeTask</dependency>
            </dependencies>
            <taskdata/>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (141,'RegenerateProviderSMILDocuments','Default SMIL document regeneration workflow','RegenerateProviderSMILDocuments','<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<workflowdescription>
    <tasklist>
        <task>
            <id>Finished</id>
            <class>FinishedTask</class>
            <dependencies>
                <dependency>RegenerateProviderSMILDocuments</dependency>
            </dependencies>
            <taskdata/>
        </task>
        <task>
            <id>RegenerateProviderSMILDocuments</id>
            <class>RegenerateProviderSMILDocumentsTask</class>
            <dependencies/>
            <taskdata/>
        </task>
    </tasklist>
</workflowdescription>
');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (181,'IngestWithAds','Default ingestion workflow with ads','IngestContent','<?xml version="1.0"
  encoding="UTF-8" standalone="yes"?>
<workflowdescription>
  <tasklist>
    <task>
      <id>Finished</id>
      <class>FinishedTask</class>
      <dependencies>
<dependency>MakeAssetAvailable</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>MakeAssetAvailable</id>
      <class>MakeAssetAvailableTask</class>
      <dependencies>
<dependency>CreateSMILDocumentForAsset</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>CreateSMILDocumentForAsset</id>
      <class>CreateSMILDocumentForAssetTask</class>
      <dependencies>
<dependency>XCodeSetup</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>XCodeSetup</id>
      <class>XCodeSetup</class>
      <dependencies>
<dependency>XCodePreflight</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>XCodePreflight</id>
      <class>XCodePreflight</class>
      <dependencies>
        <dependency>SelectAdvertisements</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>SelectAdvertisements</id>
      <class>SelectAdvertisementsTask</class>
      <dependencies/>
      <taskdata/>
    </task>
  </tasklist>
</workflowdescription>');
Insert into WFM_WORKFLOW (ID,NAME,DESCRIPTION,WORKFLOW_TYPE,XML_TEMPLATE) values (182,'TranscodeWithAds','Default transcode workflow with ads','Transcode','<?xml version="1.0"
  encoding="UTF-8" standalone="yes"?>
<workflowdescription>
  <tasklist>
    <task>
      <id>Finished</id>
      <class>FinishedTask</class>
      <dependencies>
<dependency>MakeAssetAvailable</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>MakeAssetAvailable</id>
      <class>MakeAssetAvailableTask</class>
      <dependencies>
<dependency>CreateSMILDocumentForAsset</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>CreateSMILDocumentForAsset</id>
      <class>CreateSMILDocumentForAssetTask</class>
      <dependencies>
<dependency>XCodeSetup</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>XCodeSetup</id>
      <class>XCodeSetup</class>
      <dependencies>
<dependency>XCodePreflight</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>XCodePreflight</id>
      <class>XCodePreflight</class>
      <dependencies>
        <dependency>SelectAdvertisements</dependency>
      </dependencies>
      <taskdata/>
    </task>
    <task>
      <id>SelectAdvertisements</id>
      <class>SelectAdvertisementsTask</class>
      <dependencies/>
      <taskdata/>
    </task>
  </tasklist>
</workflowdescription>');

Insert into WFM_PROVIDER_CONTEXT (ID,PRIORITY,CONTENT_AUTH_MODE,TRANSCODING_CLUSTER,ADVERTISING_SOURCE,ENCRYPTION_REQUIRED) values (2,500,'NotRequired','simulator',null,'FALSE');

INSERT INTO WFM_PROVIDER_ENCODING VALUES (2,1),(2,3),(2,4);

Insert into WFM_PROVIDER_WORKFLOW (PROVIDER_ID,WORKFLOW_ID) values (2,1);

INSERT INTO wfm_qrtz_locks (lock_name) VALUES ('TRIGGER_ACCESS');
INSERT INTO wfm_qrtz_locks (lock_name) VALUES ('JOB_ACCESS');
INSERT INTO wfm_qrtz_locks (lock_name) VALUES ('CALENDAR_ACCESS');
INSERT INTO wfm_qrtz_locks (lock_name) VALUES ('STATE_ACCESS');
INSERT INTO wfm_qrtz_locks (lock_name) VALUES ('MISFIRE_ACCESS');

commit;

