license.server.url = https://fcpreg.shibboleth.tv/widevine/cypherpc/cgi-bin/GetEMMs.cgi

license.server.url.signed = true

digital.locker.url = http://cor-ns-mgo-vip.smf2.mobitv:8080/locker/right

# core/v3/user/{carrier}/{product}/{version}/{uid}/authorization/location
geo.location.url = http://ms4lbsvip.smf1.mobitv:8080/mobi-location/ip_check/technicolor/mgo/5.0

solr.server.url = http://solrmastervip:8080/mobi-solr

portal = medianavi

sf = medianavi

policy.setduration = 

policy.setpurduration =

policy.denyhd = 0

policy.usage.url = 

policy.hb.url = 

policy.hb.value =  

#policy.ack.url = aHR0cDovL2xhYjUwMm0ub2FrMS5tb2JpdHY6ODA4MC9saWNlbnNlcHJveHkvc2VydmljZXMvd2lkZXZpbmUvY3lwaGVycGMvQWNrRU1Ncw==
policy.ack.url = 

policy.setpolicy = 

rest.client.connectionTimeout = 10

rest.client.readTimeout = 10

rest.client.maxConnections = 10

rest.client.useragent = "Mobi MGO License Proxy/5.0.0.0"

license.verify = true

rights.verify = false

failopen = false

cdc.url = <%= @cdc_url %>


