<Directory <%= @WebContentDir %>>
      <Files "index.html">
      	    Header set Cache-control "no-cache, no-store"
            Header unset ETag
	    FileEtag None
      </Files>
 
      <FilesMatch "\.(js|css|txt|swf|png|jpeg|jpg|otf|ttf)$">
            Header set Cache-control "public, max-age=31536000"
            Header unset ETag
	    FileETag None
      </FilesMatch>
      
      <Files "buildnumber.txt">
            Header set Cache-control "no-cache, no-store"
            Header set Content-Type "text/plain, charset=utf-8"
            Header unset ETag
            FileETag None
     </Files> 

     <IfModule mod_deflate.c>
            <FilesMatch "\.(js|css)$">
                SetOutputFilter DEFLATE
            </FilesMatch>
     </IfModule>

     <IfModule dir_module>
           DirectoryIndex index.html
     </IfModule>
</Directory>

<% if not @proxy_pass_list.empty? -%>
<IfModule proxy_module>
#<IfModule mod_proxy.c>
    ProxyRequests Off
<% @proxy_pass_list.each do |item| -%>
    <%= item %>
<% end -%>
</IfModule>
<% end -%>

<IfModule rewrite_module>
#<IfModule mod_rewrite.c>
  RewriteEngine on
  <%- if @is_sms -%>
  <%- if @rewriteRule -%>
  RewriteRule <%= @rewriteRule %>  <%= @WebContentDir %>/<%= @version.split("-")[1].to_s -%>/$1
  <%- end -%>
  <%- else -%>
 <%- if @rewriteRule -%>
  RewriteRule <%= @rewriteRule %>  <%= @WebContentDir %>/<%= @version.split("-")[0].gsub(".","").to_s -%>/$1
  <%- end -%>
  <%- end -%>
  RewriteRule ^/vijay-trial/(.*)$  /var/www/html/reliance-trial-html/2037/$1
  RewriteRule ^/jiotest/(.*)$  /var/www/html/reliance-trial-html/2037/$1
</IfModule>
