#
#Override configurations as needed

<% if @refresh_token_lifetime %>refresh_token.lifetime.secs=264384000=<%= @refresh_token_lifetime -%><% end %>
<% if @access_token_lifetime %>access_token.lifetime.secs=<%= @access_token_lifetime -%><% end %>
