<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- selective overloads -->
	<entry key="properties.context">local-override</entry>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_caching_policy") != "" %><entry key="auth.caching.policy"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_caching_policy") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_resource_server_type") != "" %><entry key="auth.resource.server.type"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_resource_server_type") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_oauth2_server_url") != "" %><entry key="auth.oauth2.server.url"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_oauth2_server_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_rights_server_url") != "" %><entry key="auth.rights.server.url"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_rights_server_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_connection_timeout") != "" %><entry key="auth.connection.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_connection_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_read_timeout") != "" %><entry key="auth.read.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::auth_read_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_url") != "" %><entry key="dt.cus.url"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_connectiontimeout") != "" %><entry key="dt.cus.connectiontimeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_connectiontimeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_receivetimeout") != "" %><entry key="dt.cus.receivetimeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::dt_cus_receivetimeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_dt_cus_connect_timeout") != "" %><entry key="health.dt.cus.connect.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_dt_cus_connect_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_dt_cus_read_timeout") != "" %><entry key="health.dt.cus.read.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_dt_cus_read_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_url") != "" %><entry key="health.idm.url"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_connect_timeout") != "" %><entry key="health.idm.connect.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_connect_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_read_timeout") != "" %><entry key="health.idm.read.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_idm_read_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_url") != "" %><entry key="health.rights.url"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_url") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_connect_timeout") != "" %><entry key="health.rights.connect.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_connect_timeout") -%></entry><% end %>
	<% if scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_read_timeout") != "" %><entry key="health.rights.read.timeout"><%= scope.lookupvar("mobi_aaa_dt_adapter_cus::health_rights_read_timeout") -%></entry><% end %>
</properties>

