######################
# PUPPET managed file
######################
# Mail configuration
mail.host=smtp.sendgrid.net
mail.username=mobitvmail@mobitv.com 
mail.password=N3xtG3nM0bi
mail.authEnabled=true
mail.templateSubjectSuffix=Subject.txt
mail.templateBodyTextSuffix=.txt
mail.templateBodyHtmlSuffix=.html
mail.activateUrlRoot=http://rest.mobitv.com/web/v4
mail.validationRegEx=^[_A-Za-z0-9-]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$
mail.enabled=true

# SMS configuration
sms.urlTemplate=http://tcs-dde.com/sapi/?token=mobitvefb9&phone_number={phone}&message={message}
sms.activateUrlRoot=http://rest.mobitv.com/web/v4
sms.validationRegEx=
sms.enabled=true

# Cryptography
crypto.key=TheQuickBrownFoxJumpedOverTheLaz
crypto.enabled=true

# Velocity template folder
velocity.templateFolder=/opt/mobi-account-management/message-templates

#memcached override
<% if @memcached_servers %>memcached.servers=<%= @memcached_servers -%><% end %>

# Carrier Properties
# name: name of carrier
# emailMustBeActivated: Before device can be used, does it required activation by clicking link in sent email
# credentialRegenerationNeedsActivation: Will account owner need to have device reactivated when regenerating credential 
# multipleDeviceSupport: Can more than one device be activated per account at one time
# emailFromAddress: Use this address as 'From' address when sending emails
# emailFromPersonal: Use this name as 'From' name displayed with address when sending emails
# templateFolder: Location of velocity templates for this carrier. See velicity.templateFolder property above for location of parent folder.
# vuidMustBeActivatedForVendorList: List of vendors that must be activated for this carrier before subscriptions are authorized   
carrier.apple.name=apple
carrier.apple.emailMustBeActivated=true
carrier.apple.sendWelcomeEmail=true
carrier.apple.credentialRegenerationNeedsActivation=true
carrier.apple.multipleDeviceSupport=true
carrier.apple.emailFromAddress=no-reply@mobitv.com
carrier.apple.emailFromPersonal=MobiNOW
carrier.apple.templateFolder=apple
carrier.apple.vuidMustBeActivatedForVendorList=

carrier.att.name=att
carrier.att.emailMustBeActivated=false
carrier.att.sendWelcomeEmail=false
carrier.att.credentialRegenerationNeedsActivation=false
carrier.att.multipleDeviceSupport=false
carrier.att.emailFromAddress=
carrier.att.emailFromPersonal=
carrier.att.templateFolder=att
carrier.att.vuidMustBeActivatedForVendorList=qpass_mdn

carrier.tmobile.name=tmobile
carrier.tmobile.sendWelcomeEmail=false
carrier.tmobile.emailMustBeActivated=false
carrier.tmobile.credentialRegenerationNeedsActivation=false
carrier.tmobile.multipleDeviceSupport=false
carrier.tmobile.emailFromAddress=no-reply@tmobile.com
carrier.tmobile.emailFromPersonal=T-Mobile TV
carrier.tmobile.templateFolder=tmobile
carrier.tmobile.vuidMustBeActivatedForVendorList=

carrier.uscellular.name=uscellular
carrier.uscellular.sendWelcomeEmail=false
carrier.uscellular.emailMustBeActivated=false
carrier.uscellular.credentialRegenerationNeedsActivation=false
carrier.uscellular.multipleDeviceSupport=false
carrier.uscellular.emailFromAddress=
carrier.uscellular.emailFromPersonal=
carrier.uscellular.templateFolder=uscellular
carrier.uscellular.vuidMustBeActivatedForVendorList=valista

carrier.telus.name=telus
carrier.telus.sendWelcomeEmail=false
carrier.telus.emailMustBeActivated=false
carrier.telus.credentialRegenerationNeedsActivation=false
carrier.telus.multipleDeviceSupport=false
carrier.telus.emailFromAddress=
carrier.telus.emailFromPersonal=
carrier.telus.templateFolder=telus
carrier.telus.vuidMustBeActivatedForVendorList=

carrier.applemrc.name=applemrc
carrier.applemrc.emailMustBeActivated=false
carrier.applemrc.sendWelcomeEmail=false
carrier.applemrc.credentialRegenerationNeedsActivation=false
carrier.applemrc.multipleDeviceSupport=false
carrier.applemrc.emailFromAddress=
carrier.applemrc.emailFromPersonal=
carrier.applemrc.templateFolder=default
carrier.applemrc.vuidMustBeActivatedForVendorList=

carrier.metropcs.name=metropcs
carrier.metropcs.emailMustBeActivated=false
carrier.metropcs.sendWelcomeEmail=false
carrier.metropcs.credentialRegenerationNeedsActivation=false
carrier.metropcs.multipleDeviceSupport=false
carrier.metropcs.emailFromAddress=no-reply@dyle.com
carrier.metropcs.emailFromPersonal=Dyle
carrier.metropcs.templateFolder=metropcs
carrier.metropcs.vuidMustBeActivatedForVendorList=

carrier.default.name=default
carrier.default.sendWelcomeEmail=false
carrier.default.emailMustBeActivated=false
carrier.default.credentialRegenerationNeedsActivation=false
carrier.default.multipleDeviceSupport=false
carrier.default.emailFromAddress=
carrier.default.emailFromPersonal=
carrier.default.templateFolder=default
carrier.default.vuidMustBeActivatedForVendorList=

#database overrides
<% if @database_url %>database.url=<%= @database_url -%><% end %>
<% if @database_user %>database.username=<%= @database_user -%><% end %>
<% if @database_passwd %>database.password=<%= @database_passwd -%><% end %>
