###############################################################################
## PUPPET: This file is maintained by puppet.
## PUPPET: Edits made by hand will be overridden every puppet agent run
## List billing adapters configured by {carrier}-{vendor}
## e.g.: {carrier}-{vendor}={base url}
################################################################################

<% if @adapter_mappings %>
<% adapter_mappings.each do |mapping| -%>
<%= mapping %>
<% end -%>
<% end -%>

