<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- selective overloads -->
	<!-- <entry key="properties.context">local-override</entry>-->

        <% if @db_url %><entry key="database.url"><%= @db_url -%></entry><% end %>
        <% if @db_username %><entry key="database.username"><%= @db_username -%></entry><% end %>
        <% if @db_password %><entry key="database.password"><%= @db_password -%></entry><% end %>
        <% if @db_driver %><entry key="database.driver_class"><%= @db_driver -%></entry><% end %>
        <% if @hibernate_dialect %><entry key="hibernate.dialect"><%= @hibernate_dialect -%></entry><% end %>
        <% if @hibernate_show_sql %><entry key="hibernate.show_sql"><%= @hibernate_show_sql -%></entry><% end %>
        <% if @pending_cron %><entry key="cm.pending_transaction_job.cron.expression"><%= @pending_cron -%></entry><% end %>
        <% if @pending_enable %><entry key="cm.pending_transaction_job.enabled"><%= @pending_enable -%></entry><% end %>
	<% if @jersey_restclient_connection_timeout %><entry key="jersey.restclient.connectionTimeout"><%= @jersey_restclient_connection_timeout -%></entry><% end %>
        <% if @cm_transaction_processor_jerseyClient_connectionTimeoutSeconds %><entry key="cm.transaction.processor.jerseyClient.connectionTimeoutSeconds"><%= @cm_transaction_processor_jerseyClient_connectionTimeoutSeconds -%></entry><% end %>
        <% if @cm_transaction_processor_jerseyClient_readTimeoutSeconds %><entry key="cm.transaction.processor.jerseyClient.readTimeoutSeconds"><%= @cm_transaction_processor_jerseyClient_readTimeoutSeconds -%></entry><% end %>
        <% if @jersey_restclient_read_timeout %><entry key="jersey.restclient.readTimeout"><%= @jersey_restclient_read_timeout -%></entry><% end %>
        <% if @mrc_cron %><entry key="cm.mrc.cron.expression"><%= @mrc_cron -%></entry><% end %>
        <% if @mrc_enable %><entry key="cm.mrc.enabled"><%= @mrc_enable -%></entry><% end %>
        <% if @txprocessor_appserver_url %><entry key="cm.transaction.processor.appServerUrl"><%= @txprocessor_appserver_url -%></entry><% end %>
        <% if @purchase_manager_endpoint_url %><entry key="purchase.manager.endpoint.url"><%= @purchase_manager_endpoint_url -%></entry><% end %>
        <% if @offer_manager_endpoint_url %><entry key="offer.manager.endpoint.url"><%= @offer_manager_endpoint_url -%></entry><% end %>
</properties>
