properties.context=default
application.name=Identity manager Stub
authentication.file.path=<%= @authentication_file_path %>
profile.key=accountKeyaccountKeyaccountKeyac
authtoken.key=authtokenkeyauthtokenkeyauthtoke
ssotoken.key=ssotokenkeyssotokenkeyssotokenke
enable.authentication=<%= @enable_authentication %>
