###############################################################################
# PUPPET: This file is maintained by puppet.
# PUPPET: Edits made by hand will be overridden every puppet agent run
###############################################################################
# Do not remove the following line, or various programs
# that require network functionality will fail.
127.0.0.1 localhost.localdomain localhost
::1 localhost6.localdomain6 localhost6
<%= @ipaddress_eth0 -%> <%= @fqdn -%> <%= @hostname %>

<% local_hosts.each do |node| -%>
127.0.0.1 <%= node %>
<% end -%>

<% remote_hosts.each do |node| -%>
<%= node %>
<% end -%>


