##############################################################
#	PUPPET MANAGED
#
# PUPPET: <%= hostname -%><% if has_variable?("domain") %>.<%= domain -%><% end %> is maintained by puppet 
# PUPPET: edits made by hand will be overridden every puppet agent 
# PUPPET: run, which is on a 30 minute interval. Please contact
# PUPPET: <%= owner %> <% if has_variable?("owneremail") %>(<%= owneremail -%>)<% end %> for more info.
#
#	PUPPET MANAGED
##############################################################
stack=<%= stack %>
owner=<%= owner %>
hosttype=<%= hosttype %>
servertype=<%= servertype %>
<% if has_variable?("environment") %>environment=<%= environment -%> <% end %>
<% if has_variable?("respondtoVIP") %>respondtoVIP=<%= respondtoVIP -%> <% end %>

#Modules installed:

