###############################################################################
#
# Warning: <%= @hostname -%><% if @domain %>.<%= @domain -%><% end %> is partially maintained by puppet.
#
# Please refer to the Puppet documentation for specifics:
#
# https://confluence.mobitv.corp/display/GitUp/Puppet
#
###############################################################################

<% if @environment %> environment: <%= @environment -%> <% end %>

Puppet modules on this server:

