##################################################
# Puppet Generated Override File for OS Limits ###
##################################################

<% @override_limits.collect{ |value| value.gsub(/ +/," ")}.uniq.each do |oslimit| %>
<%= oslimit %>
<% end %> 
