<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <!-- <entry key="properties.context">local-override</entry>-->

        <% if @database_url %><entry key="database.url"><%= @database_url -%></entry><% end %>
        <% if @database_username %><entry key="database.username"><%= @database_username -%></entry><% end %>
        <% if @database_password %><entry key="database.password"><%= @database_password -%></entry><% end %>
        
        <!-- cache package details -->
        <% if @cache_package_details %><entry key="cache.package.details"><%= @cache_package_details -%></entry><% end %>
 
</properties>

