File: vod/WVM.rules
# Format: carrier,product,version,device,firmware,template
# Default rule must be last in this file
# Template given by Manoj Agrawal

# ------------------------------------------------------------------------------
# EXCEPTIONS
# ------------------------------------------------------------------------------



<%if not vwm_rules.empty? %>
# catch-all
<%vwm_rules.each do |rule| -%>
<%= rule %>
<% end -%>
<% end %>
