SHELL=/bin/bash

# Keep Puppet SSL dir synchronized between servers.
* * * * * root /bin/bash -c "sleep $[($RANDOM \% 10) + 1]s && /usr/bin/unison -owner -group -prefer 'ssh://<%= @unison_ssl_primary %>//var/lib/puppet/ssl'  -log -logfile /var/log/unison.log -batch /var/lib/puppet/ssl ssh://<%= @unison_ssl_primary %>//var/lib/puppet/ssl" > /dev/null 2>&1
