<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl"  href="configuration.xsl"?>

<configuration>


<property>
<name>flume.master.servers</name>
<value><%= flumemasterservers %></value>
</property>

<property>
<name>flume.collector.event.host</name>
<value><%= flumecollectoreventhost %></value>
<description>This is the host name of the default "remote" collector.
</description>
</property>

<property>
<name>flume.collector.port</name>
<value>35853</value>
<description>This default tcp port that the collector listens to in order to receive events it is collecting.
</description>
</property>


</configuration>
