# URL of the Solr server
<% if @solr_server_url -%>solr.server.url=<%= @solr_server_url %><% end -%>

#Active MQ broker configuration
<% if @amq_broker_url -%>amq.broker.url=<%= @amq_broker_url %><% end -%>

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
<% if @core_pool_size -%>core.pool.size=<%= @core_pool_size %><% end -%>

# Maximum number of threads running concurrently in the task-worker pool, default 20
<% if @max_pool_size -%>max.pool.size=<%= @max_pool_size %><% end -%>

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
<% if @task_queue_capacity -%>task.queue.capacity=<%= @task_queue_capacity %><% end -%>

#Queue Names that catchup post processor connects with
<% if @consumer_queue_catchup_post_processor_name -%>consumer.queue.catchup.post.processor.name=<%= @consumer_queue_catchup_post_processor_name %><% end -%>

<% if @catchup_queue_concurrent_consumers -%>catchup.queue.concurrent.consumers=<%= @catchup_queue_concurrent_consumers %><% end -%>

<% if @catchup_recording_base_location -%>catchup.recording.base.location=<%= @catchup_recording_base_location %><% end -%>

<% if @catchup_recording_file_suffix -%>catchup.recording.file.suffix=<%= @catchup_recording_file_suffix %><% end -%>

<% if @atomhopper_url -%>atomhopper.url=<%= @atomhopper_url %><% end -%>

<% if @connection_timeout -%>connection.timeout=<%= @connection_timeout %> <% end -%>

<% if @read_timeout -%>read.timeout=<%= @read_timeout %><% end -%>

