<Context path="mp" docBase="/opt/mobi-arlanda-mp/webapp" debug="0">
    
    <Valve className="org.apache.catalina.valves.AccessLogValve"
                 directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="mp_access." suffix=".log"
                 pattern="combined" resolveHosts="false"/>

  <Resource auth="Container"
	    name="jdbc/mpDS"
	    description="DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="300"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
	    user="<%= @db_username %>"
	    password="<%= @db_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @mp_db_jdbc_url %>" />

  
  <!-- We need two connection factories since the pooled one only handles sends  -->

<% if scope.lookupvar("mobi_arlanda_mp::ril") == true %>
  <Resource name="jms/ASMPooledConnectionFactory"
            auth="Container"
            type="com.mobitv.arlanda.commons.activemq.AmqJNDIPooledConnectionFactory"
            description="Pooled JMS Connection Factory"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            brokerURL="<%= @amq_broker_url %>"
            brokerName="MobiTVMQBroker"
            copyMessageOnSend="false"
            useEmbeddedBroker="false"/>


<% else %>
  <Resource name="jms/ASMPooledConnectionFactory"
        auth="Container"
        type="org.apache.activemq.jms.pool.PooledConnectionFactory"
        description="Pooled JMS Connection Factory"
        factory="org.apache.activemq.jndi.JNDIReferenceFactory"
        brokerURL="<%= @amq_broker_url %>"
        brokerName="MobiTVMQBroker"
        copyMessageOnSend="false"
        useEmbeddedBroker="false"/>
<% end %>

  <Resource name="jms/ASMConnectionFactory"
	    auth="Container"
	    type="org.apache.activemq.ActiveMQConnectionFactory"
	    description="JMS Connection Factory"
	    factory="org.apache.activemq.jndi.JNDIReferenceFactory"
	    brokerURL="<%= @amq_broker_url %>"
	    brokerName="MobiTVMQBroker"
	    copyMessageOnSend="false"
	    useEmbeddedBroker="false"/>

  <Resource name="jms/ArlandaSystemTopic" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQTopic" 
            description="The JMS Topic which MP broadcast internal messages on to other MP nodes and listens on"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="ARLANDA.SYSTEM.TOPIC"/>

  <Resource name="jms/MediaProcessorQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The queue that the MP listens on, multiple MPs nodes shares this queue"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="MEDIAPROCESSOR.QUEUE"/>

  <Resource name="jms/VodSegmenterQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The queue that the VOD Segmenter listens to for Apple Seg requests"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="VODSEGMENTER.QUEUE"/>

  <Resource name="jms/FragmentationQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The queue that the VOD Segmenter listens to for Fragmented Mp4 requests"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="<%= @fragment_queue_name  %>"/>

  <Resource name="jms/LegacyEncodingSystemQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The queue that the Legacy Encoding System listens to"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="LEGACYENCODINGSYSTEM.QUEUE"/>

  <Resource name="jms/WorkflowManagerResponseQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The response queue that the Workflow Manager listens to"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="WORKFLOWMANAGER.RESPONSE.QUEUE"/>
</Context>
