--
-- PostgreSQL database dump
--

\c mp;

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: mp_config; Type: TABLE; Schema: public; Owner: <%= @db_username %>; Tablespace: 
--

CREATE TABLE mp_config (
    config_key character varying(255) NOT NULL,
    config_value character varying(4096),
    default_config_value character varying(1024),
    description character varying(2048),
    last_modified timestamp without time zone
);


ALTER TABLE public.mp_config OWNER TO <%= @db_username %>;

--
-- Name: mp_encoder_mapping; Type: TABLE; Schema: public; Owner: <%= @db_username %>; Tablespace: 
--

CREATE TABLE mp_encoder_mapping (
    encoding_id integer NOT NULL,
    class_name character varying(1024),
    description character varying(1024),
    file_format character varying(24),
    file_name character varying(512)
);


ALTER TABLE public.mp_encoder_mapping OWNER TO <%= @db_username %>;

--
-- Name: mp_config_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @db_username %>; Tablespace: 
--

ALTER TABLE ONLY mp_config
    ADD CONSTRAINT mp_config_pkey PRIMARY KEY (config_key);


--
-- Name: mp_encoder_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @db_username %>; Tablespace: 
--

ALTER TABLE ONLY mp_encoder_mapping
    ADD CONSTRAINT mp_encoder_mapping_pkey PRIMARY KEY (encoding_id);


--
-- Name: public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE ALL ON SCHEMA public FROM PUBLIC;
REVOKE ALL ON SCHEMA public FROM postgres;
GRANT ALL ON SCHEMA public TO postgres;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

