\c mp;

Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.link.mode','symlink','symlink','This specifies how files should be copied for encoding into the Episode encoding folder.
     Two values are supported "copy" or "symlink". "copy" is slower, but usefull when lack of
     shared disk.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('setting.repository','/var/Jukebox/mp/setting-repository','/var/Jukebox/mp/setting-repository','The location where stores encoding setting files. Make sure has read/write
    privs in this dir.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('max.request.threads','10','1000','The maximum simultainusly threads can use for encoding requests / responses (JMS and WS).',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.outfolder.root','/var/Jukebox/ee/','/var/Jukebox/ee/media/Output/','The root outfolder of Episode Engine. Make sure has read / write privs in this dir.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.default.outpath','mp','/var/Jukebox/ee/media/Output/mp/','If no outpath is provided in EncodingRequest, EpisodeEngineEncoder encodes files into this directory.
    must end with a / character. IRTANT, this dir needs to be accessably by Episode Engine.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.save.meta.data','false','false','If the meta data about every encoding files from Episode should be stored.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.cleanup','true','true','If the input and outpufolder shold be deleted after encoding batch been completed
    should always be true, but for debug it may sometimes be usefull',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.watchfolder.root','/var/Jukebox/ee/','/var/Jukebox/ee/media/Input/','The root watchfolder of Episode Engine. Make sure has read / write privs in this dir.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('ffmpeg.location','/usr/local/bin/ffmpeg','/usr/local/bin/ffmpeg','The location of where metadata files should store encoding.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('metadata.repository','/var/Jukebox/mp/metadata-repository','/var/Jukebox/mp/metadata-repository','The location of where metadata files should store encoding.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.watchfolder.input.foldername','Input','Input','The name of the input directory relative to each cluster.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.clusters','media,simulator','media','A comma-separated list of the names of EE clusters.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.episode.watchfolder.output.foldername','Output','Output','The name of the output directory relative to each cluster.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('clip.combination.method','ee','mp','The method of applying pre-roll/post-roll clips (default is EE, anything else uses ',CURRENT_TIMESTAMP);

Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.widevine.input.root','/var/Jukebox/widevine/Input','/var/Jukebox/widevine/Input','The input base directory for input to the Widevine Packager ',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.widevine.output.root','/var/Jukebox/widevine/Output','/var/Jukebox/widevine/Output','The output base directory for output from the Widevine Packager ',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.widevine.status.to.url','http://<%= @ipaddress %>:8080/mp/widevine_response','http://<%= @ipaddress %>:8080/mp/widevine_response','The URL that the Widevine Packager should use to send notifications about packaging operations',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.widevine.packager.url','http://wvpkgrvip/widevine/voddealer/cgi-bin/packagenotify.cgi','http://wvpkgrvip/widevine/voddealer/cgi-bin/packagenotify.cgi','The URL of the Widevine Packager to submit packaging requests',CURRENT_TIMESTAMP);


Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.input.root','/var/Jukebox/elemental/Input','/var/Jukebox/elemental/Input','The input base directory for input to the Elemental VOD encoder.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.output.root','/var/Jukebox/elemental/Output','/var/Jukebox/elemental/Output','The output base directory for output to the Elemental VOD encoder.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.status.to.url','http://<%= @ipaddress %>:8080/mp/elemental_response','http://<%= @ipaddress %>:8080/mp/elemental_response','The URL that the Elemental VOD encoder should use to send notifications about encoding operations',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.encoder.url','http://elementalvip/jobs','http://elementalvip/jobs','The URL of the Elemental VOD encoder to submit encoding requests',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.user','cms','cms','The user account that the Media Processor uses to access the Elemental VOD encoder REST APIs',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.key','yffLm83ZuWouJ6LqMI','yffLm83ZuWouJ6LqMI','The passkey that the Media Processor uses to access the Elemental VOD encoder REST APIs',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.url.signing.window','30','30','The number of seconds that signed Elemental encoder requests are valid for (default 30 seconds).',CURRENT_TIMESTAMP);

Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.originals.mount','/data/mnt/uploads/originals','/data/mnt/uploads/originals','The base directory for original clip files used on the Elemental encoder.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY,CONFIG_VALUE,DEFAULT_CONFIG_VALUE,DESCRIPTION,LAST_MODIFIED) values ('encoder.elemental.workdir.mount','/data/mnt/workdir','/data/mnt/workdir','The base directory for Elemental encoder Input and Output directories.',CURRENT_TIMESTAMP);

Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.encoder.url','http://vantage.qa.smf1.mobitv:8080/?wsdl','http://vantage.qa.smf1.mobitv:8080/?wsdl','The URL of the Vantage encoder to submit encoding requests',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.input.root','/var/Jukebox/vantage/Input','/var/Jukebox/vantage/Input','The input base directory for input to the Vantage encoder.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.link.mode','copy','copy','This specifies how files should be copied for encoding into the Vantage encoding folder.\n     Two values are supported \"copy\" or \"symlink\". \"copy\" is slower, but usefull when lack of\n     shared disk.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.output.root','/var/Jukebox/vantage/Output','/var/Jukebox/vantage/Output','The output base directory for output to the Vantage encoder.',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.status.to.url','http://<%= @ipaddress %>:8080/mp/vantage_response','http://<%= @ipaddress %>:8080/mp/vantage_response','The URL that the Vantage encoder should use to send notifications about encoding operations',CURRENT_TIMESTAMP);
Insert into MP_CONFIG (CONFIG_KEY, CONFIG_VALUE, DEFAULT_CONFIG_VALUE, DESCRIPTION, LAST_MODIFIED) values('encoder.vantage.workdir.mount','\\\\isilon.qa.smf1.mobitv\\dev-vantage\\originals','file://V:/transcode/vantage/Input','The base directory for Vantage encoder Input and Output directories.',CURRENT_TIMESTAMP);

Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (1,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-1.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (2,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-2.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (3,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-3.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (4,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-4.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (5,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-5.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (6,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-6.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (7,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-7.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (8,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-8.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (11,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-11.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (12,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-12.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (13,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-13.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (14,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-14.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (15,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-15.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (18,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-18.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (21,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-21.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (22,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-22.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (23,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-23.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (24,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-24.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (25,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-25.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (26,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-26.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (27,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-27.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (28,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-28.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (40,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-40.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (41,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-41.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (60,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-60.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (61,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-61.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (62,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-62.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (64,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-64.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (65,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-65.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (66,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-66.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (67,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-67.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (68,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-68.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (69,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-69.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (70,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-70-2.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (71,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-71.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (72,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-72.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (73,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-73.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (74,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-74.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (75,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-75.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (77,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-77.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (78,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-78.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (79,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-79.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (91,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-91.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (93,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-93.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (94,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-94.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (95,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','encoding-95.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (100,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'wmv','encoding-100.mbrsetting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (101,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'wmv','encoding-101.mbrsetting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (102,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'wmv','encoding-102.mbrsetting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (103,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','fourthreemaster.setting');
Insert into MP_ENCODER_MAPPING (ENCODING_ID,CLASS_NAME,DESCRIPTION,FILE_FORMAT,FILE_NAME) values (104,'com.mobitv.arlanda.mediaprocessor.encoder.EpisodeEngineEncoder',null,'3gp','sixteenninemaster.setting');
