#Mobi Catalogue Manager Properties 

#Guide Manager APIs urls
#getChannelListing response for liveTv feed
GUIDE_MANAGER_GETCHANNELLISTING=http://localhost:8080/mobi-guide-manager/guide/v5/lineup/{carrier}/{product}/{version}/default/live/all-channels.xml

#getBatchProgram response for liveTv feed
GUIDE_MANAGER_GETBATCHOFPROGRAMS=http://localhost:8080/mobi-guide-manager/guide/v5/program/{carrier}/{product}/{version}/default/programs.xml

#getOnDemadLineup response for vod feed
GUIDE_MANAGER_GETONDEMANDLINEUP=http://localhost:8080/mobi-guide-manager/guide/v5/lineup/{carrier}/{product}/{version}/default/ondemand/inventories.json

#Search API 
GUIDE_MANAGER_SEARCH=http://localhost:8080/mobi-guide-manager/guide/v5/search/{carrier}/{product}/{version}/default/search.xml?ref_types=vod

#Thumbnail API
GUIDE_MANAGER_THUMBNAIL=http://localhost:8080/mobi-guide-manager/guide/v5/thumbnail/{carrier}/{product}/{version}/default/

#getting Program Detail using get Batch Of Program API
GUIDE_MANAGER_GETPROGRAMDETAIL=http://localhost:8080/mobi-guide-manager/guide/v5/program/{carrier}/{product}/{version}/default/programs.xml?programs=

#The time duration after which the mRSS feed will be refreshed 
LIVE_FEED_REFRESH_INTERVAL=30
LINEAR_EPG_FEED_REFRESH_INTERVAL=30
VOD_FEED_REFRESH_INTERVAL=15

#Thumbnail scheme supported by publish catalogue
THUMBNAIL_SCHEME=base.dark

#URL for live tv program deeplinks ios, android and web
DEEP_LINK_LIVETV_PROGRAM_IOS=jiotv://guide/program/{id}?action=play
DEEP_LINK_LIVETV_PROGRAM_ANDROID=jiotv://guide/program/{id}?action=play
DEEP_LINK_LIVETV_PROGRAM_WEB=http://<%= @ipaddress %>/jio/#/live/program/{id}


#URL for live tv channel deeplinks ios, android and web
DEEP_LINK_LIVETV_CHANNEL_IOS=jiotv://guide/live/{id}?action=play
DEEP_LINK_LIVETV_CHANNEL_ANDROID=jiotv://guide/live/{id}?action=play
DEEP_LINK_LIVETV_CHANNEL_WEB=http://<%= @ipaddress %>/jio/#/live/channel/{id}

#URL for VOD deeplinks ios, android and web
DEEP_LINK_VOD_IOS=jiotv://guide/vod/{inventory-id}?action=play
DEEP_LINK_VOD_ANDROID=jiotv://guide/vod/{inventory-id}?action=play
DEEP_LINK_VOD_WEB=http://<%= @ipaddress %>/jio/#/vod/{inventory-id}

#Guide Manager Parameters
DEFAULT_CARRIER=<%= @carrier %>
DEFAULT_PRODUCT=<%= @product %>
DEFAULT_VERSION=<%= @version %>
#CLIENT_INFO=sprint,mobitv,5.0

#Cron_Quartz.properties
LIVE_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/live
LINEAR_EPG_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/linear-epg
VOD_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/vod

#Property used for SOLR health check
SOLR_SERVER_URL=http://localhost:8080/mobi-solr/

#Properties for Social
FB_APPID=<%= @fb_appid %>

#Provide comma separated values for PC supported user-agents  
WEB_SUPPORTED_USER_AGENTS=Chrome,Firefox,MSIE

#BaseUrl of the inventory 
BASE_URL=http://<%= @ipaddress %>/guide/v5/catalog/

#Default inventory id for Live,linear and vod for Social
SOCIAL_LIVE_PROGRAM_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/live/program/<%= @social_live_program %>.html
SOCIAL_LIVE_CHANNEL_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/live/channel/<%= @social_live_channel %>.html
SOCIAL_LINEAR_EPG_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/linear-epg/<%= @social_linear_epg %>.html
SOCIAL_VOD_URL=http://localhost:8080/mobi-catalogue-manager/guide/v5/catalog/{carrier}/{product}/{version}/vod/<%= @social_vod_url %>.html

#Browser Cache expiry period in seconds
CACHE_MAX_AGE=300

#TimeSlice used while calling guide manager getBatchOfPrograms API (Live=1 day in seconds , epg=7 days in seconds)
LIVE_TIME_SLICE =86400
LINEAR_EPG_TIME_SLICE =604800

#MAX_BATCH_SIZE for batch/ chunk processing (set it as supported by Guide Manager)
MAX_BATCH_SIZE=300

#Error Messages-
UNSUPPORTED_USER_AGENT=
CONTENT_NOT_AVAILABLE=Sorry, Requested content is no longer available with us!
THUMBNAIL_NOT_AVAILABLE=Thumbnail is not available for this scheme.

# Redirect URL
REDIRECT_URL_IF_APP_NOT_FOUND=http://jioplay.jioconnect.com/app-upgrade/#/
WAIT_TIME_INTERVAL_IN_MILLISECONDS=2000
