ms.broker.url=<% if @notificationmanager_properties_hash["ms.broker.url"] %><%= @notificationmanager_properties_hash["ms.broker.url"];@notificationmanager_properties_hash.delete("ms.broker.url") %><% else %>failover://(tcp://msamq01:61616,tcp://msamq02:61616)?initialReconnectDelay=1000&startupMaxReconnectAttempts=1&randomize=false<% end %>
cms.broker.url=<% if @notificationmanager_properties_hash["cms.broker.url"] %><%= @notificationmanager_properties_hash["cms.broker.url"];@notificationmanager_properties_hash.delete("cms.broker.url") %><% else %>failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=1000&startupMaxReconnectAttempts=1&randomize=false<% end %>
notification.manager.url=<% if @notificationmanager_properties_hash["notification.manager.url"] %><%= @notificationmanager_properties_hash["notification.manager.url"];@notificationmanager_properties_hash.delete("notification.manager.url") %><% else %>http://localhost:8080/mobi-notification-manager<% end %>
storage.manager.url=<% if @notificationmanager_properties_hash["storage.manager.url"] %><%= @notificationmanager_properties_hash["storage.manager.url"];@notificationmanager_properties_hash.delete("storage.manager.url") %><% else %>http://storagemanagervip:8080/mobi-storage-manager<% end %>
notification.manager.cronhost=<% if @notificationmanager_properties_hash["notification.manager.cronhost"] %><%= @notificationmanager_properties_hash["notification.manager.cronhost"];@notificationmanager_properties_hash.delete("notification.manager.cronhost") %><% else %>msnom01p1<% end %>
trigger.favorite.cronexpression=<% if @notificationmanager_properties_hash["trigger.favorite.cronexpression"] %><%= @notificationmanager_properties_hash["trigger.favorite.cronexpression"];@notificationmanager_properties_hash.delete("trigger.favorite.cronexpression") %><% else %>0 0 20 1/1 * ? *<% end %>
trigger.feedback.cronexpression=<% if @notificationmanager_properties_hash["trigger.feedback.cronexpression"] %><%= @notificationmanager_properties_hash["trigger.feedback.cronexpression"];@notificationmanager_properties_hash.delete("trigger.feedback.cronexpression") %><% else %>0 0 22 1/1 * ? *<% end %>
trigger.subscription.cronexpression=<% if @notificationmanager_properties_hash["trigger.subscription.cronexpression"] %><%= @notificationmanager_properties_hash["trigger.subscription.cronexpression"];@notificationmanager_properties_hash.delete("trigger.subscription.cronexpression") %><% else %>0 0 21 1/1 * ? *<% end %>
trigger.mock.cronexpression=<% if @notificationmanager_properties_hash["trigger.mock.cronexpression"] %><%= @notificationmanager_properties_hash["trigger.mock.cronexpression"];@notificationmanager_properties_hash.delete("trigger.mock.cronexpression") %><% else %>0 0/1 * 1/1 * ? *<% end %>
<% @notificationmanager_properties_hash.each do |key, value| -%>
<%= key %>=<%= value %>
<% end %>
