<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

        <!-- override properties go here -->
        <entry key="auth.manager.endpoint.url"><%= @auth_manager_endpoint_url -%></entry>
        <entry key="identity.manager.endpoint.url"><%= @identity_manager_endpoint_url -%></entry>
        <entry key="recommendation.cron.expression"><%= @recommendation_cron_expression -%></entry>
        <entry key="recommendation.csv.file.path"><%= @recommendation_csv_file_path -%></entry>
        <entry key="series.ids.file.path"><%= @series_ids_file_path -%></entry>
        <entry key="default.no.of.recommendation"><%= @default_no_of_recommendation -%></entry>
        <entry key="max.allowed.channel.ids"><%= @max_allowed_channel_ids -%></entry>	
</properties>
