<Location ~ ^/core/v5/drm2/([^/]+)/([^/]+)/([^/]+)/register/(.*)>
    <LimitExcept POST>
        Order deny,allow
        Deny from all
    </LimitExcept>

    Header set Cache-control "no-store, no-cache, max-age=0, no-transform"
    RewriteEngine On
    RewriteRule core/v5/drm2/([^/]+)/([^/]+)/([^/]+)/register/(.*) http://<%= scope.lookupvar("mobi_core_convergence::mobi_restapi_v5_drm::drmvip_hostname") -%>:8080/licensemanager2/services/client/drmregister/$1/$2/$3/$4 [P]
</Location>

<Location ~ ^/services/roap/(.*)>
    <LimitExcept POST>
        Order deny,allow
        Deny from all
    </LimitExcept>

    Header set Cache-control "no-store, no-cache, max-age=0, no-transform"
    RewriteEngine On
    RewriteRule services/roap/(.*)  http://<%= scope.lookupvar("mobi_core_convergence::mobi_restapi_v5_drm::drmvip_hostname") -%>:8080/roapserver/services/roap/$1 [P]
</Location>
