<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	 <% if @properties_context %><entry key="properties.context"><%= @properties_context -%></entry><% end %>

	 <% if @solr_server_url %><entry key="solr.server.url"><%= @solr_server_url -%></entry><% end %>
		
	 <!--  socket timeout in milliseconds -->
	 <% if @solr_socket_timeout %><entry key="solr.socket.timeout"><%= @solr_socket_timeout -%></entry><% end %>
	
	 <!-- connection time in milliseconds -->
	 <% if @solr_conn_timeout %><entry key="solr.conn.timeout"><%= @solr_conn_timeout -%></entry><% end %>
	 <% if @solr_conn_per_host %><entry key="solr.conn.per.host"><%= @solr_conn_per_host -%></entry><% end %>
	 <% if @solr_total_conn %><entry key="solr.total.conn"><%= @solr_total_conn -%></entry><% end %>
	 <% if @solr_max_retries %><entry key="solr.max.retries"><%= @solr_max_retries -%></entry><% end %>
	 <% if @solr_max_rows %><entry key="solr.max.rows"><%= @solr_max_rows -%></entry><% end %>
	 <% if @solr_read_timeout %><entry key="solr.read.timeout"><%= @solr_read_timeout -%></entry><% end %>
	
 	
	 <!-- 	Cron jon entries -->
	 <% if @dummy_epg_generator_job_enabled %><entry key="dummy.epg.generator.job.enabled"><%= @dummy_epg_generator_job_enabled -%></entry><% end %>
	 <!-- Fire two times a day at 1am and 12pm (UTC) -->
	 <% if @dummy_epg_generator_cron_expression %><entry key="dummy.epg.generator.cron.expression"><%= @dummy_epg_generator_cron_expression -%></entry><% end %>
	
	 <% if @dummy_epg_generator_channel_vid %><entry key="dummy.epg.generator.channel.vid"><%= @dummy_epg_generator_channel_vid -%></entry><% end %>
	 <% if @epg_data_shared_location %><entry key="epg.data.shared.location"><%= @epg_data_shared_location -%></entry><% end %>
	 <% if @channel_epg_duration_file %><entry key="channel.epg.duration.file"><%= @channel_epg_duration_file -%></entry><% end %>
	 <% if @channel_epg_default_duration %><entry key="channel.epg.default.duration"><%= @channel_epg_default_duration -%></entry><% end %>
	 <% if @channel_ids_program_name %><entry key="channel.ids.program.name"><%= @channel_ids_program_name -%></entry><% end %>
	 <% if @external_channel_id_extension %><entry key="external.channel.id.extension"><%= @external_channel_id_extension -%></entry><% end %>
	 <% if @default_number_of_days %><entry key="default.number.of.days"><%= @default_number_of_days -%></entry><% end %>
	 <% if @dummy_program_description %><entry key="dummy.program.description"><%= @dummy_program_description -%></entry><% end %>
	
</properties>

