<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <!-- <entry key="properties.context">local-override</entry>-->

        <% if @db_url %><entry key="database.url"><%= @db_url -%></entry><% end %>
        <% if @db_username %><entry key="database.username"><%= @db_username -%></entry><% end %>
        <% if @db_password %><entry key="database.password"><%= @db_password -%></entry><% end %>
        <% if @recocile_url %><entry key="reconcilerEndpointUrl"><%= @recocile_url -%></entry><% end %>
        <% if @pending_transaction_url %><entry key="pendingTransactionEndpointUrl"><%= @pending_transaction_url -%></entry><% end %>
        <% if @trial_sub_notif_url %><entry key="trialSubscribeNotifyURL"><%= @trial_sub_notif_url -%></entry><% end %>
        <% if @trial_unsub_notif_url %><entry key="trialUnsubscribeNotifyURL"><%= @trial_unsub_notif_url -%></entry><% end %>
 
</properties>