production:
  adapter:  mysql
  database: puppet
  username: puppet
  password: TE1WeuHiflzmLMxi
  host:     <%= scope.lookupvar 'foreman::foreman_dbserver' %>
  pool:     5
  timeout:  5000
  encoding: utf8
