# Foreman backend

Listen 127.0.0.1:1443
Listen <%= scope.lookupvar '::ipaddress' %>:1443

<VirtualHost 127.0.0.1:1443 <%= scope.lookupvar '::ipaddress' %>:1443>
    ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
    ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>

    SSLEngine off

    # Obtain Authentication Information from Client Request Headers
    SetEnvIf X-Client-Verify "(.*)" SSL_CLIENT_VERIFY=$1
    SetEnvIf X-SSL-Client-DN "(.*)" SSL_CLIENT_S_DN=$1

    ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
    ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>
    DocumentRoot <%= scope.lookupvar 'foreman::params::app_root' %>/public
    PassengerAppRoot <%= scope.lookupvar 'foreman::params::app_root' %>

    RailsAutoDetect On
    AddDefaultCharset UTF-8

    # Logging
    ErrorLog /var/log/httpd/foreman-worker-1443_error.log
    CustomLog /var/log/httpd/foreman-worker-1443_access.log combined
</VirtualHost>

