# Forman frontend
# Available back-end worker virtual hosts
# NOTE the use of cleartext unencrypted HTTP.

# For master
<Proxy balancer://foreman>
    BalancerMember http://127.0.0.1:1443
<% if scope.lookupvar("foreman::foreman_altip") != 'UNDEFINED' %>    BalancerMember http://<%= scope.lookupvar("foreman::foreman_altip")%>:1443<% end %>
</Proxy>


# Redirect 80 to 443
<VirtualHost <%= scope.lookupvar 'foreman::foreman_vip' %>:80>
    ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
    ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>

    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

# 443 frontend
<VirtualHost <%= scope.lookupvar 'foreman::foreman_vip' %>:443>
    ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
    ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>

    SSLEngine on
    SSLProtocol -ALL +SSLv3 +TLSv1
    SSLCipherSuite ALL:!ADH:RC4+RSA:+HIGH:+MEDIUM:-LOW:-SSLv2:-EXP

    SSLCertificateFile         /var/lib/puppet/ssl/certs/<%= scope.lookupvar 'foreman::foreman_sslcertfile_fqdn' %>.pem
    SSLCertificateKeyFile      /var/lib/puppet/ssl/private_keys/<%= scope.lookupvar 'foreman::foreman_sslcertfile_fqdn' %>.pem
    SSLCertificateChainFile    /var/lib/puppet/ssl/certs/ca.pem
    SSLCACertificateFile       /var/lib/puppet/ssl/certs/ca.pem
    SSLVerifyClient            none
    SSLOptions                 +StdEnvVars
    SSLVerifyDepth             3

    RequestHeader set X-SSL-Subject %{SSL_CLIENT_S_DN}e
    RequestHeader set X-Client-DN %{SSL_CLIENT_S_DN}e
    RequestHeader set X-Client-Verify %{SSL_CLIENT_VERIFY}e

    <Location />
        SetHandler balancer-manager
        Order allow,deny
        Allow from all
    </Location>

    ProxyPass / balancer://foreman/
    ProxyPassReverse / balancer://foreman/
    ProxyPreserveHost On

    # Logging
    ErrorLog /var/log/httpd/foreman-frontend-balancer_error.log
    CustomLog /var/log/httpd/foreman-frontend-balancer_access.log combined
    CustomLog /var/log/httpd/foreman-frontend-balancer_ssl_requests.log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>

