<VirtualHost <%= scope.lookupvar 'foreman::foreman_vip' %>:80>
  ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
  ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>
  DocumentRoot <%= scope.lookupvar 'foreman::params::app_root' %>/public
  PassengerAppRoot <%= scope.lookupvar 'foreman::params::app_root' %>

  RailsAutoDetect On
  AddDefaultCharset UTF-8

</VirtualHost>

<VirtualHost <%= scope.lookupvar 'foreman::foreman_vip' %>:443>
  ServerName <%= scope.lookupvar 'foreman::foreman_servername' %>
  ServerAlias <%= scope.lookupvar 'foreman::foreman_serveralias' %>

  RailsAutoDetect On
  DocumentRoot <%= scope.lookupvar 'foreman::params::app_root' %>/public
  PassengerAppRoot <%= scope.lookupvar 'foreman::params::app_root' %>

  # Use puppet certificates for SSL

  SSLEngine On
  SSLCertificateFile      /var/lib/puppet/ssl/certs/<%= scope.lookupvar 'foreman::foreman_sslcertfile_fqdn' %>.pem
  SSLCertificateKeyFile   /var/lib/puppet/ssl/private_keys/<%= scope.lookupvar 'foreman::foreman_sslcertfile_fqdn' %>.pem
  SSLCertificateChainFile /var/lib/puppet/ssl/certs/ca.pem
  SSLCACertificateFile    /var/lib/puppet/ssl/certs/ca.pem
  SSLVerifyClient         optional
  SSLOptions              +StdEnvVars
  SSLVerifyDepth          3

</VirtualHost>
