# Configuration template file for mod_stkmprepender
# This file managed by puppet

# put it in separate log
CustomLog logs/mod_stkmprepender_log "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %{stkmprepender_req_time}n %D %X"

LoadModule stkmprepender_module modules/mod_stkmprepender.so

<LocationMatch "(?i)^/<%= stkm_service_prefix %>/(version|config|monitoring/health|loadbalancer/health|vod/.*)$">

  SetHandler stkmprepender

  <% if @version !~ /^0\.1\.[0-2]/ %>
  StkmPrepContentRoot <%= content_root.join(' ') %><% else %>
  ContentRoot <%= content_root.join(' ') %>
  <% end %>
  RequestPrefix /<%= stkm_service_prefix %>

  # This is a space separated list of tuples <pattern>:<value> where
  # <pattern> is an identifier that is search for in the supplied sku. 
  #    If this pattern is found then the corresponding value is used as max-age
  #    Note! this is *not* a regexp but a plain string that should be found somewher in the supplied sku identifier
  # <value> an integer expressing the max-age in seconds for the pattern
  #
  SkuMaxAge <%= sku_max_ages.join(' ')%>

  # Used if no pattern in list above is found in the supplied sku identifier
  # In seconds
  DefaultMaxAge <%= default_max_age %>
  
</LocationMatch>