##################################################################
# This file is managed by puppet. Changes will be overwritten on the
# next puppet run.
##################################################################
[main]
    archive_file_server = <%= @server_name %>
    archive_files       = true
    environment         = <%= @environment %>
    logdir              = /var/log/puppet
    rundir              = /var/run/puppet
    ssldir              = $vardir/ssl
    vardir              = /var/lib/puppet

[agent]
    ca_server      = <%= @server_name %>
    classfile      = $vardir/classes.txt
    environment    = <%= @environment %>
    localconfig    = $vardir/localconfig
    noop           = <%= @agent_noop %>
    pluginsync     = true
    puppetdlog     = $logdir/puppet.log
    report         = true
    reportserver   = <%= @server_name %>
    runinterval    = <%= @runinterval %>
    configtimeout  = <%= @configtimeout %>
    server         = <%= @server_name %>
    splay          = true
    syslogfacility = local3
    waitforcert    = <%= @waitforcert %>
