##################################################################
# This file is managed by puppet and is deprecated, please look in
#  /etc/puppet/puppet.conf for agent config
##################################################################
#
# The puppetmaster server
#PUPPET_SERVER=<%= @server_name %>

# If you wish to specify the port to connect to do so here
#PUPPET_PORT=8140

# Where to log to. Specify syslog to send log messages to the system log.
#PUPPET_LOG=/var/log/puppet/puppet.log

# You may specify other parameters to the puppet client here
#PUPPET_EXTRA_OPTS=--waitforcert=500 --noop
