# Options to syslogd
# -m 0 disables 'MARK' messages.
# -rPortNumber Enables logging from remote machines. The listener will listen to the specified port.
# -x disables DNS lookups on messages recieved with -r
# See syslogd(8) for more details
<% if has_variable?("sysconfig_template") then -%>
<% if sysconfig_template == "haproxy" -%>
#SYSLOGD_OPTIONS="-m 0"
SYSLOGD_OPTIONS="-m 0 -r514 -x"
<% else %>
SYSLOGD_OPTIONS="-m 0"
<% end -%>
<% else %>
SYSLOGD_OPTIONS="-m 0"
<% end -%>
# Options to klogd
# -2 prints all kernel oops messages twice; once for klogd to decode, and
#    once for processing with 'ksymoops'
# -x disables all klogd processing of oops messages entirely
# See klogd(8) for more details
KLOGD_OPTIONS="-x"
