CREATE DATABASE IF NOT EXISTS program_scheduler;
CREATE USER '<%= db_username %>'@'%' IDENTIFIED BY '<%= db_password %>';
GRANT ALL PRIVILEGES ON program_scheduler.* TO '<%= db_username %>'@'%' WITH GRANT OPTION;

flush privileges;
