#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi-program-scheduler/database/create_databases.sql

mysql -u<%= db_username %> -p<%= db_password %> program_scheduler < /var/mobi-program-scheduler/database/program_scheduler_tables_mysql_innodb.sql

touch /var/mobi-program-scheduler/database/mysql/installation.done
