output {
<% lstags.each do |lstag|  -%>
  amqp {
    durable       => true
    exchange_type => "topic"
    name          => "<%= scope.lookupvar('::logstash::params::exchange_name') %>"
    host          => "<%= scope.lookupvar('::logstash::params::amqp_host') %>"
    key           => "<%= lstag %>"
    tags          => ["<%= lstag %>"]
    type          => "<%= lstype %>"
  }
<% end -%>
}
