input {
<% scope.lookupvar('logstash::fileinputs').each do |input| -%>
    file {
      <% input.each_pair do |key, value| %><%= key %> => <%= value %>
      <% end -%>
    }
<% end -%>
}
#Begin output
output {
  zeromq {
    address => "<%= scope.lookupvar('logstash::zmqhost') %>"
    topology => "pushpull"
    mode => "client"
    sockopt => ["ZMQ::HWM", "50"]
  }
}
