input {
<% scope.lookupvar('logstash::relay_inputs').each do |input| -%>
  zeromq {
  <% input.each_pair do |key, value| -%>
    <%= key %> => <%= value %>
  <% end %>
  }
<% end %> 
}
output {
  amqp {
  <% scope.lookupvar('logstash::relay_output').each_pair do |key, value| -%>
    <%= key %> => <%= value %>
  <% end -%>
  }
}
