global_defs {
        notification_email {
                <% notify_email.each do |k| -%>
                  <%= k %>
                <% end -%>
                <%#= scope.lookupvar("keepalived::notify_email") %>
        }
        notification_email_from <%= scope.lookupvar("keepalived::notify_from") %>
        smtp_server 127.0.0.1
        smtp_connect_timeout 30
        router_id LVS_DEVEL
}


vrrp_script check_script {               # Requires keepalived-1.1.13
script "<%= scope.lookupvar("keepalived::check_script") %>" # cheaper than pidof
        interval 1                      # check every 2 seconds
        weight 2                        # add 2 points of prio if OK
}

vrrp_instance <%= scope.lookupvar("keepalived::instance_name") %> {
        interface eth0
        state <%= scope.lookupvar("keepalived::master_or_backup") %>
        virtual_router_id <%= scope.lookupvar("keepalived::virtual_router_id") %>
        priority <%= scope.lookupvar("keepalived::priority") %>                    # 101 on master, 100 on backup
        authentication {
                auth_type PASS
                auth_pass mobitv
        }
        virtual_ipaddress {
                <%= scope.lookupvar("keepalived::virt_ip") %>
        }
        track_script {
                check_script
        }
        smtp_alert
}
