##############################################################
#	PUPPET MANAGED
#
# PUPPET: <%= fqdn -%> is maintained by puppet.
# PUPPET: edits made by hand will be overridden every puppet agent 
# PUPPET: run, which is on a 30 minute interval. 
#
#	PUPPET MANAGED
##############################################################
# This is an automounter map and it has the following format
# key [ -mount-options-separated-by-comma ] location
# For details of the format look at autofs(5).
<% unless scope.lookupvar('nfs::client_mounts').empty? then scope.lookupvar('nfs::client_mounts').each_pair do |name,mount| -%> 
<%= mount -%>   /etc/auto.<%= scope.function_regsubst([scope.function_regsubst([mount,"/",""]),"/","_","G"]) -%>    <% if @client_bg %>bg<% end -%><% if @client_hard %>,hard<% end -%><% if @client_intr %>,intr<% end -%><% if @client_rsize %>,rsize=<%= client_rsize -%><% end -%><% if @client_wsize %>,wsize=<%= client_wsize -%><% end -%><% if @client_adhoc_config %><% client_adhoc_config.each do |option| -%>,<%= option -%><% end -%><% end -%> <% if @client_timeout %>--timeout=<%= client_timeout -%><% end -%> <% if @client_ghost %>--ghost<% end -%>
<% end %><% end %>
