##############################################################
#	PUPPET MANAGED
#
# PUPPET: <%= fqdn -%> is maintained by puppet.
# PUPPET: edits made by hand will be overridden every puppet agent 
# PUPPET: run, which is on a 30 minute interval. 
#
#	PUPPET MANAGED
##############################################################
<% scope.lookupvar('nfs::server_exports').each do |export| -%>
<%= export -%> 	*(rw,insecure,no_root_squash,sync,anonuid=500,anongid=500)
<% end %>
