AddType video/MP2T .ts
AddType application/vnd.apple.mpegurl .m3u8

# Allow GZIP compression of playlists
AddOutputFilterByType DEFLATE application/vnd.apple.mpegurl text/html text/plain text/xml

# Set environment flags that indicate the request-type for log routing
SetEnvIf Request_URI "^/live_hls.+" REQUEST_TYPE_LIVE_HLS=1

# requires the mod_logio module to be loaded.
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %X %O \"%{Content-Length}o\" \"%{Content-Range}o\" \"%{MEDIA_TOKEN}C\"" combinedoutputlength

CustomLog "|/usr/sbin/rotatelogs -l /etc/httpd/logs/live_hls-access.%Y%m%d%H 3600" combinedoutputlength env=REQUEST_TYPE_LIVE_HLS

RewriteEngine on

#<IfModule mod_rewrite.c>
#       RewriteLog "/var/log/httpd/rewrite.log"
#       RewriteLogLevel 3
#</IfModule>

#
# Block all requests with a referrer URL present to stop external linking
RewriteCond %{HTTP_REFERER} !=""
RewriteRule ^.+\.m3u8(?:.*)$ %{HTTP_REFERER} [F]

# Configuration for HTTP Live Segment Cache-Control
SetEnvIf Request_URI "^/live_hls.+(\.ts)" LIVE_TS_REQUEST=1
Header set Cache-Control "max-age=900" env=LIVE_TS_REQUEST

# Configuration for HTTP Live Playlist Cache-Control
SetEnvIf Request_URI "^/live_hls.+(\.m3u8)" LIVE_PLAYLIST_REQUEST=1
Header set Cache-Control "max-age=6" env=LIVE_PLAYLIST_REQUEST

#
# Now the rewrite rules
# https://mobinet.mobitv.corp/display/arch/Streaming+URL+Formats+2.0
#

#
# Configuration for HLS Live
#

########################################
#
# Rewrite the URL for a non-encrypted single-bitrate m3u8 file
# /live_hls[_carrier]/<channel>/<sku>/<variant>/prog_index.m3u8 =>
# /mediamuxer/hls/live/<channel>/<sku>/<var>/prog_index.m3u8

RewriteCond %{REQUEST_URI} /live_hls(_.+|)/(.+)/(.+)/(.+)/prog_index\.m3u8$
RewriteRule ^(.+)$ /mediamuxer/hls/live/%2/%3/%4/prog_index.m3u8 [PT,L]

##
########################################

########################################
#
# Rewrite the URL for a non-encrypted single-bitrate m3u8 file
# /live_hls[_<carrier>]/<channel>/<variant>/prog_index.m3u8 =>
# /mediamuxer/hls/live/<channel>/<var>/prog_index.m3u8
RewriteCond %{REQUEST_URI} /live_hls(_.+|)/(.+)/(.+)/prog_index\.m3u8$
RewriteRule ^(.+)$ /mediamuxer/hls/live/%2/%3/prog_index.m3u8 [PT,L]

##
########################################

########################################
#
# Rewrite encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls[_<carrier>]/<channel>/<sku>/<switchgroup>.m3u8 =>
# /var/www/playlists/live_hls[_<carrier>]/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)\.m3u8$
RewriteRule ^(.+)$ /var/www/playlists/live_hls%1/%4.m3u8 [L]

##
########################################

########################################
#
# Rewrite non-encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls[_<carrier>]/<channel>/<switchgroup>.m3u8 =>
# /var/www/playlists/live_hls/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)\.m3u8$
RewriteRule ^(.+)$ /var/www/playlists/live_hls%1/%3.m3u8 [L]

##
########################################

########################################
#
# Rewrite the URL for a encrypted live transport-stream file 
# /live_hls[_<carrier>]/<channel>/<sku>/<var>/<file>.ts =>
# /mediamuxer/hls/live/<channel>/<sku>/<variant>/<file>.ts

RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ /mediamuxer/hls/live/%2/%3/%4/%5.ts? [PT,L]

##
########################################

########################################
#
# Rewrite the URL for a non-encrypted live transport-stream file 
# /live_hls[_<carrier>]/<channel>/<var>/<file>.ts =>
# /mediamuxer/hls/live/<channel>/<variant>/<file>.ts

RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ /mediamuxer/hls/live/%2/%3/%4.ts? [PT,L]

##
########################################
