# Sample configuration file for mod_mediamuxer

# put it in separate log
# enc={source}{sink}
#     E = Encrypted
#     U = Unencrypted
#     - = No info
# rt={request time} [usec]
# cs={time to create source and retrieve fmp4 data from back end} [usec]
# ts={transfer samples from source to sink including decryption of each sample if applicable} [usec]
# co={complete output including encrypting output if applicable} [usec]
CustomLog logs/mod_mediamuxer.log "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" enc=%{mm_encryption}n rt=%{mediamuxer_req_time}n cs=%{mm_create_source}n ts=%{mm_transfer_samples}n co=%{mm_complete_output}n %D %X"

LoadModule mediamuxer_module modules/mod_mediamuxer.so

<LocationMatch "(?i)^/(mediamuxer/(version|config|(loadbalancer|monitoring)/health)|dash/.+\.(mpd|mp4|m4s)|(hls3|hls5)/.+\.(m3u8|ts))$">
  SetHandler mediamuxer

  # Serve incoming live requests or not. [Default: On]
  ServeLive <%= @serve_live %>
 LiveContentRoot <%= @livecontentroot %>


  # Serve incoming vod requests or not. [Default: On]
  ServeVod <%= @serve_vod %>
  VodContentRoot <%= @vodcontentroot %>

  # Serve incoming recordings requests or not. [Default: On]
  ServeRecordings <%= @serve_recordings %>
  RecordingsContentRoot <%= @recordingscontentroot %>

  # Backend License Manager
  DeploymentServerUrl <%= @deploymentserverurl %>

  # Backend License Manager
  LicenseManagerServerUrl <%= @licensemanagerserver %>

</LocationMatch>
