# Sample configuration file for mod_mediamuxer

# put it in separate log
CustomLog logs/mediamuxer_log "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %{mediamuxer_req_time}n %D %X"

LoadModule mediamuxer_module modules/mod_mediamuxer.so

<LocationMatch "(?i)^/mediamuxer/.*$">
  SetHandler mediamuxer

<% if @livebackend_fragmentserver -%>  ServeLive On
  LiveBackendFragmentServer <%= @livebackend_fragmentserver %><% else -%>
  ServeLive Off<% end -%>
<% if @vodbackend_fragmentserver %>  ServeVod On
  VodBackendFragmentServer <%= @vodbackend_fragmentserver %><% else -%>
  ServeVod Off<% end -%>
<% if @recordingbackend_fragmentserver %>  ServeRecordings On
  RecordingsBackendFragmentServer <%= @recordingbackend_fragmentserver %><% else -%>
  ServeRecordings Off
<% end -%>

  <% if @licensemanagerserver %>LicenseManagerServer <%= @licensemanagerserver %><% end -%>

</LocationMatch>
