--mkdir -p /var/lib/pgsql/9.1/acctmgmt/data
--cd /usr/pgsql-9.1/bin/
--./initdb -D /var/lib/pgsql/9.1/acctmgmt/data

--./postgres -D /var/lib/pgsql/9.1/acctmgmt/data

--mkdir -p /var/lib/pgsql/9.1/acctmgmt/data/pg_tblspc/acctmgmt_data
--mkdir -p /var/lib/pgsql/9.1/acctmgmt/data/pg_tblspc/acctmgmt_index

--------------------------------------------------------
-- drop objetcs
--------------------------------------------------------

drop schema acctmgmt cascade;
drop database if exists prdacct;
drop tablespace if exists acctmgmt_data;
drop tablespace if exists acctmgmt_index;
drop user if exists acctmgmt_user;
drop user if exists dba;
drop user if exists tblsp_owner;

--------------------------------------------------------
-- create super users
--------------------------------------------------------
CREATE USER dba WITH SUPERUSER LOGIN PASSWORD 'dba';
CREATE USER tblsp_owner WITH SUPERUSER NOLOGIN PASSWORD 'owner';

--------------------------------------------------------
-- create tablespaces
--------------------------------------------------------
SET role tblsp_owner;

CREATE TABLESPACE acctmgmt_data OWNER tblsp_owner LOCATION '<%= @data_folder -%>/pg_tblspc/acctmgmt_data';
CREATE TABLESPACE acctmgmt_index OWNER tblsp_owner LOCATION '<%= @data_folder -%>/pg_tblspc/acctmgmt_index';

--------------------------------------------------------
-- create database
--------------------------------------------------------
SET role dba; 
CREATE DATABASE prdacct WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE 'en_US.UTF-8' LC_CTYPE 'en_US.UTF-8';-- TABLESPACE acctmgmt_data; 

--------------------------------------------------------
-- drop/create schema
--------------------------------------------------------
\c prdacct
SET role dba;

create schema acctmgmt AUTHORIZATION dba;

--------------------------------------------------------
--  ddl for sequence account_billing_seq
--------------------------------------------------------
 
create sequence acctmgmt."account_billing_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle;

--------------------------------------------------------
--  ddl for sequence account_seq
--------------------------------------------------------

create sequence  acctmgmt."account_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle;

--------------------------------------------------------
--  ddl for sequence device_history_seq
--------------------------------------------------------
create sequence  acctmgmt."device_history_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle ;
 
--------------------------------------------------------
--  ddl for sequence device_seq
--------------------------------------------------------
create sequence  acctmgmt."device_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle ;

--------------------------------------------------------
--  ddl for sequence member_seq
--------------------------------------------------------
create sequence  acctmgmt."member_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle ;

--------------------------------------------------------
--  ddl for sequence member_role_seq
--------------------------------------------------------
create sequence  acctmgmt."member_role_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle ;

--------------------------------------------------------
--  ddl for sequence role_seq
--------------------------------------------------------
create sequence  acctmgmt."role_seq"  minvalue 1 no maxvalue increment by 1 start with 1 cache 20 no cycle ;

-------------------------------------------------------
--  ddl for table account
--------------------------------------------------------

create table acctmgmt."account" 
    (    "account_id" integer constraint pk_account primary key default nextval('acctmgmt.account_seq'), 
         "account_status" varchar(10) not null, 
         "carrier" varchar(50), 
         "created_time" timestamp (6), 
         "last_updated_time" timestamp (6), 
         "account_guid" varchar(1024), 
         "created_by" varchar(50), 
         "last_updated_by" varchar(50), 
         "has_uv_access" boolean
    ); 
--	TABLESPACE acctmgmt_data;

alter sequence  acctmgmt.account_seq owned by acctmgmt.account.account_id;

--------------------------------------------------------
--  ddl for table account_billing
--------------------------------------------------------
 
create table acctmgmt."account_billing" 
    (    "account_billing_id" integer constraint pk_account_billing primary key default nextval('acctmgmt.account_billing_seq'), 
         "account_id" integer not null references acctmgmt."account" ("account_id"), 
         "billing_status" varchar(10) not null, 
         "vuid" varchar(256) not null, 
         "vendor" varchar(256) not null, 
         "created_time" timestamp (6), 
         "last_updated_time" timestamp (6)
    ); 
--	TABLESPACE acctmgmt_data;

alter sequence  acctmgmt."account_billing_seq" owned by acctmgmt.account_billing.account_billing_id;

--------------------------------------------------------
--  ddl for table device
--------------------------------------------------------

create table acctmgmt."device" 
    (    "device_id" integer constraint pk_device primary key default nextval('acctmgmt.device_seq'), 
         "account_id" integer references acctmgmt."account" ("account_id") not null, 
         "device_status" varchar(10) not null, 
         "native_device_id" varchar(256) not null, 
         "created_time" timestamp (6), 
         "last_updated_time" timestamp (6), 
         "pki_hash" varchar(128), 
         "device_name" varchar(50), 
         "created_by" varchar(50), 
         "date_registered" timestamp (6), 
         "last_updated_by" varchar(50), 
         "device_type" varchar(256), 
         "native_device_id_type" varchar(50), 
         "native_device_type" varchar(50)
    ); 
--	TABLESPACE acctmgmt_data;

alter sequence acctmgmt.device_seq owned by acctmgmt.device.device_id;

--------------------------------------------------------
--  ddl for table device_history
--------------------------------------------------------

create table acctmgmt."device_history" 
    (    "device_history_id" integer constraint pk_device_history primary key default nextval('acctmgmt.device_history_seq'), 
         "account_id" integer not null references acctmgmt."account" ("account_id"), 
         "native_device_id" varchar(256) not null, 
         "native_device_id_type" varchar(50), 
         "native_device_type" varchar(50), 
         "last_updated_time" timestamp (6), 
         "pki_hash" varchar(128), 
         "device_name" varchar(50), 
         "created_by" varchar(50), 
         "date_registered" timestamp (6), 
         "date_deregistered" timestamp (6), 
         "last_updated_by" varchar(50), 
         "device_type" varchar(256), 
         "created_time" timestamp (6)
    ); 
--	TABLESPACE acctmgmt_data;

	alter sequence acctmgmt.device_history_seq owned by acctmgmt.device_history.device_history_id;

--------------------------------------------------------
--  ddl for table member
--------------------------------------------------------

   create table acctmgmt."member" 
    (    "member_id" integer constraint pk_member primary key default nextval('acctmgmt.member_seq'), 
         "account_id" integer not null references acctmgmt."account" ("account_id"), 
         "member_status" varchar(10) not null, 
         "role" varchar(10) not null, 
         "email" varchar(256), 
         "password" varchar(256), 
         "carrier" varchar(50) not null, 
         "first_name" varchar(50), 
         "last_name" varchar(50), 
         "address_street" varchar(50), 
         "address_street2" varchar(50), 
         "address_city" varchar(50), 
         "address_state" varchar(50), 
         "address_country" varchar(50), 
         "address_postal_code" varchar(50), 
         "created_time" timestamp (6), 
         "last_updated_time" timestamp (6), 
         "phone" varchar(50), 
         "product" varchar(30), 
         "monthly_spending_limit" numeric(22,2), 
         "parental_control_tv" varchar(1024), 
         "parental_control_movie" varchar(1024), 
         "avatar_url" varchar(1024), 
         "partner_member_id" varchar(1024), 
         "member_guid" varchar(128), 
         "account_pin" varchar(256), 
         "eula_accepted" boolean, 
         "eula_version" varchar(30), 
         "epg_headend" varchar(256), 
         "partner_user_name" varchar(256), 
         "created_by" varchar(50), 
         "last_updated_by" varchar(50), 
         "user_nick_name" varchar(128), 
         "alternate_email_address" varchar(256), 
         "status_update_date" date, 
         "login_lock_expiration" date, 
         "failed_login_attempts" integer, 
         "deletable" char(1), 
         "include_in_shared_mode" char(1), 
         "switch_profile_auth_type" varchar(10), 
         "can_purchase" char(1), 
         "purchase_auth_type" varchar(10), 
         "salt" varchar(256)
    ); 
--	TABLESPACE acctmgmt_data;

	alter sequence acctmgmt.member_seq owned by acctmgmt.member.member_id;

--------------------------------------------------------
--  ddl for table role
--------------------------------------------------------

create table acctmgmt."role" 
    (    "role_id" integer constraint pk_role primary key default nextval('acctmgmt.role_seq'), 
         "role_name" varchar(30) not null, 
         "display_name" varchar(64), 
         "carrier" varchar(30) not null, 
         "created_by" varchar(30), 
         "created_time" date, 
         "last_updated_by" varchar(30), 
         "last_updated_time" date
    ); 
--	TABLESPACE acctmgmt_data;

	alter sequence acctmgmt.role_seq owned by acctmgmt.role.role_id;

--------------------------------------------------------
--  ddl for table member_role
--------------------------------------------------------

create table acctmgmt."member_role" 
    (    "member_role_id" integer constraint pk_member_role primary key default nextval('acctmgmt.member_role_seq'), 
         "member_id" integer not null references acctmgmt."member" ("member_id"), 
         "role_id" integer not null references acctmgmt."role" ("role_id"), 
         "is_admin" boolean, 
         "created_time" date, 
         "created_by" varchar(30), 
         "last_updated_by" varchar(30), 
         "last_updated_time" date
    ); 
--	TABLESPACE acctmgmt_data;

	alter sequence acctmgmt.member_role_seq owned by acctmgmt.member_role.member_role_id;
	
--------------------------------------------------------
--  ddl for index idx_account_billing_ai
--------------------------------------------------------

create index "idx_account_billing_ai" on acctmgmt."account_billing" ("account_id");-- tablespace acctmgmt_index;	
	
--------------------------------------------------------
--  ddl for index uk_account_billing_vv
--------------------------------------------------------

create unique index "uk_account_billing_vv" on acctmgmt."account_billing" ("vuid", "vendor");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_device_ai
--------------------------------------------------------

create index "idx_device_ai" on acctmgmt."device" ("account_id");-- tablespace acctmgmt_index;
	
--------------------------------------------------------
--  ddl for index uk_device_ph
--------------------------------------------------------

create unique index "uk_device_ph" on acctmgmt."device" ("pki_hash");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_device_history _ai
--------------------------------------------------------

create index "idx_device_history_ai" on acctmgmt.device_history ("account_id");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_device_history _nid
--------------------------------------------------------

create index "idx_device_history_nid" on acctmgmt.device_history ("native_device_id");-- tablespace acctmgmt_index;
	
--------------------------------------------------------
--  ddl for index idx_member_ai
--------------------------------------------------------

create index "idx_member_ai" on acctmgmt."member" ("account_id");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_member_e
--------------------------------------------------------

create index "idx_member_e" on acctmgmt."member" ("email");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_member_aea
--------------------------------------------------------

create index "idx_member_aea" on acctmgmt."member" ("alternate_email_address");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index uk_member_role_mr
--------------------------------------------------------

create unique index "uk_member_role_mr" on acctmgmt."member_role" ("member_id", "role_id");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_member_role_mi
--------------------------------------------------------

create index "idx_member_role_mi" on acctmgmt."member_role" ("member_id");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl for index idx_member_role_ri
--------------------------------------------------------

create index "idx_member_role_ri" on acctmgmt."member_role" ("role_id");-- tablespace acctmgmt_index;

--------------------------------------------------------
--  ddl create user and grant permissions
--------------------------------------------------------
<% if @user %>
<% if @pswd %>
create user <%= @user -%> LOGIN PASSWORD '<%= @pswd -%>';
<% end %>
grant connect on database prdacct to <%= @user -%>;
grant usage on schema acctmgmt to <%= @user -%>;
grant usage, select on all sequences in schema acctmgmt to <%= @user -%>;
grant select, insert, update, delete on all tables in schema acctmgmt to <%= @user -%>;
<% end %>

