<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation=
          "http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- if you need to return feed pages in JSON format, you'll need to reference
         this bean from atom-server.cfg.xml
    -->
    <bean name="json-filter"          class="org.apache.abdera.ext.json.JSONFilter"/>

    <!-- Hibernate -->
    <bean name="feed-repository-bean" class="org.atomhopper.hibernate.HibernateFeedRepository">
        <constructor-arg>
            <map>
                <!-- Start H2 Config -->
<!--                <entry key="hibernate.connection.url" value="jdbc:h2:/opt/atomhopper/atom-hopper-db" />
                <entry key="hibernate.connection.driver_class" value="org.h2.Driver" />
                <entry key="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
                <entry key="hibernate.connection.username" value="sa" />
                <entry key="hibernate.connection.password" value="" />  -->
                <!-- End H2 Config -->

                <!-- Start MySQL Config -->

                <entry key="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
                <entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
                <entry key="hibernate.connection.url" value="<%=@database_url %>?createDatabaseIfNotExist=true" />
                <entry key="hibernate.connection.username" value="<%= @database_username %>" />
                <entry key="hibernate.connection.password" value="<%= @database_password %>" />
                <entry key="show_sql" value="true" />
                <!-- End MySQL Config -->
 <!-- Start PostgreSQL Config -->
                <!--
                <entry key="hibernate.connection.driver_class" value="org.postgresql.Driver" />
                <entry key="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
                <entry key="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/atomhopper" />
                <entry key="hibernate.connection.username" value="postgres" />
                <entry key="hibernate.connection.password" value="password" />
                -->
                <!-- End PostgreSQL Config -->

                <entry key="hibernate.hbm2ddl.auto" value="update" />
                <!-- <entry key="hibernate.show_sql" value="false" /> -->

                <!-- Start C3P0 Config -->
                <entry key="hibernate.c3p0.min_size" value="10" />
                <entry key="hibernate.c3p0.max_size" value="25" />
                <entry key="hibernate.c3p0.timeout" value="300" />
                <entry key="hibernate.c3p0.idle_test_period" value="10" />
                <!-- End C3P0 Config -->
            </map>
        </constructor-arg>
    </bean>
 <bean name="hibernate-feed-source" class="org.atomhopper.hibernate.adapter.HibernateFeedSource">
        <property name="feedRepository" ref="feed-repository-bean" />
    </bean>

    <bean name="hibernate-feed-publisher" class="org.atomhopper.hibernate.adapter.HibernateFeedPublisher">
        <property name="feedRepository" ref="feed-repository-bean" />
    </bean>

    <!-- Postgres (Perfromance) Data Adapter -->
    <!--
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/atomhopper" />
        <property name="username" value="postgres" />
        <property name="password" value="password" />
        <property name="minIdle" value="10" />
        <property name="maxIdle" value="25" />
        <property name="initialSize" value="10" />
        <property name="maxActive" value="50" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvitctionRunsMillis" value="10000" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="postgres-feed-publisher" name="postgres-feed-publisher" class="org.atomhopper.postgres.adapter.PostgresFeedPublisher">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="postgres-feed-source" name="postgres-feed-source" class="org.atomhopper.postgres.adapter.PostgresFeedSource">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    -->
 <!-- JDBC (Performance) Data Adapter -->
    <!--
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/atomhopper" />
        <property name="username" value="postgres" />
        <property name="password" value="password" />
        <property name="minIdle" value="10" />
        <property name="maxIdle" value="25" />
        <property name="initialSize" value="10" />
        <property name="maxActive" value="50" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="testWhileIdle" value="true" />
        <property name="timeBetweenEvitctionRunsMillis" value="10000" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="postgres-feed-publisher" name="postgres-feed-publisher" class="org.atomhopper.jdbc.adapter.JdbcFeedPublisher">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="postgres-feed-source" name="postgres-feed-source" class="org.atomhopper.jdbc.adapter.JdbcFeedSource">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    -->

    <!-- MongoDB Connection -->
    <!--
    <mongo:db-factory  id="mongoDbFactory"
                        dbname="atomhopper"
            username="atomhopper"
            password="password"
            mongo-ref="mongo"/>

    <mongo:mongo replica-set="127.0.0.1:27017">
        <mongo:options connections-per-host="10"
                    slave-ok="true"/>
    </mongo:mongo>
<bean name="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <bean name="mongodb-feed-publisher" class="org.atomhopper.mongodb.adapter.MongodbFeedPublisher">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>

    <bean name="mongodb-feed-source" class="org.atomhopper.mongodb.adapter.MongodbFeedSource">
        <property name="mongoTemplate" ref="mongoTemplate" />
    </bean>
    -->
</beans>
