CREATE USER '<%= @database_username %>'@'%' IDENTIFIED BY '<%= @database_password %>';
GRANT ALL PRIVILEGES ON . TO '<%= @database_username %>'@'%' IDENTIFIED BY '<%= @database_password %>';

create table Categories (Term varchar(255) not null, primary key (Term)) ENGINE=InnoDB;
create table CategoryEntryReferences (entryId varchar(255) not null, category varchar(255) not null, primary key (entryId, category)) ENGINE=InnoDB;
create table Entries (EntryID varchar(255) not null, CreationDate datetime not null, DateLastUpdated datetime not null, EntryBody longtext, Feed varchar(255), primary key (EntryID)) ENGINE=InnoDB;
create table Feeds (Name varchar(255) not null, FeedID varchar(255), primary key (Name)) ENGINE=InnoDB;
alter table CategoryEntryReferences add index FKEF969F9CFBC7269D (entryId), add constraint FKEF969F9CFBC7269D foreign key (entryId) references Entries (EntryID);
alter table CategoryEntryReferences add index FKEF969F9CA3D8A01E (category), add constraint FKEF969F9CA3D8A01E foreign key (category) references Categories (Term);
alter table Entries add index FK45B1C704D6F525E (Feed), add constraint FK45B1C704D6F525E foreign key (Feed) references Feeds (Name);
commit;
