<% if @db_host %>publisher.db.connect.string=jdbc:oracle:thin:@<%= db_host %><% if @db_port %>:<%= @db_port -%><% end %><% if @db_sid %>:<%= @db_sid -%><% end %><% end %>
<% if @db_user %>database.username=<%= @db_user -%><% end %>
<% if @db_passwd %>database.password=<%= @db_passwd -%><% end %>
