<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

        <entry key="properties.context">config</entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.supportSharedProfile"><%= @support_shared_profile -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.sharedProfileDeletable"><%= @shared_profile_deletable -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.supportPartnerProfile"><%= @support_partner_profile -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.sharedProfileCanPurchase"><%= @shared_profile_can_purchase -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.switchProfileAuthTypeDefault"><%= @switch_profile_auth_type_default -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.purchaseAuthTypeDefault"><%= @purchase_auth_type_default -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.maxUsers"><%= @max_users -%></entry>

        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.maxDevices"><%= @max_devices -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.partnerDevicePolicy"><%= @partner_device_policy -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.partnerDeviceRegister"><%= @partner_device_register -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.autoDeviceRegister"><%= @auto_device_register -%></entry>
        <entry key="<%= @adp_carrier -%>.<%= @adp_product -%>.<%= @adp_version -%>.adapterBase"><%= @account_adapter_url -%></entry>
</properties>
