######################
# PUPPET managed file
######################

#Cryptography
crypto.key=TheQuickBrownFoxJumpedOverTheLaz
crypto.enabled=true

#email validation
<% if @email_validation_regex %>email.validation.regex=<%= @email_validation_regex -%><% end %>

#database overrides
<% if @db_url %>database.url=<%= @db_url -%><% end %>
<% if @db_user %>database.username=<%= @db_user -%><% end %>
<% if @db_passwd %>database.password=<%= @db_passwd -%><% end %>

#auth overrides
<% if @auth_identity_url %>auth.identityServerURL=<%= @auth_identity_url -%><% end %>
<% if @auth_rights_url %>auth.rightsServerURL=<%= @auth_rights_url -%><% end %>
<% if @auth_session_url %>auth.sessionServerURL=<%= @auth_session_url -%><% end %>
<% if @auth_enable_session_mgr %>auth.enableSessionManager=<%= @auth_enable_session_mgr -%><% end %>
<% if @auth_type %>auth.type=<%= @auth_type -%><% end %>

#service overrides
<% if @account_adapter_url %>acctMgmt.adapter.baseUrl=<%= @account_adapter_url -%><% end %>
<% if @memcached_servers %>memcached.servers=<%= @memcached_servers -%><% end %>
<% if @memcached_health_enable %>memcached.health.check.enabled=<%= @memcached_health_enable -%><% end %>
<% if @account_host %>account.management.host=<%= @account_host -%><% end %>
<% if @account_port %>account.management.port=<%= @account_port -%><% end %>
<% if @device_blacklist %>device.blacklist=<%= @device_blacklist -%><% end %>

#hibernate overrides
<% if @db_driver %>database.driver_class=<%= @db_driver -%><% end %>
<% if @hbm_dialect %>hibernate.dialect=<%= @hbm_dialect -%><% end %>
<% if @hbm_show_sql %>hibernate.show_sql=<%= @hbm_show_sql -%><% end %>
<% if @hbm_format_sql %>hibernate.format_sql=<%= @hbm_format_sql -%><% end %>
<% if @hbm2ddl_auto %>hibernate.hbm2ddl.auto=<%= @hbm2ddl_auto -%><% end %>
<% if @hbm_generate_ddl %>hibernate.jpaVendorAdapter.generateDdl=<%= @hbm_generate_ddl -%><% end %>
<% if @db_validation_query %>database.datasource.validationQuery=<%= @db_validation_query -%><% end %>

