<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

 	<util:map id="outgoingStatusMappingsOverrides" map-class="java.util.HashMap">
        <entry key="<%= @adp_carrier -%>:enabled" value="ACTIVE"/>
        <entry key="<%= @adp_carrier -%>:disabled" value="INACTIVE"/> 
        <entry key="<%= @adp_carrier -%>:suspended" value="SUSPEND"/>
    </util:map>
    
   	<util:map id="incomingStatusMappingsOverrides" map-class="java.util.HashMap">
        <entry key="<%= @adp_carrier -%>:INACTIVE" value="disabled"/> 
        <entry key="<%= @adp_carrier -%>:ACTIVE" value="enabled"/>
        <entry key="<%= @adp_carrier -%>:SUSPEND" value="suspended"/>
    </util:map>  
    
   	<util:map id="failedAuthConfigs" map-class="java.util.HashMap"  value-type="java.lang.Integer">
        <entry key="<%= @adp_carrier -%>:lockTimeoutMins" value="<%= @lock_timeout_mins -%>"/> 
        <entry key="<%= @adp_carrier -%>:failedAttemptsBeforeLocking" value="<%= @pin_failed_attempts -%>"/>
    </util:map>  
      
</beans>
