#EXTM3U
<% if not @playlist_array.empty? -%>
<% @playlist_array.each do |item| -%>
#EXT-X-STREAM-INF:PROGRAM-ID=<%= item['program_id'] -%>,BANDWIDTH=<%=item['bandwidth'] %>
<%= item['variant'] %>/prog_index.m3u8
<% end -%>
<% end -%>
