#
# Apache HTTPD configuration file for the URL token authentication module
# Project: HTTP Live Streaming
# Author: Scott Kidder <skidder@mobitv.com>
# Created: 2009-08-12
#

AddType video/MP2T .ts
AddType application/vnd.apple.mpegurl .m3u8

# Set environment flags that indicate the request-type for log routing
SetEnvIf Request_URI "(/AS/)" REQUEST_TYPE_HTTPLIVE=1
SetEnvIf Request_URI "(/ATT_AS/)" REQUEST_TYPE_HTTPLIVE=1
SetEnvIf Request_URI "(/SPT_AS/)" REQUEST_TYPE_HTTPLIVE=1
SetEnvIf Request_URI "(/VZW_AS/)" REQUEST_TYPE_HTTPLIVE=1
SetEnvIf Request_URI "(/MOBITV_AS/)" REQUEST_TYPE_HTTPLIVE=1

# Custom log format that includes the auth token expressed as a cookie
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %X %O \"%{Content-Length}o\" \"%{Content-Range}o\" \"%{MEDIA_TOKEN}C\"" combinedoutputlength
CustomLog "|/usr/sbin/rotatelogs -l /etc/httpd/logs/httplive-access.%Y%m%d%H 3600" combinedoutputlength env=REQUEST_TYPE_HTTPLIVE

RewriteEngine on

#<IfModule mod_rewrite.c>
#       RewriteLog "/var/log/httpd/rewrite.log"
#       RewriteLogLevel 3
#</IfModule>

LoadModule urlauth_module modules/mod_urlauth.so

#
# Block all requests with a referrer URL present to stop external linking
RewriteCond %{HTTP_REFERER} !=""
RewriteRule ^.+\.m3u8(?:.*)$ %{HTTP_REFERER} [F]

# Configuration for HTTP Live transport segments Cache-Control
SetEnvIf Request_URI "\.ts$" MEDIA_REQUEST=1
Header set Cache-Control "max-age=600" env=MEDIA_REQUEST

# Configuration for HTTP Live Playlist Cache-Control
SetEnvIf Request_URI "(.m3u8)" PLAYLIST_REQUEST=1
Header set Cache-Control "no-cache" env=PLAYLIST_REQUEST

#
# Configuration for HTTP Live Streaming

# Rewrite UID-qualified whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^/(postauth)/(.+)/index_.+.m3u8?encoding=(.+)&u=(.+)
RewriteRule ^(.+)$ %2/%3/prog_index.m3u8 [C]
RewriteRule ^(.+)$ /videos/$1? [L]

# Rewrite whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^/(postauth)/(.+)/index_.+.m3u8?encoding=(.+)
RewriteRule ^(.+)$ %2/%3/prog_index.m3u8 [C]
RewriteRule ^(.+)$ /videos/$1? [L]

# Rewrite whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI} ^/(postauth)/(.+)/index_(.+).m3u8
RewriteRule ^(.+)$ %2/index_%3.m3u8 [C]
RewriteRule ^(.+)$ /videos/$1 [L,CO=MEDIA_TOKEN:%{ENV:REDIRECT_AUTH_TOKEN}:%{HTTP_HOST}:240:/:secure]

# Rewrite the URL for the a whitelisted or post-auth multi-bitrate m3u8 file
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteRule ^/(postauth)(.*)/prog_index.m3u8$ /videos$2/prog_index.m3u8? [L,CO=MEDIA_TOKEN:%{ENV:REDIRECT_AUTH_TOKEN}:%{HTTP_HOST}:240:/:secure]


#### NEW RULES FOR UPDATED FILE AND PATH NAMES (2010-01-22) ######
# SINGLE-VARIANT
# Rewrite UID-qualified whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^/postauth/(.+)/(.+)/(.+).m3u8?encoding=(.+)&u=(.+)
RewriteRule ^(.+)$ %2/%4/prog_index.m3u8 [C]
RewriteRule ^(.+)$ /videos/AS/$1? [L]

# SINGLE-VARIANT
# Rewrite whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^/postauth/(.+)/(.+)/(.+).m3u8?encoding=(.+)
RewriteRule ^(.+)$ %2/%4/prog_index.m3u8 [C]
RewriteRule ^(.+)$ /videos/AS/$1? [L]

# MULTI-VARIANT using AS multi-variant playlist from encoder
# Rewrite whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI} ^/(postauth)/AS/(.+)/(.+).m3u8
RewriteRule ^(.+)$ %2/%3.m3u8 [C]
RewriteRule ^(.+)$ /videos/AS/$1 [L,CO=MEDIA_TOKEN:%{ENV:REDIRECT_AUTH_TOKEN}:%{HTTP_HOST}:240:/:secure]

# MULTI-VARIANT using carrier-specific multi-variant playlist on frontend
# Rewrite whitelisted or post-auth URLs to use the encoding-id in the path
RewriteCond %{ENV:REDIRECT_IS_AUTHENTICATED} true
RewriteCond %{REQUEST_URI} ^/postauth(?!/(AS)/)(.+)/(.+)/(.+).m3u8
RewriteRule ^(.+)$ /HLS-Live/playlists/%2/%4.m3u8 [L,CO=MEDIA_TOKEN:%{ENV:REDIRECT_AUTH_TOKEN}:%{HTTP_HOST}:240:/:secure]
##### END NEW RULES ######

# Transport Stream URLs (not qualified with UID)
RewriteRule ^(.+\.ts)$ /videos$1 [L]

# Verify any non-whitelisted URL for any m3u8 file
<LocationMatch "^(?!/(postauth)/).+\.m3u8(?:.*)$">
   AuthCheckEnabled true
   RequireSignature true
   ValidateSignature true
   SecretKey 1D8837F7CC8667AA5B780152F21263C4
   ContentRoot /postauth
   SetHandler urlauth
</LocationMatch>

