AddType video/MP2T .ts
AddType application/vnd.apple.mpegurl .m3u8

# Allow GZIP compression of playlists
AddOutputFilterByType DEFLATE application/vnd.apple.mpegurl text/html text/plain text/xml

# Set environment flags that indicate the request-type for log routing
SetEnvIf Request_URI "(/live_hls(_.+|)/)" REQUEST_TYPE_LIVE_HLS=1

# requires the mod_logio module to be loaded.
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %X %O \"%{Content-Length}o\" \"%{Content-Range}o\" \"%{MEDIA_TOKEN}C\"" combinedoutputlength

CustomLog "|/usr/sbin/rotatelogs -l /etc/httpd/logs/live_hls-access.%Y%m%d%H 3600" combinedoutputlength env=REQUEST_TYPE_LIVE_HLS

RewriteEngine on

<% if scope.lookupvar("mobi_frag_hls::enable_rewrite_log")  == true %>
<IfModule mod_rewrite.c>
       RewriteLog "/var/log/httpd/rewrite.log"
       RewriteLogLevel 3
</IfModule>
<% else %>
#<IfModule mod_rewrite.c>
#       RewriteLog "/var/log/httpd/rewrite.log"
#       RewriteLogLevel 3
#</IfModule>
<% end %>

#
# Block all requests with a referrer URL present to stop external linking
RewriteCond %{HTTP_REFERER} !=""
RewriteRule ^.+\.m3u8(?:.*)$ %{HTTP_REFERER} [F]

# Configuration for HTTP Live Segment Cache-Control
SetEnvIf Request_URI "^/live_hls(_.+|)/.+(\.ts)" LIVE_TS_REQUEST=1
Header set Cache-Control "max-age=900" env=LIVE_TS_REQUEST

# Configuration for HTTP Live Playlist Cache-Control
SetEnvIf Request_URI "^/live_hls(_.+|)/.+(\.m3u8)" LIVE_PLAYLIST_REQUEST=1
Header set Cache-Control "no-cache" env=LIVE_PLAYLIST_REQUEST

#
# Now the rewrite rules that supports Streaming URL Format 2.0
# https://mobinet.mobitv.corp/display/arch/Streaming+URL+Formats+2.0
#

#
# Configuration for HLS Live
#

########################################
#
# Rewrite the URL for an encrypted single-bitrate m3u8 file
# It may be that a content is not encrypted even though a client supplies a sku. 
# Need to evaluate if encrypted playlist exists 

# /live_hls[_carrier]/<channel>/<sku>/<variant>/prog_index.m3u8 =>
# /var/www/live_hls/<channel>/<var>/prog_index-<sku>.m3u8

# With sku
RewriteCond %{REQUEST_URI} /live_hls(_.+|)/(.+)/(.+)/(.+)/prog_index\.m3u8$
RewriteRule ^(.+)$ <%= @drm_output_base %>/%2/%4/prog_index-%3.m3u8

# Test for a SKU-based request URI that is for encrypted content (stop evaluation if the rewritten playlist exists on disk)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} -s
RewriteCond %{REQUEST_FILENAME} ^<%= @drm_output_base %>/(.+)/prog_index-(.+)\.m3u8$
RewriteRule ^(.+)$ $0 [L] 

# Test for a SKU-based request URI that is for non-encrypted content (revert to non-SKU playlist (prog_index.m3u8) if SKU playlist does not exist)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} ^/var/www/live_hls/(.+)/prog_index-(.+)\.m3u8$
RewriteRule ^(.+)$ /var/www/live_hls/%1/prog_index.m3u8 [L]

##
########################################

########################################
#
# Rewrite the URL for a non-encrypted single-bitrate m3u8 file
# /live_hls[_<carrier>]/<channel>/<variant>/prog_index.m3u8 =>
# /var/www/live_hls/<channel>/<var>/prog_index.m3u8
RewriteCond %{REQUEST_URI} /live_hls(_.+|)/(.+)/(.+)/prog_index\.m3u8$
RewriteRule ^(.+)$ /var/www/live_hls/%2/%3/prog_index.m3u8 [L]

##
########################################

########################################
#
# Rewrite encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls[_<carrier>]/<channel>/<sku>/<switchgroup>.m3u8 =>
# /var/www/playlists/live_hls/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)\.m3u8$
RewriteRule ^(.+)$ /var/www/playlists/live_hls/%4.m3u8 [L]

##
########################################

########################################
#
# Rewrite non-encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls[_<carrier>]/<channel>/<switchgroup>.m3u8 =>
# /var/www/playlists/live_hls/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)\.m3u8$
RewriteRule ^(.+)$ /var/www/playlists/live_hls/%3.m3u8 [L]

##
########################################

########################################
#
# Rewrite the URL for a encrypted live transport-stream file 
# /live_hls[_<carrier>]/<channel>/<sku>/<var>/<file>.ts =>
# /var/www/live_hls/<channel>/<var>/<file>.ts
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ /var/www/live_hls/%2/%4/%5.ts [L]

##
########################################

########################################
#
# Rewrite the URL for a non-encrypted live transport-stream file 
# /live_hls[_<carrier>]/<channel>/<var>/<file>.ts =>
# /var/www/live_hls/<channel>/<var>/<file>.ts
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ /var/www/live_hls/%2/%3/%4.ts [L]

##
########################################

<% if scope.lookupvar("mobi_frag_hls::enable_hls_live_aes_key")  == true %>
# Rewrite the URL for a live_hls key file
# /live_hls/keys/<channel>/<timestamp>.aes_key =>
# /dev/shm/media/AS/keys/<channel>/<timestamp>.aes_key
RewriteCond %{REQUEST_URI} ^/live_hls(_.+|)/(.+)/(.+)/(.+)/(.+)/(.+)/(.+)\.aes_key$
#RewriteCond %{REQUEST_URI} ^/live_hls/keys/(.+)/(.+)\.aes_key$
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/keys/%2/%7.aes_key [L]
<% end %>
