AddType video/MP2T .ts
AddType application/vnd.apple.mpegurl .m3u8

# Allow GZIP compression of playlists
AddOutputFilterByType DEFLATE application/vnd.apple.mpegurl text/html text/plain text/xml

# Set environment flags that indicate the request-type for log routing
SetEnvIf Request_URI "/live_hls_(.+)/" REQUEST_TYPE_LIVE_HLS=1

# requires the mod_logio module to be loaded.
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %X %O \"%{Content-Length}o\" \"%{Content-Range}o\" \"%{MEDIA_TOKEN}C\"" combinedoutputlength

CustomLog "|/usr/sbin/rotatelogs -l /etc/httpd/logs/live_hls-access.%Y%m%d%H 3600" combinedoutputlength env=REQUEST_TYPE_LIVE_HLS

RewriteEngine on

#<IfModule mod_rewrite.c>
#       RewriteLog "/var/log/httpd/rewrite.log"
#       RewriteLogLevel 3
#</IfModule>

#
# Block all requests with a referrer URL present to stop external linking
RewriteCond %{HTTP_REFERER} !=""
RewriteRule ^.+\.m3u8(?:.*)$ %{HTTP_REFERER} [F]

# Configuration for HTTP Live Segment Cache-Control
SetEnvIf Request_URI "^/live_hls_(.+)/.+(\.ts)" LIVE_TS_REQUEST=1
Header set Cache-Control "max-age=900" env=LIVE_TS_REQUEST

# Configuration for HTTP Live Playlist Cache-Control
SetEnvIf Request_URI "^/live_hls_(.+)/.+(\.m3u8)" LIVE_PLAYLIST_REQUEST=1
Header set Cache-Control "no-cache" env=LIVE_PLAYLIST_REQUEST

# Now the rewrite rules
# https://mobinet.mobitv.corp/display/arch/Streaming+URL+Formats

#
# Configuration for HLS Live

# Rewrite the URL for an encrypted single-bitrate m3u8 file
# It may be that a content is not encrypted even though a client supplies a sku. 
# Need to evaluate if encrypted playlist exists 
# /live_hls_<carrier>/<channel>/<sku>/<switchgroup>.m3u8?encoding=<var> =>
# <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/<channel>/<variant>/prog_index-<sku>.m3u8
RewriteCond %{REQUEST_URI}%{QUERY_STRING} /live_hls_(.+)/(.+)/(.+)/(.+)\.m3u8?encoding=(.+)$
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/%2/%5/prog_index-%3.m3u8

# Test for a SKU-based request URI that is for encrypted content (stop evaluation if the rewritten playlist exists on disk)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} -s
RewriteCond %{REQUEST_FILENAME} ^<%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/(.+)/prog_index-(.+)\.m3u8
RewriteRule ^(.+)$ $0 [L] 

# Test for a SKU-based request URI that is for non-encrypted content (revert to non-SKU playlist (prog_index.m3u8) if SKU playlist does not exist)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} ^<%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/(.+)/prog_index-(.+)\.m3u8
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/%1/prog_index.m3u8 [L]

# Rewrite the URL for a non-encrypted single-bitrate m3u8 file
# /live_hls_<carrier>/<channel>/<switchgroup>.m3u8?encoding=<var> =>
# <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/<channel>/<variant>/prog_index.m3u8
RewriteCond %{REQUEST_URI}%{QUERY_STRING} /live_hls_(.+)/(.+)/(.+)\.m3u8?encoding=(.+)$
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/%2/%4/prog_index.m3u8 [L]

# Rewrite encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls_<carrier>/<channel>/<sku>/<switchgroup>.m3u8?[<params>] =>
# /var/www/html/HLS-Live/playlists/<carrier>_AS/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls_(.+)/(.+)/(.+)/(.+)\.m3u8
RewriteRule ^(.+)$ /var/www/html/HLS-Live/playlists/%1_AS/%4.m3u8 [L]

# Rewrite non-encrypted multi-bitrate playlist URLs to deliver the generic playlists
# /live_hls_<carrier>/<channel>/<switchgroup>.m3u8?[<params>] =>
# /var/www/html/HLS-Live/playlists/<carrier>_AS/<switchgroup>.m3u8
RewriteCond %{REQUEST_URI} ^/live_hls_(.+)/(.+)/(.+)\.m3u8
RewriteRule ^(.+)$ /var/www/html/HLS-Live/playlists/%1_AS/%3.m3u8 [L]

# Rewrite the URL for an encrypted live transport-stream file
# /live_hls/<channel>/<var>/<sku>/<file>.ts =>
# <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/<channel>/<variant>/<file>.ts
RewriteCond %{REQUEST_URI} ^/live_hls/(.+)/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/%1/%2/%4.ts? [L]

# Rewrite the URL for a non-encrypted live transport-stream file
# /live_hls/<channel>/<var>/<file>.ts =>
# <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/<channel>/<variant>/<file>.ts
RewriteCond %{REQUEST_URI} ^/live_hls/(.+)/(.+)/(.+)\.ts$
RewriteRule ^(.+)$ <%= scope.lookupvar("mobi_frag_hls::output_base") -%>/AS/%1/%2/%3.ts? [L]

