# Properties file for specifying the hibernate properties to be used by the applications
hibernate.show_sql=false
hibernate.generateDdl=false
hibernate.database_vendor=<%= hibernate_database_vendor %>

# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true

# The URL of the DAM Webservice
dam.webservice.url=http://juarnvip:8080/dam/ws?wsdl

# The URL of the DAM Webservice
ingestor.webservice.url=http://juingvip:8080/ingestor/

#Active MQ broker configuration
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

# The number of consumers on the FOLDERCREATION JMS queue
foldercreation.queue.consumers.size=1

# The number of consumers on the FOLDERMANAGER_ASSET_UPDATES JMS queue
assetUpdateNotification.queue.consumers.size=1

# Pattern for naming thumbnails that are stored for folders
thumbnail.naming.pattern=/var/Jukebox/uploads/thumbnails/${PROVIDER_ID}/${INVENTORY_ID}${VERSION}.${SUFFIX}

# whether to update package mappings when adding a new inventory-folder association
update.package.mapping=false

# whether the folder manager should try to use Oracle-native queries, or use the more portable JPA queries
native.oracle.queries.supported=<%= @fm_oracle_native_queries_enabled %>
