# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.show_sql=false
hibernate.hbm2ddl.auto=none
hibernate.database_vendor=<%= @hibernate_database_vendor %>

#Active MQ broker configuration
#mq.broker.url=vm://localhost
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100

#Log4j
log4j.out=/opt/mobi-tomcat/logs/wfm.log
hibernate.log4j.out=/opt/mobi-tomcat/logs/hibernate.log

# The URL of the DAM Webservice
dam.webservice.url=http://juarnvip:8080/dam/ws?wsdl

# The URL of the Ad Broker Webservice
ad.broker.url=http://adrequestorvip:8080/mobi-ad-requestor/services/AdService?wsdl

# The URL of the Folder Manager Webservice
folder.manager.url=http://juarnvip:8080/foldermanager/ws?wsdl

# The URL of the Folder Manager Application for accessing RESTful services 
fm.webservice.url=http://juarnvip:8080/foldermanager/

#Mail configuration
mail.smtphost=mailhost.res.mobitv
mail.from=contentalerts@mobitv.com

#Quartz Jobs
#cleanup every day at midnight
quartzJob.cleanupCronTrigger=0 0 0 * * ?

#advance workflows every 60s
quartzJob.advanceWorkflowInterval=60000

#max number of tasks to process every interval
wfm.taskBatchSize=50

#The number of hours to preserve when purging jobs.  For example, a value
#of 6 would lead to stale and finished tasks more than 6 hours old to be purged.
wfm.purgeWindow=72

#The maximum number of threads that will be started to process workflow tasks.
wfm.maxTaskEngineThreads=50

#The list of video codecs supported, comma-separated, case-insensitive
wfm.supportedVideoCodecs=h264|mpeg2video|mpeg1video|mpeg4|wmv1|cinepak|svq3|wmv3|mp4v|wmv_

#Whether an encoding task should fail if the clip is audio-only
wfm.failOnAudioOnly=true

#Location of the mediainfo program (used to identify video content attributes)
mediainfo.location=/usr/bin/mediainfo

#Directory where the encodings-list files should be written
encodings.list.directory=/var/Jukebox/vod/encodings-list
