use mysql;
update user set host='%' where user='root' and host='localhost';
commit;
CREATE DATABASE IF NOT EXISTS program_scheduler;
CREATE USER '<%= @program_username %>'@'%' IDENTIFIED BY '<%= @program_password %>';
GRANT ALL PRIVILEGES ON program_scheduler.* TO '<%= @program_username %>'@'%' WITH GRANT OPTION;
update user set host='localhost' where user='root' and host='%';
commit;
flush privileges;
