#!/bin/bash

mysql -uroot -p<%= @database_root_password %> < /var/mobi-program-scheduler-database/database/create_databases.sql

mysql -u<%= @program_username %> -p<%= @program_password %> program_scheduler < /var/mobi-program-scheduler-database/database/quartzDb.sql

touch /var/mobi-program-scheduler-database/database/installation.done
