#!/bin/bash

mysql -uroot -p<%= @database_root_password %> < /var/mobi-program-scheduler-database/database/delete_databases.sql

if [ -e /var/mobi-program-scheduler-database/database/installation.done ]; then
    rm /var/mobi-program-scheduler-database/database/installation.done
fi
