# If these properties should be reloaded, they should be added to the PropertiesWrapper and the associated MBean
# See classes in jmx package for more info.

# BEAN PROPERTIES

# Used by the Indirect Upload Implementation in beanContext.xml
# set to true to run indirect upload
indirect.upload.evaluator.turned.on=true

# Reg ex to match against provider name, to process indirect upload using ingestor, .* to match all providers
indirect.upload.evaluator.regex=NFL_test

# Directory that all Jukebox uploads are relative to
# Used by the Event File Locator in beanContext.xml
base.directory=/var/Jukebox/ftpupload

# Used by the Ingestor Client in beanContext.xml
ingestor.webservice.url=<%= @ingestor_url %>

# DATABASE PROPERTIES

# Used by the Data Source in databaseContext.xml
jdbc.driverClassName=<%= @jdbc_driver %>
jdbc.url=<%= @ftplogparser_db_jdbc_url %>
jdbc.username=<%= @db_username %>
jdbc.password=<%= @db_password %>

# Used by the Cache Manager in databaseContext.xml
ehcache.config=file:///opt/arlanda/conf/ftplogparser/ehcache.xml

# JMS PROPERTIES

#Active MQ broker configuration
# Used by the Connection Factory in jmsContext.xml
mq.broker.url=<%= @amq_broker_url %>

# The URL of the DAM Webservice
dam.webservice.url=<%= @dam_url %>

# The URL of the Folder Manager Application for accessing RESTful services 
fm.webservice.url=<%= @folder_manager_rest_url %>

#Location of the mediainfo program (used to identify video content attributes)
mediainfo.location=/usr/bin/mediainfo

#Timeout for mediainfo
mediainfo.timeout=<%= @mediainfo_timeout %>
