anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=022
anon_upload_enable=YES
anon_mkdir_write_enable=YES
anon_other_write_enable=YES
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_std_format=NO
chroot_local_user=YES
guest_enable=YES
guest_username=apache
user_sub_token=$USER
local_root=<%= @local_root %>
listen=YES
pam_service_name=vsftpd
session_support=YES
tcp_wrappers=NO
ssl_enable=NO
ssl_tlsv1=NO
ssl_sslv2=NO
ssl_sslv3=NO
force_local_logins_ssl=NO
hide_ids=YES
anon_umask=000
userlist_enable=YES
userlist_file=/etc/vsftpd.mobi_user_list
