# Basic stuff
topicprefix = <%= @mc_topicprefix %>
libdir      = <%= @mc_libdir %>
loglevel    = <%= @mc_loglevel %>

# Plugins
securityprovider = <%= @mc_security_provider_real %>
plugin.psk       = <%= @mc_security_psk_real %>

# Middleware
connector = stomp
plugin.stomp.host     = <%= @stomp_server %>
plugin.stomp.port     = <%= @stomp_port %>
plugin.stomp.user     = <%= @stomp_user %>
plugin.stomp.password = <%= @stomp_passwd %>

