# Basic stuff
topicprefix = <%= @mc_topicprefix %>
libdir      = <%= @mc_libdir %>
logfile     = <%= @mc_logfile %>
loglevel    = <%= @mc_loglevel %>
daemonize   = <%= @mc_daemonize %>

# Plugins
securityprovider = <%= @mc_security_provider_real %>
plugin.psk       = <%= @mc_security_psk_real %>

# Registration
registerinterval = 300
registration = Meta

# Middleware
connector = stomp
plugin.stomp.host     = <%= @stomp_server %>
plugin.stomp.port     = <%= @stomp_port %>
plugin.stomp.user     = <%= @stomp_user %>
plugin.stomp.password = <%= @stomp_passwd %>

# NRPE
plugin.nrpe.conf_dir  = <%= @nrpe_dir_real %>

# Facts
factsource = facter
