<!-- Puppet managed file -->
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!-- Allows us to use system properties as variables in this configuration file -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>file:${activemq.base}/conf/credentials.properties</value>
        </property>
    </bean>

    <!--
        The <broker> element is used to configure the ActiveMQ broker.
    -->
    
    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="<%= @broker_name -%>" dataDirectory="${activemq.base}/data">
    
      <destinationInterceptors>
	<virtualDestinationInterceptor>
	  <virtualDestinations>
	    <compositeTopic name="SEARCH.TOPIC">
	      <forwardTo>
		<queue physicalName="SEARCHAGENT.QUEUE" />
		<queue physicalName="SEARCHAGENT_ARLANDA.QUEUE" />
	      </forwardTo>
	    </compositeTopic>
	    <compositeTopic name="ASSET.TOPIC" copyMessage="true"
			    forwardOnly="false"> 
	      <forwardTo>
		<filteredDestination
		    selector="JMSType in ('publish-asset', 'replace-asset', 'update-asset', 'revoke-asset', 'asset-purged')"
		    queue="METADATAPROCESSING.QUEUE" />
		<filteredDestination
		    selector="JMSType in ('asset-available', 'replace-asset')"
		    queue="FOLDERMANAGER_ASSET_UPDATES.QUEUE" />
		<filteredDestination
		    selector="JMSType in ('legacy-encoding-request', 'asset-available', 'revoke-asset', 'update-asset', 'replace-asset', 'publish-asset', 'asset-purged')"
		    queue="CONTENTADAPTER.QUEUE" />
		<filteredDestination
		    selector="JMSType in ('publish-asset', 'replace-asset', 'update-asset', 'revoke-asset', 'asset-purged')"
		    queue="SCHEDULER.QUEUE" />
		<filteredDestination
		    selector="JMSType in ('asset-added', 'replace-asset')"
		    queue="WORKFLOWMANAGER.QUEUE" />
	      </forwardTo>
	    </compositeTopic>
	    <compositeTopic name="CHANNEL.PLAYOUT.TOPIC" copyMessage="true" forwardOnly="false"> 
	      <forwardTo>
		<filteredDestination 
		    selector="JMSType in ('playout_response')"
		    queue="PLAYLISTBROADCASTER.QUEUE" />
	      </forwardTo>
	    </compositeTopic>
	  </virtualDestinations>
	</virtualDestinationInterceptor>
      </destinationInterceptors>

        <destinationPolicy>
            <policyMap>
              <policyEntries>
                <policyEntry topic=">" producerFlowControl="true" memoryLimit="1mb">
                  <pendingSubscriberPolicy>
                    <vmCursor />
                  </pendingSubscriberPolicy>
                </policyEntry>
                <policyEntry queue=">" producerFlowControl="true" memoryLimit="1mb">
                  <!-- Use VM cursor for better latency
                       For more information, see:

                       http://activemq.apache.org/message-cursors.html

                  <pendingQueuePolicy>
                    <vmQueueCursor/>
                  </pendingQueuePolicy>
                  -->
                </policyEntry>
              </policyEntries>
            </policyMap>
        </destinationPolicy>


        <!--
            The managementContext is used to configure how ActiveMQ is exposed in
            JMX. By default, ActiveMQ uses the MBean server that is started by
            the JVM. For more information, see:

            http://activemq.apache.org/jmx.html
        -->
        <managementContext>
            <managementContext createConnector="true"/>
        </managementContext>

        <!--
            Configure message persistence for the broker. The default persistence
            mechanism is the KahaDB store (identified by the kahaDB tag).
            For more information, see:

            http://activemq.apache.org/persistence.html
        -->
        <persistenceAdapter>
          <jdbcPersistenceAdapter directory="${activemq.base}/activemq-data"  dataSource="#oracle-ds"/>
        </persistenceAdapter>


          <!--
            The systemUsage controls the maximum amount of space the broker will
            use before slowing down producers. For more information, see:
            
            http://activemq.apache.org/producer-flow-control.html

        <systemUsage>
            <systemUsage>
                <memoryUsage>
                    <memoryUsage limit="20 mb"/>
                </memoryUsage>
                <storeUsage>
                    <storeUsage limit="1 gb"/>
                </storeUsage>
                <tempUsage>
                    <tempUsage limit="100 mb"/>
                </tempUsage>
            </systemUsage>
        </systemUsage>
        -->

        <!--
            The transport connectors expose ActiveMQ over a given protocol to
            clients and other brokers. For more information, see:

            http://activemq.apache.org/configuring-transports.html
        -->
        <transportConnectors>
            <transportConnector name="openwire" uri="tcp://0.0.0.0:61616?transport.useInactivityMonitor=false&amp;wireFormat.maxInactivityDuration=0"/>
            <transportConnector name="stomp" uri="stomp://0.0.0.0:61612?transport.closeAsync=false"/> 
            <transportConnector name="stomp+nio" uri="stomp+nio://0.0.0.0:61613?transport.closeAsync=false"/> 
        </transportConnectors>

    </broker>

    <bean id="oracle-ds" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
      <property name="driverClass" value="<%= @db_driver -%>" />
      <property name="jdbcUrl" value="<%= @jdbc_url -%>"/>
      <property name="user" value="<%= @db_user -%>" />
      <property name="password" value="<%= @db_passwd -%>" />
      <property name="initialPoolSize"><value>3</value></property>
      <property name="minPoolSize"><value>3</value></property>
      <property name="maxPoolSize"><value>100</value></property>
      <property name="idleConnectionTestPeriod"><value>200</value></property>
      <property name="preferredTestQuery"><value>select 1 from dual</value></property>
      <property name="acquireIncrement"><value>1</value></property>
      <property name="maxStatements"><value>20</value></property>  <!-- 0 means: statement caching is turned off.  -->
      <property name="numHelperThreads"><value>3</value></property>  <!-- 3 is default -->
    </bean>

    <!--
        Enable web consoles, REST and Ajax APIs and demos
        It also includes Camel (with its web console), see ${ACTIVEMQ_HOME}/conf/camel.xml for more info

        Take a look at ${ACTIVEMQ_HOME}/conf/jetty.xml for more details
    -->
    <import resource="jetty.xml"/>

</beans>
<!-- END SNIPPET: example -->
