# Properties file for specifying the hibernate properties to be used by the applications
hibernate.show_sql=false
hibernate.generateDdl=false
hibernate.database_vendor=<%= @hibernate_database_vendor%>

# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true

# location of provider directories
provider.search.transform.path=/var/Jukebox/uploads/search_transform
provider.upload.directory=/var/Jukebox/uploads/xslt
<%- if @provider_orig_metadata_feed_dir -%>
provider.originals.metadata.feed.directory=<%= @provider_orig_metadata_feed_dir %>
<%- end -%>
date.time.service.url=http://localhost/strtotime.php

# The URL of the DAM Webservice
dam.webservice.url=<%= @dam_url %>

# The URL of the Folder Manager Application for accessing RESTful services 
fm.webservice.url=<%= @folder_manager_rest_url %>

# The URL of the Offer Management service for SKU & Package lookup
offer.management.vod.url=<%= @offer_management_vod_url %>
offer.management.episode.url=<%= @offer_management_episode_url %>
offer.management.series.url=<%= @offer_management_series_url %>

# The base URL of the Policy Management service for policy lookup
policy.management.url=<%= @policy_management_url %>

# a default folder for ingestion
default.folder=/

#Active MQ broker configuration
mq.broker.url=<%= @amq_broker_url %>

# The number of consumers on the INGESTASSET JMS queue
ingestasset.queue.consumers.size=10

# The number of consumers on the METADATAPROCESSING JMS queue
metadataprocessing.queue.consumers.size=1

# The number of consumers on the FTP UPLOAD JMS queue
ftpupload.queue.consumers.size=1

# Whether the content lineup should be automated after content is added
automate.content.lineups=true

# whether to update package mappings when adding a new inventory-folder association
update.package.mapping=false

# Pattern for the storage of provider-supplied XML metadata files
asset.metadata.naming.pattern=/var/Jukebox/uploads/metadata/${PROVIDER_ID}/${INVENTORY_ID}-${VERSION}.xml

# health check file system check list 
ingestor.file.list=/var/Jukebox/ftpupload,/var/Jukebox/uploads

# aspera ingestor properties
metadata.postprocess.provider = mobicontent
sftp.host = <%= @sftp_host %>
sftp.port = <%= @sftp_port %>
sftp.user = <%= @sftp_user %>
sftp.password = <%= @sftp_password %>
hostkey.file = /home/rtv/.ssh/known_hosts
mediainfo.path = /usr/bin/mediainfo
core.pool.size=1
max.pool.size=20

# if true, then the Ingestor will receive a JMS reply after the Search Agent has updated Solr
search.agent.reply.required=true

# Does the Ingestor ask DAM to copy or move the asset resources? (possible values: 'copy' or 'move') 
asset.resources.file.handling= <%= @asset_resource_file_handling %>

# Connection & read timeout values for use when accessing the Offer Management Component
offer.management.timeout=<%= @offer_management_timeout %>

# Connection & read timeout values for use when accessing the Policy Management Component
policy.management.timeout=<%= @policy_management_timeout %>

<%- if @subconvertor_location -%>
# Subconvertor tool location and timeout property
subconvertor.location=<%= @subconvertor_location %>
<%- end -%>
<%- if @subconvertor_timeout-%>
subconvertor.timeout=<%= @subconvertor_timeout %>
<%- end -%>
<%- if @offer_management_url -%>
offer.management.url=<%= @offer_management_url %>
<%- end -%>
<%- if @policy_manager_timeout -%>
policy.manager.timeout=<%= @policy_manager_timeout %>
<%- end -%>
<%- if @policy_manager_url -%>
policy.manager.url=<%= @policy_manager_url%>
<%- end -%>
<%- if @create_input_feed_file -%>
# Flag to whether create input feed file on the file system, it will be created under /var/Jukebox/uploads/originals/<provider_id>/metadata/feeds/ 
# The default of this should be false and from node manifest please pass this property as true
create.input.feed.file=<%= @create_input_feed_file %>
<%- end -%>
