<Context path="ingestor" docBase="/opt/mobi-arlanda-ingestor/webapp" debug="0">

  <!-- maxOpenPreparedStatements
       is per connection and should be 
       larger than the total # of prepared statements used in this app,
       smaller than the max # of allowed open cursors per connection -->



  <Resource auth="Container"
	    name="jdbc/legacyDS"
	    description="DB Connection"
	    <%- if @dam_datasource -%>
	    driverClass="<%= @dam_jdbc_driver %>"
	    <%- else -%>
	    driverClass="<%= @mobi2_jdbc_driver %>"
	    <%- end -%>
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
            <%- if @dam_datasource -%>
	    user="<%= @dam_db_username %>"
	    password="<%= @dam_db_password %>"
            <%- else -%>
	    user="<%= @mobi2_db_username %>"
	    password="<%= @mobi2_db_password %>"
            <%- end -%>
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
            <%- if @dam_datasource -%>
	    jdbcUrl="<%= @dam_db_jdbc_url %>" />
	    <%- else -%>
	    jdbcUrl="<%= @mobi2_db_jdbc_url %>" />
	    <%- end -%>


  <Resource auth="Container"
	    name="jdbc/ingestorDS"
	    description="DB Connection"
	    driverClass="<%= @ing_jdbc_driver %>"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
	    user="<%= @ing_db_username %>"
	    password="<%= @ing_db_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @ing_db_jdbc_url %>" />


  <Resource auth="Container"
	    name="jdbc/asperaDS"
	    description="DB Connection"
	    driverClass="<%= @aspera_jdbc_driver %>"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
	    user="<%= @aspera_db_username %>"
	    password="<%= @aspera_db_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @aspera_db_jdbc_url %>" />
  
  <Valve className="org.apache.catalina.valves.AccessLogValve"
         directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="ingestor_access." suffix=".log"
         pattern="combined" resolveHosts="false"/>
</Context>

