--
-- PostgreSQL database dump
--

\c ing;

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;


--
-- Name: ing_qrtz_blob_triggers; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_blob_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    blob_data bytea
);


ALTER TABLE public.ing_qrtz_blob_triggers OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_calendars; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_calendars (
    calendar_name character varying(200) NOT NULL,
    calendar bytea NOT NULL
);


ALTER TABLE public.ing_qrtz_calendars OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_cron_triggers; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_cron_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    cron_expression character varying(120) NOT NULL,
    time_zone_id character varying(80)
);


ALTER TABLE public.ing_qrtz_cron_triggers OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_fired_triggers; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_fired_triggers (
    entry_id character varying(95) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    is_volatile boolean NOT NULL,
    instance_name character varying(200) NOT NULL,
    fired_time bigint NOT NULL,
    priority integer NOT NULL,
    state character varying(16) NOT NULL,
    job_name character varying(200),
    job_group character varying(200),
    is_stateful boolean,
    requests_recovery boolean
);


ALTER TABLE public.ing_qrtz_fired_triggers OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_job_details; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_job_details (
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    description character varying(250),
    job_class_name character varying(250) NOT NULL,
    is_durable boolean NOT NULL,
    is_volatile boolean NOT NULL,
    is_stateful boolean NOT NULL,
    requests_recovery boolean NOT NULL,
    job_data bytea
);


ALTER TABLE public.ing_qrtz_job_details OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_job_listeners; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_job_listeners (
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    job_listener character varying(200) NOT NULL
);


ALTER TABLE public.ing_qrtz_job_listeners OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_rss_feeds; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_rss_feeds (
    id bigint NOT NULL,
    authurl character varying(2048),
    cron character varying(255),
    date_string character varying(255),
    feed_type character varying(255) NOT NULL,
    name character varying(255),
    provider_id bigint,
    url character varying(2048)
);


ALTER TABLE public.ing_rss_feeds OWNER TO <%= @ing_db_username %>;



--
-- Name: ing_rss_feeds_seq; Type: SEQUENCE; Schema: public; Owner: <%= @ing_db_username %>
--

CREATE SEQUENCE ing_rss_feeds_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ing_rss_feeds_seq OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_rss_feeds_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @ing_db_username %>
--

SELECT pg_catalog.setval('ing_rss_feeds_seq', 1, false);



--
-- Name: ing_qrtz_locks; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_locks (
    lock_name character varying(40) NOT NULL
);


ALTER TABLE public.ing_qrtz_locks OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_paused_trigger_grps; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_paused_trigger_grps (
    trigger_group character varying(200) NOT NULL
);


ALTER TABLE public.ing_qrtz_paused_trigger_grps OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_scheduler_state; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_scheduler_state (
    instance_name character varying(200) NOT NULL,
    last_checkin_time bigint NOT NULL,
    checkin_interval bigint NOT NULL
);


ALTER TABLE public.ing_qrtz_scheduler_state OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_simple_triggers; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_simple_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    repeat_count bigint NOT NULL,
    repeat_interval bigint NOT NULL,
    times_triggered bigint NOT NULL
);


ALTER TABLE public.ing_qrtz_simple_triggers OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_trigger_listeners; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_trigger_listeners (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    trigger_listener character varying(200) NOT NULL
);


ALTER TABLE public.ing_qrtz_trigger_listeners OWNER TO <%= @ing_db_username %>;

--
-- Name: ing_qrtz_triggers; Type: TABLE; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

CREATE TABLE ing_qrtz_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    is_volatile boolean NOT NULL,
    description character varying(250),
    next_fire_time bigint,
    prev_fire_time bigint,
    priority integer,
    trigger_state character varying(16) NOT NULL,
    trigger_type character varying(8) NOT NULL,
    start_time bigint NOT NULL,
    end_time bigint,
    calendar_name character varying(200),
    misfire_instr smallint,
    job_data bytea
);


ALTER TABLE public.ing_qrtz_triggers OWNER TO <%= @ing_db_username %>;
--
-- Data for Name: ing_qrtz_blob_triggers; Type: TABLE DATA; Schema: public; Owner: <%= @ing_db_username %>
--

--
-- Name: ing_qrtz_blob_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_blob_triggers
    ADD CONSTRAINT ing_qrtz_blob_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: ing_qrtz_calendars_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_calendars
    ADD CONSTRAINT ing_qrtz_calendars_pkey PRIMARY KEY (calendar_name);


--
-- Name: ing_qrtz_cron_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_cron_triggers
    ADD CONSTRAINT ing_qrtz_cron_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: ing_qrtz_fired_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_fired_triggers
    ADD CONSTRAINT ing_qrtz_fired_triggers_pkey PRIMARY KEY (entry_id);


--
-- Name: ing_qrtz_job_details_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_job_details
    ADD CONSTRAINT ing_qrtz_job_details_pkey PRIMARY KEY (job_name, job_group);


--
-- Name: ing_qrtz_job_listeners_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_job_listeners
    ADD CONSTRAINT ing_qrtz_job_listeners_pkey PRIMARY KEY (job_name, job_group, job_listener);


--
-- Name: ing_qrtz_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_locks
    ADD CONSTRAINT ing_qrtz_locks_pkey PRIMARY KEY (lock_name);


--
-- Name: ing_qrtz_paused_trigger_grps_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_paused_trigger_grps
    ADD CONSTRAINT ing_qrtz_paused_trigger_grps_pkey PRIMARY KEY (trigger_group);


--
-- Name: ing_rss_feeds_name_key; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_rss_feeds
    ADD CONSTRAINT ing_rss_feeds_name_key UNIQUE (name);


--
-- Name: ing_rss_feeds_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_rss_feeds
    ADD CONSTRAINT ing_rss_feeds_pkey PRIMARY KEY (id);



--
-- Name: ing_rss_feeds_provider_id_feed_type_key; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_rss_feeds
    ADD CONSTRAINT ing_rss_feeds_provider_id_feed_type_key UNIQUE (provider_id, feed_type);

--
-- Name: ing_qrtz_scheduler_state_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_scheduler_state
    ADD CONSTRAINT ing_qrtz_scheduler_state_pkey PRIMARY KEY (instance_name);


--
-- Name: ing_qrtz_simple_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_simple_triggers
    ADD CONSTRAINT ing_qrtz_simple_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: ing_qrtz_trigger_listeners_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_trigger_listeners
    ADD CONSTRAINT ing_qrtz_trigger_listeners_pkey PRIMARY KEY (trigger_name, trigger_group, trigger_listener);


--
-- Name: ing_qrtz_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>; Tablespace: 
--

ALTER TABLE ONLY ing_qrtz_triggers
    ADD CONSTRAINT ing_qrtz_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);

--
-- Name: ing_qrtz_blob_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_blob_triggers
    ADD CONSTRAINT ing_qrtz_blob_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES ing_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: ing_qrtz_cron_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_cron_triggers
    ADD CONSTRAINT ing_qrtz_cron_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES ing_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: ing_qrtz_job_listeners_job_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_job_listeners
    ADD CONSTRAINT ing_qrtz_job_listeners_job_name_fkey FOREIGN KEY (job_name, job_group) REFERENCES ing_qrtz_job_details(job_name, job_group);


--
-- Name: ing_qrtz_simple_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_simple_triggers
    ADD CONSTRAINT ing_qrtz_simple_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES ing_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: ing_qrtz_trigger_listeners_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_trigger_listeners
    ADD CONSTRAINT ing_qrtz_trigger_listeners_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES ing_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: ing_qrtz_triggers_job_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @ing_db_username %>
--

ALTER TABLE ONLY ing_qrtz_triggers
    ADD CONSTRAINT ing_qrtz_triggers_job_name_fkey FOREIGN KEY (job_name, job_group) REFERENCES ing_qrtz_job_details(job_name, job_group);


--
-- Name: public; Type: ACL; Schema: -; Owner: <%= @ing_db_username %>
--

REVOKE ALL ON SCHEMA public FROM PUBLIC;
REVOKE ALL ON SCHEMA public FROM <%= @ing_db_username %>;
GRANT ALL ON SCHEMA public TO <%= @ing_db_username %>;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

