<?xml version="1.0"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                 http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">
  
  <persistence-unit name="asperaPU" transaction-type="RESOURCE_LOCAL">
    <class>com.mobitv.arlanda.ingestor.aspera.domain.FaspFile</class>
    <class>com.mobitv.arlanda.ingestor.aspera.domain.FaspSession</class>

    <properties>
      <property name="hibernate.show_sql" value="false" />
      <property name="hibernate.dialect" value="<%= @hibernate_database_dialect %>"/>
      <property name="hibernate.use_sql_comments" value="true" />
      <property name="hibernate.hbm2ddl.auto" value="none"/>
    </properties>
  </persistence-unit>
  
</persistence>
