DROP DATABASE wfm;
DROP USER '<%= @wfm_username %>'@'%';

DROP DATABASE dam;
DROP USER '<%= @dam_username %>'@'%';

DROP DATABASE mp;
DROP USER '<%= @mp_username %>'@'%';

DROP DATABASE ing;
DROP USER '<%= @ing_username %>'@'%';

DROP DATABASE program_scheduler;
DROP USER '<%= @program_scheduler_username %>'@'%';

DROP DATABASE activemq;
DROP USER '<%= @activemq_username %>'@'%';

DROP DATABASE mobi2lite;
DROP USER '<%= @fm_username %>'@'%';

DROP DATABASE aspera_stats_collector;

flush privileges;
