#!/bin/bash

mysql -uroot -p<%= @database_root_password %> < /var/mobi-cms/database/create_databases.sql

mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/dam_schema.sql
mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/dam_quartz.sql
mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/dam_seed.sql

mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/convergence_schema.sql
#mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%=@carrier %>/vod_folder_heirarchy_schema.sql
mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/mobi2lite_schema.sql
mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/mobi2lite_seed.sql
#mysql -u<%= @dam_username %> -p<%= @dam_password %> dam < /var/mobi-cms/database/<%= @carrier %>/policy_schema.sql

mysql -u<%= @wfm_username %> -p<%= @wfm_password %> wfm < /var/mobi-cms/database/<%= @carrier %>/wfm_schema.sql
mysql -u<%= @wfm_username %> -p<%= @wfm_password %> wfm < /var/mobi-cms/database/<%= @carrier %>/wfm_quartz.sql

mysql -u<%= @wfm_username %> -p<%= @wfm_password %> wfm < /var/mobi-cms/database/<%= @carrier %>/wfm_seed.sql

mysql -u<%= @mp_username %> -p<%= @mp_username %> mp < /var/mobi-cms/database/<%= @carrier %>/mp_schema.sql
mysql -u<%= @mp_username %> -p<%= @mp_username %> mp < /var/mobi-cms/database/<%= @carrier %>/mp_seed.sql

mysql -u<%= @ing_username %> -p<%= @ing_password %> ing < /var/mobi-cms/database/<%= @carrier %>/ing_schema.sql
mysql -u<%= @ing_username %> -p<%= @ing_password %> ing < /var/mobi-cms/database/<%= @carrier %>/ing_seed.sql
mysql -u<%= @ing_username %> -p<%= @ing_password %> ing < /var/mobi-cms/database/<%= @carrier %>/ing_quartz.sql

mysql -u<%= @program_scheduler_username %> -p<%= @program_scheduler_password %> program_scheduler < /var/mobi-cms/database/<%= @carrier %>/processor_quartz.sql

mysql -u<%= @fm_username %> -p<%= @fm_password %> mobi2lite < /var/mobi-cms/database/<%= @carrier %>/mobi2lite_schema.sql
mysql -u<%= @fm_username %> -p<%= @fm_password %> mobi2lite < /var/mobi-cms/database/<%= @carrier %>/mobi2lite_seed.sql

mysql -u<%= @activemq_username %> -p<%= @activemq_password %> activemq < /var/mobi-cms/database/<%= @carrier %>/activemq_schema.sql

mysql -u<%= @ing_username %> -p<%= @ing_password %> aspera_stats_collector < /var/mobi-cms/database/<%= @carrier %>/aspera_statscollector_schema.sql

mysql -u<%= @purchase_username %> -p<%= @purchase_password %> ril_purchase_manager < /var/mobi-cms/database/<%= @carrier %>/purchase_schema.sql

touch /var/mobi-cms/database/installation.done
