#!/bin/bash

mysql -uroot -p<%= @database_root_password %> < /var/mobi-mgo/database/mgo_uploadprocessor_create_databases.sql

mysql -u<%= @asp_username %> -p<%= @asp_password %> ing < /var/mobi-mgo/database/processor_schema.sql
mysql -u<%= @asp_username %> -p<%= @asp_password %> ing < /var/mobi-mgo/database/processor_seed.sql
mysql -u<%= @asp_username %> -p<%= @asp_password %> ing < /var/mobi-mgo/database/processor_quartz.sql

mysql -u<%= @asp_username %> -p<%= @asp_password %> aspera_stats_collector < /var/mobi-mgo/database/aspera_statscollector_schema.sql

touch /var/mobi-mgo/database/installation.done
