##########################
# Solr properties
##########################
# URL of the Solr server
solr.server.url=http://localhost:8080/mobi-solr/

# socket timeout in milliseconds
solr.socket.timeout=15000
# connection time in milliseconds
solr.conn.timeout=15000
solr.conn.per.host=150
solr.total.conn=150
solr.max.retries=1

# max rows to be returned by solr query
solr.max.rows=<%= @solr_max_rows -%>

# the batch size for request to solr 

solr.request.batch.size=100

# The batch size used for solr "join" query, such as those of when searching for 
# series's children and when search channel ids for programs
solr.join.query.batch.size=1000

############################
# Thumbnail properties
############################

# Connection timeout for fetching images from URL
thumbnail.connection.timeout=3000
# Read timeout for fetching images from URL
thumbnail.read.timeout=3000

# Proxy host and port to be used for proxy enabled server
# The proxy type can be of type 
# SOCKS, HTTP, DIRECT
#  
#guide.proxy.type=SOCKS
#guide.proxy.host=localhost
#guide.proxy.port=9000

#Value corresponding to KEY_ANTIALIASING
# Possible value can be 
#0 for VALUE_ANTIALIAS_DEFAULT
#1 for VALUE_ANTIALIAS_ON
#2 for VALUE_ANTIALIAS_OFF
thumbnail.resize.antialiasing=1

#Value corresponding to Key KEY_TEXT_ANTIALIASING
# Possible value can be 
#0 for VALUE_TEXT_ANTIALIAS_DEFAULT
#1 for VALUE_TEXT_ANTIALIAS_ON
#2 for VALUE_TEXT_ANTIALIAS_OFF
thumbnail.resize.textantialiasing=1

#Value corresponding to Key KEY_RENDERING
# Possible value can be 
#0 for VALUE_RENDER_DEFAULT
#3 for VALUE_RENDER_SPEED
#4 for VALUE_RENDER_QUALITY
thumbnail.resize.rendering=0

#Value corresponding to Key KEY_COLOR_RENDERING
# Possible value can be 
#0 for VALUE_COLOR_RENDER_DEFAULT
#3 for VALUE_COLOR_RENDER_SPEED
#4 for VALUE_COLOR_RENDER_QUALITY
thumbnail.resize.colorrendering=0

#Value corresponding to Key KEY_ALPHA_INTERPOLATION
# Possible value can be 
#0 for VALUE_ALPHA_INTERPOLATION_DEFAULT
#3 for VALUE_ALPHA_INTERPOLATION_SPEED
#4 for VALUE_ALPHA_INTERPOLATION_QUALITY
thumbnail.resize.alphainterpolation=0


############################
# Other properties
############################


# Number of seconds in the future that the Publisher will search for next program on a channel (default: 86400)
next.program.boundary.seconds=86400

# Default package-id to include in EPG data (default: 0)
default.package.id=0

guide.external.connection.timeout=30000
guide.external.read.timeout=30000

filter.sku.id=false

dam.recommendation.url=http://damvip:8080/dam/services/recommendation/getAllGroupPublishedRecommendations
#Default location of health check configuration file
guide.healthcheckconfig.location=/opt/mobi-guide-manager/config/healthCheckConfig.xml

overridden.service.property.location=/opt/mobi-guide-manager/override.d/customConfig.d

# Properties for CDS-128: externalize solr fields for search
platform.solr.field.config=/opt/mobi-guide-manager/config/solr_field.csv

suggest.query=name_tsi:\"@*\"^1000000 OR name_tsi:\"@\"^1000000 OR description_tsi:\"@*\"^1000 OR description_tsi:\"@\"^1000 OR keyword_list_tsmi:\"@*\"^0.8 OR keyword_list_tsmi:\"@\"^0.8 OR em_episode__actors_list_tsmi:\"@*\"^9 OR em_episode__actors_list_tsmi:\"@\"^9 OR em_genre_list_tsmi:\"@*\"^70000 OR em_genre_list_tsmi:\"@\"^70000 OR em_audio_languages_list_tsmi:\"@*\"^0.8 OR em_audio_languages_list_tsmi:\"@\"^0.8 OR em_episode__producers_list_tsmi:\"@*\"^10 OR em_episode__producers_list_tsmi:\"@\"^10 OR em_episode__directors_list_tsmi:\"@*\"^10 OR em_episode__directors_list_tsmi:\"@\"^10


thumbnail.cache.max.age=<%= @thumbnail_cache_max_age -%>


thumbnail.404.max.age=<%= @thumbnail_404_max_age -%>
