#!/bin/sh

CATALINA_OPTS="$CATALINA_OPTS -Xms<%= @initheapsize %>m" 
CATALINA_OPTS="$CATALINA_OPTS -Xmx<%= @heapsize %>m" 
CATALINA_OPTS="$CATALINA_OPTS -XX:MaxPermSize=<%= @permgensize %>m" 
CATALINA_OPTS="$CATALINA_OPTS -XX:NewSize=256m "
CATALINA_OPTS="$CATALINA_OPTS -XX:SurvivorRatio=20" 
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseConcMarkSweepGC" 
CATALINA_OPTS="$CATALINA_OPTS -XX:+UseParNewGC "
CATALINA_OPTS="$CATALINA_OPTS -verbose:gc "
CATALINA_OPTS="$CATALINA_OPTS -Xloggc:/var/log/tomcat/mobi-tomcat-config-8080/jvmgc.log"
#CATALINA_OPTS="$CATALINA_OPTS --Djava.rmi.server.hostname=<%= @hostname %>"

export CATALINA_OPTS
