<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <% if @storage_manager_url %><entry key="storageManager.baseURL"><%= @storage_manager_url -%></entry><% end %>
	<% if @identity_manager_url %><entry key="auth.identityServerURL"><%= @identity_manager_url -%></entry><% end %>
	<% if @rights_manager_url %><entry key="auth.rightsServerURL"><%= @rights_manager_url -%></entry><% end %>
	<% if @ttl_default %><entry key="ttl.default"><%= @ttl_default -%></entry><% end %>
	<% if @ttl_carrier_product %><entry key="ttl.<%= @carrier -%>.<%= @product -%>"><%= @ttl_carrier_product -%></entry><% end %>
</properties>