#mgo.account_manager=http://lab501c.oak1.mobitv:8080/mgo-aaa-adapter-account-manager
#core.account_manager=http://lab501c.oak1.mobitv:8080/mobi-account-management
<% if @access_token_secs %>access_token.lifetime.secs=<%= @access_token_secs -%><% end %>
<% if @refresh_token_secs %>refresh_token.lifetime.secs=<%= @refresh_token_secs -%><% end %>
<% if @token_verified_secs %>token.verified.lifetime.secs=<%= @token_verified_secs -%><% end %>
