<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<% if @database_url %><entry key="database.url"><%= @database_url -%></entry><% end %>
	<% if @database_user_name %><entry key="database.username"><%= @database_user_name -%></entry><% end %>
	<% if @database_password %><entry key="database.password"><%= @database_password -%></entry><% end %>
        <% if @database_driver %><entry key="database.driver_class"><%= @database_driver -%></entry><% end %>
        <% if @hibernate_dialect %><entry key="hibernate.dialect"><%= @hibernate_dialect -%></entry><% end %>
        <% if @hibernate_show_sql %><entry key="hibernate.show_sql"><%= @hibernate_show_sql -%></entry><% end %>
	<% if @jersey_restclient_connection_timeout %><entry key="jersey.restclient.connectionTimeout"><%= @jersey_restclient_connection_timeout -%></entry><% end %>
	<% if @jersey_restclient_read_timeout %><entry key="jersey.restclient.readTimeout"><%= @jersey_restclient_read_timeout -%></entry><% end %>
	<% if @jersey_restclient_max_connections %><entry key="jersey.restclient.maxConnections"><%= @jersey_restclient_max_connections -%></entry><% end %>
	<% if @jersey_restclient_enable_client_log %><entry key="jersey.restclient.enableClientLog"><%= @jersey_restclient_enable_client_log -%></entry><% end %>
	<% if @auth_manager_endpoint_url %><entry key="auth.manager.endpoint.url"><%= @auth_manager_endpoint_url -%></entry><% end %>
	<% if @identity_manager_endpoint_url %><entry key="identity.manager.endpoint.url"><%= @identity_manager_endpoint_url -%></entry><% end %>
	<% if @offer_manager_endpoint_url %><entry key="offer.manager.endpoint.url"><%= @offer_manager_endpoint_url -%></entry><% end %>
	<% if @rights_manager_endpoint_url %><entry key="rights.manager.endpoint.url"><%= @rights_manager_endpoint_url -%></entry><% end %>
	<% if @transaction_processor_endpoint_url %><entry key="transaction.processor.endpoint.url"><%= @transaction_processor_endpoint_url -%></entry><% end %>
        <% if @session_manager_endpoint_url %><entry key="session.manager.endpoint.url"><%= @session_manager_endpoint_url -%></entry><% end %>
        <% if @zookeeper_connect_string %><entry key="zookeeper.connect.string"><%= @zookeeper_connect_string -%></entry><% end %>
        <% if @rights_manager_service_name %><entry key="rights.manager.service.name"><%= @rights_manager_service_name -%></entry><% end %>

        <% if @auth_use_legacy_verify_tokens_endpoint %><entry key="auth.use.legacy.verify-tokens-endpoint"><%= @auth_use_legacy_verify_tokens_endpoint -%></entry><% end %>
        <% if @auth_enable_session_manager %><entry key="auth.enable.session.manager"><%= @auth_enable_session_manager -%></entry><% end %>
        <% if @purchase_manager_service_name %><entry key="purchase.manager.service.name"><%= @purchase_manager_service_name -%></entry><% end %>
</properties>
