###############################################################################
## PUPPET: This file is maintained by puppet.
## PUPPET: Edits made by hand will be overridden every puppet agent run
################################################################################
# carrier to vendor mappings go here - 
#{carrier}={vendor}
#

<% if @carrier_vendor %>
<% carrier_vendor.each do |mapping| -%>
<%= mapping %>
<% end -%>
<% end -%>

