<?xml version="1.0" encoding="UTF-8"?>
<Context path="mobi-aaa-purchase-manager"
         workDir="/var/tmp/tomcat/<%= @mobi_aaa_purchase_manager_package_name -%>/work"
         docBase="/opt/<%= @mobi_aaa_purchase_manager_package_name -%>/webapp"
         debug="0" reloadable="false" />
