#!/bin/sh
A=$(find /var/www -name data.js -exec fgrep -i cdn_thumbnail_endpoint {} \;);B=$(find /var/www -name data.js);sed -i.bak "s%$A%  'CDN_THUMBNAIL_ENDPOINT':'<%=cdn_thumbnail_endpoint-%>',%" $B
