<% if not @proxy_pass_list.empty? -%>
<IfModule proxy_module>
  ProxyRequests Off
  <% @proxy_pass_list.each do |item| -%>
     <%= item %>
  <% end -%>
</IfModule>
<% end -%>

<Directory /var/www/html>

 <FilesMatch "\.(html|htm)$">
    Header set Cache-control "no-cache, no-store"
 </FilesMatch>

 <FilesMatch "\.(js|css|txt|swf|png|jpeg|jpg|otf)$">
    Header set Cache-control "public, max-age=31536000"
 </FilesMatch>

 <IfModule mod_deflate.c>
   <FilesMatch "\.(js|css)$">
      SetOutputFilter DEFLATE
   </FilesMatch>
 </IfModule>

 <IfModule dir_module>
    DirectoryIndex index.html
 </IfModule>

</Directory>

RewriteEngine on
## Update this with current build number
RewriteRule ^/mgo/(.*)$  /var/www/html/mgo/<%= @version.split("-")[0].split(".").to_s -%>/$1
RewriteRule ^/Widget/(.*)$   /var/www/web1/web/Widget/$1
RewriteRule ^/widgetlist.xml   /var/www/web1/web/widgetlist.xml
