##############################################################
# PUPPET: This file maintained by puppet on 
# PUPPET: edits made by hand will be overridden every puppet agent run
##############################################################
DEVICE=eth0
BOOTPROTO=none
NETMASK=<%= netmask %>
BROADCAST=<%= broadcast %>
GATEWAY=<%= gateway %>
IPADDR=<%= ipaddress %>
HWADDR=<%= macaddress %>
ONBOOT=yes


