<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <!-- <entry key="properties.context">local-override</entry>-->
        <% if @auth_connections_per_host %><entry key="auth.connections.per.host"><%= @auth_connections_per_host -%></entry><% end %>
        <% if @auth_connections_max %><entry key="auth.connections.max"><%= @auth_connections_max -%></entry><% end %>
        <% if @memcached_servers %><entry key="memcached.servers"><%= @memcached_servers -%></entry><% end %>
</properties>
