<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="properties.context">default</entry>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::default_offer_id") != "" %><entry key="default.offer-id"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::default_offer_id") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::offers_repo_file") != "" %><entry key="offers.repo.file"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::offers_repo_file") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_url") != "" %><entry key="solr.server.url"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_url") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_connection_timeout") != "" %><entry key="solr.server.connection.timeout"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_connection_timeout") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_max_connections") != "" %><entry key="solr.server.max.connections"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_max_connections") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_max_retries") != "" %><entry key="solr.server.max.retries"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::solr_server_max_retries") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::offermanagement_sku_vid") != "" %><entry key="offermanagement.sku.vid"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::offermanagement_sku_vid") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::fixed_offer_id_for_liveservice") != "" %><entry key="fixed.offer.id.for.liveservice"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::fixed_offer_id_for_liveservice") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::fixed_package_id_for_non_movie_vod") != "" %><entry key="fixed.package.id.for.non.movie.vod"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::fixed_package_id_for_non_movie_vod") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_rental") != "" %><entry key="default.id.for.rental"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_rental") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_trial") != "" %><entry key="default.id.for.trial"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_trial") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_global_subscription") != "" %><entry key="default.id.for.global.subscription"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::default_id_for_global_subscription") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::offers_assettype_mapping_file") != "" %><entry key="offers.assettype.mapping.file"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::offers_assettype_mapping_file") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::storage_recording_provider") != "" %><entry key="storage.recording.provider"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::storage_recording_provider") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_connectionTimeout") != "" %><entry key="jersey.restclient.connectionTimeout"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_connectionTimeout") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_readTimeout") != "" %><entry key="jersey.restclient.readTimeout"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_readTimeout") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_maxConnections") != "" %><entry key="jersey.restclient.maxConnections"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_maxConnections") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_enableClientLog") != "" %><entry key="jersey.restclient.enableClientLog"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::jersey_restclient_enableClientLog") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_job_enabled") != "" %><entry key="external.offer.metadata.job.enabled"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_job_enabled") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_cron_expression") != "" %><entry key="external.offer.metadata.cron.expression"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_cron_expression") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xml_file_path") != "" %><entry key="external.offer.metadata.xml.file.path"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xml_file_path") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xml_file_archive_path") != "" %><entry key="external.offer.metadata.xml.file.archive.path"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xml_file_archive_path") -%></entry><% end %>
        <% if scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xsl_file_path") != "" %><entry key="external.offer.metadata.xsl.file.path"><%= scope.lookupvar("mobi_aaa_reliance_offer_manager::external_offer_metadata_xsl_file_path") -%></entry><% end %>
</properties>
