#### MODULES ####
# Provides kernel logging support (previously done by rklogd)
$ModLoad imklog
# Provides support for local system logging (e.g. via logger command)
$ModLoad imuxsock

#Disable Rate Limiting
$SystemLogRateLimitInterval 0

#
# Set the default permissions for all log files.
#
$umask 0000
$FileCreateMode 0755
$DirCreateMode 0755

#### GLOBAL DIRECTIVES ####
# Use traditional timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
# Include a conf directory
$IncludeConfig /etc/rsyslog.d/
<% if @disable_rate_limit_interval %>
#Disable Rate Limiting
$SystemLogRateLimitInterval 0
<% end %>


#### RULES ####
# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none                /var/log/messages

# Send all above level info or higher to logcollector and loghost
#*.info;mail.none;authpriv.none;cron.none @@logcollector.smf1.mobitv:601

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure
#authpriv.* @@loghost-e.smf1.mobitv:601

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog


# Log cron stuff
cron.*                                                  /var/log/cron

# Everybody gets emergency messages
*.emerg                                                 *

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log
