<?xml version="1.0"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">

	<persistence-unit name="programSchedulerPU" transaction-type="RESOURCE_LOCAL">
		<!-- <jta-data-source>java:/comp/env/jdbc/programSchedulerDS</jta-data-source> -->				
		<properties>
			<property name="hibernate.show_sql" value="${hibernate.show_sql}" />
			<property name="hibernate.dialect" value="<%= @hibernate_database_dialect %>" />			
			<property name="hibernate.connection.username" value="${hibernate.connection.username}" />
			<property name="hibernate.connection.password" value="${hibernate.connection.password}" />
			<property name="hibernate.hbm2ddl.auto" value="${hibernate.hbm2ddl.auto}" />
			<property name="hibernate.use_sql_comments" value="true" />			
		</properties>

	</persistence-unit>
</persistence>
