application.default.carrier=<%= @vid_carrier %>
application.default.product=<%= @vid_product %>
application.default.version=<%= @vid_version %>
application.default.guideprovider=<%= @vid_guideprovider %>
application.default.resource.id=mobile-channels
application.default.format=xml

program.send_notification_program_start.onepermesage=<%= @notification_programstart_onepermessage %>

# CRON expression to control program start time notification.
# Here we want to send message every 1 minute. 0 0/1 * * * ?
<% if @notification_programstart_enabled %>program.send_notification_program_start.enabled=<%= @notification_programstart_enabled %>
<% end -%>
program.send_notification_program_start.cron=<%= @notification_programstart_cron %>
program.send_notification_program_start.interval=<%= @notification_programstart_interval %>

# Here we want to send message every 15 minute. 0 0/15 * * * ?
<% if @notification_preauthcheck_enabled %>program.send_notification_pre_authorization_check.enabled=<%= @notification_preauthcheck_enabled %>
<% end -%>
program.send_notification_pre_authorization_check.cron=<%= @notification_preauthcheck_cron %>
<% if @notification_preauthcheck_interval %>program.send_notification_pre_authorization_check.interval=<%= @notification_preauthcheck_interval %>
<% end -%>

# Here we want to send message once daily.
program.send_notification_shared_house_keeping.cron=<%= @notification_housekeepingshared_cron %>
program.send_notification_private_house_keeping.cron=<%= @notification_housekeepingprivate_cron %>
program.send_notification_quarantine_house_keeping.cron=<%= @notification_housekeepingquarantine_cron%>
program.send_notification_tstv_house_keeping.cron=<%= @notification_housekeepingtstv_cron%>

# Flag to indicate if quarantine recording is enabled/disabled
application.quarantine.enabled=<%= @application_quarantine_enabled%>
# Number of days to keep recordings in quarantine.
application.quarantine.recording.maxperiodindays=<%= @application_quarantine_maxperiodindays %>

<% if @application_fetch_interval %>application.programs.fetch.interval=<%= @application_fetch_interval%>
<% end -%>

# Queue Names that ProgramManager connects with
producer.queue.program.start.name=PUBLISHER.TOPIC
# Queue Name for authorization check
producer.queue.advance.authorization.check.name=PROGRAM_AUTH_CHECK.QUEUE
# Queue Name for shared housekeeping
producer.queue.housekeeping.name=RECORDING.HOUSEKEEPING.QUEUE
# Queue Name for EIT messages
<% if @program_queue_eit_messages_name %>program.queue.eit.messages.name=<%= @program_queue_eit_messages_name %>
<% end -%>
<% if @consumer_queue_program_eit_messages_size %>consumer.queue.program.eit.messages.size=<%= @consumer_queue_program_eit_messages_size %>
<% end -%>

#shared housekeeping jms message
shared.housekeeping.jms.message=shared-housekeeping

#private housekeeping jms message
private.housekeeping.jms.message=private-housekeeping

#Quarantine housekeeping jms message
quarantine.housekeeping.jms.message=quarantine-housekeeping

#TSTV housekeeping jms message
tstv.housekeeping.jms.message=tstv-housekeeping

# https://mobinet.mobitv.corp/display/engineering/VIP+Master+List+and+naming+Conventions
#external cannel url. Rest api call url for guide manager
<% if @guide_manager_url %>guide.manager.external.channel.url=<%= @guide_manager_url %>
<% end -%>
<% if @guide_manager_health_url %>guide.manager.health.url=<%= @guide_manager_health_url %>
<% end -%>

# URL of the Solr server
<% if @solr_server_url %>solr.server.url=<%= @solr_server_url %>
<% end -%>
solr.server.connection.timeout=<%= @solr_server_timeout %>
solr.server.max.connections=<%= @solr_server_max_connections %>
solr.server.max.retries=<%= @solr_server_max_retries %>

#Active MQ broker configuration
amq.broker.programscheduler.url=<%= @amq_broker_url %>

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=10

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=20

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=1000
