<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd ">


	<!-- ****************************************************************************************************************************** -->
	<!-- SCHEDULER CONFIGURATIONS -->
	<!-- ****************************************************************************************************************************** -->

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"
		abstract="true" />

	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailBean"
		abstract="true">
		<property name="jobClass"
			value="com.mobitv.cms.program.quartz.JobDetailMethodInvocator" />
	</bean>

	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="runSendNotificationForProgramStartTriggerCron" />
				<ref bean="runIdentifyProgramsToPerformAuthorizationCheckInAdvanceCron" />
				<ref bean="runSendPrivateRecordingHouseKeepingMessageCron" />
				<ref bean="runSendSharedRecordingHouseKeepingMessageCron" />
				<ref bean="runsendQuaratineStartMessageCron" />
				<ref bean="runsendTstvStartMessageCron" />
			</list>
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext" />
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="overwriteExistingJobs" value="true" />
		<property name="autoStartup" value="true" />
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">SomeBatchScheduler</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>
				<prop key="org.quartz.jobStore.driverDelegateClass"><%= @jdbcjobstore %></prop>
				<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
				<prop key="org.quartz.jobStore.isClustered">true</prop>
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">25</prop>
				<prop key="org.quartz.threadPool.threadPriority">5</prop>
			</props>
		</property>
	</bean>

	<bean id="runSendNotificationForProgramStartTriggerCron" parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runSendNotificationForProgramStartTriggerStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject" value="programBusinessManager" />
						<entry key="targetMethod" value="sendNotificationsForProgramsStartingSoon" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_program_start.cron}" />
	</bean>

	<bean id="runIdentifyProgramsToPerformAuthorizationCheckInAdvanceCron"
		parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runIdentifyProgramsToPerformAuthorizationCheckInAdvanceStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject"
							value="programBusinessManager" />
						<entry key="targetMethod"
							value="identifyProgramsToPerformAuthorizationCheckInAdvance" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_pre_authorization_check.cron}" />
	</bean>

	<bean id="runSendPrivateRecordingHouseKeepingMessageCron" parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runSendPrivateRecordingHouseKeepingMessageStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject"
							value="programBusinessManager" />
						<entry key="targetMethod" value="sendPrivateRecordingHouseKeepingMessage" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_private_house_keeping.cron}" />
	</bean>

	<bean id="runSendSharedRecordingHouseKeepingMessageCron" parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runSendSharedRecordingHouseKeepingMessageStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject"
							value="programBusinessManager" />
						<entry key="targetMethod" value="sendSharedRecordingHouseKeepingMessage" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_shared_house_keeping.cron}" />
	</bean>

	<bean id="runsendQuaratineStartMessageCron" parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runSendQuarantineRecordingHouseKeepingMessageStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject"
							value="programBusinessManager" />
						<entry key="targetMethod" value="sendQuaratineHousekeepingStartMessage" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_quarantine_house_keeping.cron}" />
	</bean>	
	
	<bean id="runsendTstvStartMessageCron" parent="cronTrigger">
		<property name="jobDetail">
			<bean parent="jobDetail">
				<property name="name" value="runSendTstvRecordingHouseKeepingMessageStart" />
				<property name="jobDataAsMap">
					<map>
						<entry key="targetObject"
							value="programBusinessManager" />
						<entry key="targetMethod" value="sendTstvHousekeepingStartMessage" />
					</map>
				</property>
			</bean>
		</property>
		<property name="cronExpression"
			value="${program.send_notification_tstv_house_keeping.cron}" />
	</bean>	

</beans>
