#!/bin/sh
#
# Startup script for git daemon
#
# chkconfig: 345 85 15     - start or stop process definition within the boot process
# description: Git Daemon
# processname: git-daemon
# pidfile: /var/run/git-daemon.pid

# Source function library.      This creates the operating environment for the process to be started
. /etc/rc.d/init.d/functions

prog="/usr/bin/git"
PID_FILE="/var/run/git-daemon.pid"
progopts=" daemon --reuseaddr --base-path=<%= @gitolite_repo_dir %> --user=<%= @gitolite_user %> --group=<%= @gitolite_group %> --verbose --pid-file=${PID_FILE} --detach"
case "$1" in
  start)
        echo -n "Starting  git-daemon: "
        [ -f $PID_FILE ] && touch $PID_FILE
        daemon  $prog $progopts 
        ;;
  stop)
        echo -n "Shutting down git-daemon: "
        killproc -p $PID_FILE $prog
        rm -f $PID_FILE
        ;;
  status)
        status -p $PID_FILE $prog
        ;;
  restart)
        $0 stop
        $0 start
        ;;
  reload)
        echo -n "Reloading git-daemon: "
        killproc -p $PID_FILE -HUP
        ;;
  *)
        echo "Usage: $0 {start|stop|restart|reload|status}"
        exit 1
esac
exit $?
