##
## Dispatcher properties
##
## NOTE:Dispatcher hostname and port is how this instance identifies itself to the TopicDiscover service.  Dispatcher does not listen on this port
##
dispatcher.hostname=<%= scope.lookupvar('mobi_push_dispatcher::dispatcher_host_name') %>
dispatcher.port=5222
dispatcher.max.host.connections=50000
dispatcher.max.room.connections=1000

##
## Connection parameters for XMPP Server
##
xmpp.hostname=localhost
xmpp.port=5222
xmpp.domain=<%= scope.lookupvar('mobi_push_dispatcher::xmpp_domain_name') %>
xmpp.username=dispatcher
xmpp.password=dispatchere0rtv12
xmpp.resourcename=MobiTvDispatcher

##
## Connection parameters for AMQP Server. 
## NOTE: comma in failover url has to be URL encoded otherwise connection to AMQP will fail
##
amqp.url=failover://(tcp://msamq01:61616%2Ctcp://msamq02:61616)?initialReconnectDelay=1000&randomize=false
amqp.send.type=topic
amqp.send.topicName=ControlMessages
amqp.recv.type=topic
amqp.recv.topicName=XmppSend

##
## Statistics display
##
stats.active=false
stats.interval=5000

##
## Internal cron-task settings
##
cron.start=true
# Run HealthCheck task every 1 minutes
healthcheck.crontag=0 0/1 * * * ?
# Run RoomStatus task every 5 minutes
roomstatus.crontag=0 0/5 * * * ?
