--
-- PostgreSQL database dump
--
\c activemq;

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: activemq_acks; Type: TABLE; Schema: public; Owner: activemq; Tablespace: 
--

CREATE TABLE activemq_acks (
    container character varying(250) NOT NULL,
    sub_dest character varying(250),
    client_id character varying(250) NOT NULL,
    sub_name character varying(250) NOT NULL,
    selector character varying(250),
    last_acked_id bigint,
    priority bigint DEFAULT 5 NOT NULL
);


ALTER TABLE public.activemq_acks OWNER TO <%= @activemq_username %>;

--
-- Name: activemq_lock; Type: TABLE; Schema: public; Owner: activemq; Tablespace: 
--

CREATE TABLE activemq_lock (
    id bigint NOT NULL,
    "time" bigint,
    broker_name character varying(250)
);


ALTER TABLE public.activemq_lock OWNER TO <%= @activemq_username %>;

--
-- Name: activemq_msgs; Type: TABLE; Schema: public; Owner: activemq; Tablespace: 
--

CREATE TABLE activemq_msgs (
    id bigint NOT NULL,
    container character varying(250),
    msgid_prod character varying(250),
    msgid_seq bigint,
    expiration bigint,
    msg bytea,
    priority bigint
);


ALTER TABLE public.activemq_msgs OWNER TO <%= @activemq_username %>;

--
-- Data for Name: activemq_acks; Type: TABLE DATA; Schema: public; Owner: activemq
--

COPY activemq_acks (container, sub_dest, client_id, sub_name, selector, last_acked_id, priority) FROM stdin;
topic://ARLANDA.SYSTEM.TOPIC	topic://ARLANDA.SYSTEM.TOPIC	mp.node-ts-dev-01.qa.smf1.mobitv	mp.node-ts-dev-01.qa.smf1.mobitv	JMSType = 'MP_BROADCAST'	0	0
topic://ARLANDA.SYSTEM.TOPIC	topic://ARLANDA.SYSTEM.TOPIC	dam.node-ts-dev-01.qa.smf1.mobitv	dam.node-ts-dev-01.qa.smf1.mobitv	JMSType = 'DAM_BROADCAST'	0	0
\.


--
-- Data for Name: activemq_lock; Type: TABLE DATA; Schema: public; Owner: activemq
--

COPY activemq_lock (id, "time", broker_name) FROM stdin;
1	\N	\N
\.


--
-- Data for Name: activemq_msgs; Type: TABLE DATA; Schema: public; Owner: <%= @activemq_username %>
--

COPY activemq_msgs (id, container, msgid_prod, msgid_seq, expiration, msg, priority) FROM stdin;
\.


--
-- Name: activemq_acks_pkey; Type: CONSTRAINT; Schema: public; Owner: activemq; Tablespace: 
--

ALTER TABLE ONLY activemq_acks
    ADD CONSTRAINT activemq_acks_pkey PRIMARY KEY (container, client_id, sub_name, priority);


--
-- Name: activemq_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: activemq; Tablespace: 
--

ALTER TABLE ONLY activemq_lock
    ADD CONSTRAINT activemq_lock_pkey PRIMARY KEY (id);


--
-- Name: activemq_msgs_pkey; Type: CONSTRAINT; Schema: public; Owner: activemq; Tablespace: 
--

ALTER TABLE ONLY activemq_msgs
    ADD CONSTRAINT activemq_msgs_pkey PRIMARY KEY (id);


--
-- Name: activemq_msgs_cidx; Type: INDEX; Schema: public; Owner: activemq; Tablespace: 
--

CREATE INDEX activemq_msgs_cidx ON activemq_msgs USING btree (container);


--
-- Name: activemq_msgs_eidx; Type: INDEX; Schema: public; Owner: activemq; Tablespace: 
--

CREATE INDEX activemq_msgs_eidx ON activemq_msgs USING btree (expiration);


--
-- Name: activemq_msgs_midx; Type: INDEX; Schema: public; Owner: activemq; Tablespace: 
--

CREATE INDEX activemq_msgs_midx ON activemq_msgs USING btree (msgid_prod, msgid_seq);


--
-- Name: activemq_msgs_pidx; Type: INDEX; Schema: public; Owner: activemq; Tablespace: 
--

CREATE INDEX activemq_msgs_pidx ON activemq_msgs USING btree (priority);


--
-- Name: public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE ALL ON SCHEMA public FROM PUBLIC;
REVOKE ALL ON SCHEMA public FROM postgres;
GRANT ALL ON SCHEMA public TO postgres;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

