<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
   
    http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<!-- START SNIPPET: example -->
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!-- Allows us to use system properties as variables in this configuration file -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>file:${activemq.base}/conf/credentials.properties</value>
        </property>      
    </bean>

    <!-- 
        The <broker> element is used to configure the ActiveMQ broker. 
    
    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="localhost" dataDirectory="${activemq.base}/data" destroyApplicationContextOnStop="true" advisorySupport="false" schedulerSupport="true" >

    -->
    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="localhost" dataDirectory="${activemq.base}/data" advisorySupport="false" schedulerSupport="true" >
 

      <destinationInterceptors>
	<virtualDestinationInterceptor>
	  <virtualDestinations>
            <compositeTopic name="PUBLISHER.TOPIC" copyMessage="true" forwardOnly="false">
               <forwardTo>
                 <queue physicalName="Notifications/ProgramsQueue" />
                 <queue physicalName="RECORDING.EPG.QUEUE" />	
               </forwardTo>
            </compositeTopic>

            <compositeTopic name="SEARCH.TOPIC">
              <forwardTo>
                <queue physicalName="SEARCHAGENT.QUEUE" />
	      </forwardTo>
	    </compositeTopic>

            <compositeTopic name="ASSET_ACTIVATION.TOPIC" copyMessage="true" forwardOnly="false">
             <forwardTo>
               <queue physicalName="OMS_ADAPTOR.TOPIC" />
               <queue physicalName="POLICYMGR.TOPIC" />
             </forwardTo>
            </compositeTopic>

            <compositeTopic name="OMS_ADAPTOR.TOPIC">
              <forwardTo>
                <queue physicalName="OMS_ADAPTOR.QUEUE" />
              </forwardTo>
            </compositeTopic>

	    <compositeTopic name="ASSET.TOPIC" copyMessage="true"
			    forwardOnly="false"> 
	      <forwardTo>
		<filteredDestination
		    selector="JMSType in ('publish-asset', 'replace-asset', 'update-asset', 'revoke-asset', 'asset-purged', 'force-search-indexing-asset')"
		    queue="METADATAPROCESSING.QUEUE" />
		<filteredDestination
		    selector="JMSType in ('asset-added', 'replace-asset')"
		    queue="WORKFLOWMANAGER.QUEUE" />
	      </forwardTo>
	    </compositeTopic>

        <compositeTopic name="CHANNEL.TOPIC" copyMessage="true"
			    forwardOnly="false"> 
	  <forwardTo>
            <queue physicalName="OMS.CHANNEL.QUEUE" />
            <queue physicalName="EPG.CHANNEL.QUEUE" />	
          </forwardTo>
        </compositeTopic>  	
	
		<compositeTopic name="OFFER.TOPIC" copyMessage="true"
			    forwardOnly="false"> 
			<forwardTo>
				<filteredDestination selector="JMSType in ('update-package-mapping-request', 'cleanup-package-mapping-request')" queue="SEARCHAGENT.QUEUE" />
			</forwardTo>
		</compositeTopic>     

		<!-- compositeTopic name="POLICYMGR.TOPIC" copyMessage="true" forwardOnly="false">
			<forwardTo>
				<queue physicalName="SEARCHAGENT.QUEUE" />
			</forwardTo>
		</compositeTopic -->
	  </virtualDestinations>
	</virtualDestinationInterceptor>
      </destinationInterceptors>

        <destinationPolicy>
            <policyMap>
              <policyEntries>
                <policyEntry topic=">" producerFlowControl="true" memoryLimit="1mb">
                  <pendingSubscriberPolicy>
                    <vmCursor />
                  </pendingSubscriberPolicy>
                </policyEntry>
                <policyEntry queue=">" producerFlowControl="true" memoryLimit="1mb">
                  <!-- Use VM cursor for better latency
                       For more information, see:
                       
                       http://activemq.apache.org/message-cursors.html
                       
                  <pendingQueuePolicy>
                    <vmQueueCursor/>
                  </pendingQueuePolicy>
                  -->
                </policyEntry>
              </policyEntries>
            </policyMap>
        </destinationPolicy> 
 
        
        <!-- 
            The managementContext is used to configure how ActiveMQ is exposed in 
            JMX. By default, ActiveMQ uses the MBean server that is started by 
            the JVM. For more information, see: 
            
            http://activemq.apache.org/jmx.html 
        -->
        <managementContext>
            <managementContext createConnector="true"/>
        </managementContext>

        <!-- 
            Configure message persistence for the broker. The default persistence
            mechanism is the KahaDB store (identified by the kahaDB tag). 
            For more information, see: 
            
            http://activemq.apache.org/persistence.html 
        -->
	<persistenceFactory>
	  <journalPersistenceAdapterFactory journalLogFiles="5" dataDirectory="${activemq.base}/activemq-data" dataSource="#ds"/>
	</persistenceFactory>
        
          <!--
            The systemUsage controls the maximum amount of space the broker will 
            use before slowing down producers. For more information, see:
            
            http://activemq.apache.org/producer-flow-control.html
             
        <systemUsage>
            <systemUsage>
                <memoryUsage>
                    <memoryUsage limit="20 mb"/>
                </memoryUsage>
                <storeUsage>
                    <storeUsage limit="1 gb"/>
                </storeUsage>
                <tempUsage>
                    <tempUsage limit="100 mb"/>
                </tempUsage>
            </systemUsage>
        </systemUsage>
		-->
		  
        <!-- 
            The transport connectors expose ActiveMQ over a given protocol to
            clients and other brokers. For more information, see: 
            
            http://activemq.apache.org/configuring-transports.html 
        -->
        <transportConnectors>
            <transportConnector name="openwire" uri="tcp://0.0.0.0:61616"/>
            <transportConnector name="stomp" uri="stomp://0.0.0.0:61612?transport.closeAsync=false"/> 
            <transportConnector name="stomp+nio" uri="stomp+nio://0.0.0.0:61613?transport.closeAsync=false"/> 
        </transportConnectors>

    </broker>

    <!-- DataSource Sample Setup -->
    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName" value="<%= @jdbc_driver %>"/>
      <property name="url" value="<%= @activemq_db_jdbc_url %>"/>
      <property name="username" value="<%= @activemq_username %>"/>
      <property name="password" value="<%= @activemq_password %>"/>
      <property name="poolPreparedStatements" value="true"/>
    </bean>

    <!-- 
        Enable web consoles, REST and Ajax APIs and demos
        It also includes Camel (with its web console), see ${ACTIVEMQ_HOME}/conf/camel.xml for more info
        
        Take a look at ${ACTIVEMQ_HOME}/conf/jetty.xml for more details 
    -->
    <import resource="jetty.xml"/>
    
</beans>
<!-- END SNIPPET: example -->
