CREATE DATABASE IF NOT EXISTS mcv_loader_app;
CREATE USER '<%= @mcv_username %>'@'%' IDENTIFIED BY '<%= @mcv_password %>';
GRANT ALL PRIVILEGES ON mcv_loader_app.* TO '<%= @mcv_username %>'@'%' WITH GRANT OPTION;

flush privileges;
