#!/bin/bash

mysql -uroot -p<%= @database_root_password %> < /var/mobi-mcv/database/mcv_delete_databases.sql

if [ -e /var/mobi-mcv/database/installation.done ]; then
    rm /var/mobi-mcv/database/installation.done
fi
