# URL of the Solr server
solr.server.url=http://solrmastervip:8080/mobi-solr/
source.data.file=/opt/mobi-epg-ingestor/config/platform/data/xmltv_terrestrial.xml
xsl.file=/opt/mobi-epg-ingestor/config/platform/xslt/mobi_data.xsl
output.file=/opt/mobi-epg-ingestor/webapp/output/mobi_data.xml
#channel.data.file=/opt/mobi-epg-ingestor/webapp/WEB-INF/classes/data/
solr.input.records.per.trasaction=1000

partner.config.folder=/opt/mobi-epg-ingestor/config/partner/program
partner.xsl.file=/opt/mobi-epg-ingestor/config/partner/program/xsl/
partner.data.config=partnerdata.conf
partner.stage.folder =/var/tmp/mobi-epg-ingestor/partner
tms.stage.folder =/var/tmp/mobi-epg-ingestor/tms
tms.config.folder=/opt/mobi-epg-ingestor/config/tms/program
tms.data.config=tmsdata.conf
tms.config.file=/opt/mobi-epg-ingestor/config/tms/program/tms-ingestor-metadata.xml

cron.enabled=<%= @mobi_epg_ingestor_enabled %>
#Buffer to be added to catch_up duration for deletion of expired programs
#buffer is 2 days
buffer=172800
#FOR CHANNEL INGESTING
channel.config.folder=/opt/mobi-epg-ingestor/config/partner/channel
channel.stage.folder =/var/data/mobi-publisher-channeldata/channel
channel.xsl.file=/opt/mobi-epg-ingestor/config/partner/channel/xsl/
channel.data.config=channeldata.conf
channel.data.file=/var/data/mobi-publisher-channeldata/channel
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100&maxReconnectAttempts=10
metadataprocessing.queue.consumers.size=10
ftpupload.queue.consumers.size=1
#For type  "ExternalLink"
externallink.config.folder=/opt/mobi-epg-ingestor/config/partner/externallink
externallink.stage.folder =/var/data/mobi-publisher-externallinkdata/externallink
externallink.xsl.file=/opt/mobi-epg-ingestor/config/partner/externallink/xsl/
externallink.data.config=externallink.conf
#dam.url=http://damvip:8080/dam/services/channelmanager/list_channels
dam.url=http://damvip:8080/dam
mobi.channel.configuration=<%= @mobi_channel_configuration %>
mobi.externallink.configuration=<%= @mobi_channel_configuration %>
channel.dam.config=<%= @mobi_channel_configuration %>/channel/dam.conf
#For channel ingestion via DAM
dam.list.channels.url=http://damvip:8080/dam/services/channelmanager/list_channels
dam.list.externallinks.url=http://damvip:8080/dam/services/externallink/list_externallinks
dam.list.cliplinears.url=http://damvip:8080/dam/services/cliplinear/list_cliplinears
oms.live.media.skus.lookup.url=http://offermgtvip:8080/mobi-aaa-offer-manager-stub/guide/v5/asset/channel/{channel_id}
