properties.context=<%= @properties_context %>
application.name=<%= @application_name %>
expiration.time.in.hrs=<%= @expiration_time_hrs %>
expiration.time.in.hrs.for.live.channels=<%= @expiration_time_hrs_live_channels %>
fixed.offer.id.for.liveservice=<%= @liveservice_offer_id %>
auth.identity-manager.url=<%= @auth_identity_manager_url %>
auth.rights-manager.url=<%= @auth_rights_manager_url %>

offer.manager.url = <%= @offer_manager_url %>
jerseyClient.userAgent=Mobi AAA Identity Manager/1.0 (UNIX; en-US)
jerseyClient.connectionTimeoutSeconds = <%= @jerseyclient_connection_timeout_seconds %>
jerseyClient.readTimeoutSeconds= <%= @jersey_client_read_timeout_seconds %>
jerseyClient.httpConnectionPoolSize= <%= @jerseyclient_httpconnection_poolsize %> 

