<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

        <% if @database_driver %><entry key="database.driver_class"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::database_driver") %></entry><% end %>
        <% if @offer_manager_endpoint_url %><entry key="offer.manager.endpoint.url"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::offer_manager_endpoint_url") %></entry><% end %>
        <% if @purchase_database_url %><entry key="purchase.database.url"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::purchase_database_url") %></entry><% end %>
        <% if @rights_database_url %><entry key="rights.database.url"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::rights_database_url") %></entry><% end %>
        <% if @batch_database_url %><entry key="batch.database.url"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::batch_database_url") %></entry><% end %>
        <% if @database_username %><entry key="database.username"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::database_username") %></entry><% end %>
        <% if @database_password %><entry key="database.password"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::database_password") %></entry><% end %>

	<!-- JERSEY REST Client -->
	<% if @jersey_restclient_connectionTimeout %><entry key="jersey.restclient.connectionTimeout"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::jersey_restclient_connectionTimeout") %></entry><% end %> <!-- seconds -->
	<% if @jersey_restclient_readTimeout %><entry key="jersey.restclient.readTimeout"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::jersey_restclient_readTimeout") %></entry><% end %> <!-- seconds -->
	<% if @jersey_restclient_maxConnections %><entry key="jersey.restclient.maxConnections"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::jersey_restclient_maxConnections") %></entry><% end %>
	<% if @jersey_restclient_enableClientLog %><entry key="jersey.restclient.enableClientLog"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::jersey_restclient_enableClientLog") %></entry><% end %> 
			
	<!-- Quartz cron entries-->
	<% if @sapci_generate_payment_record_start_cron %><entry key="sapci.generate_payment_record_start.cron"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::sapci_generate_payment_record_start_cron") %></entry><% end %>
	<% if @sapci_generate_revenue_record_start_cron %><entry key="sapci.generate_revenue_record_start.cron"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::sapci_generate_revenue_record_start_cron") %></entry><% end %>
			
	<!-- Default values for PDR/RDR fields -->
	<% if @pdr_paymentChannel_mobiApp %><entry key="pdr.paymentChannel.mobiApp"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_paymentChannel_mobiApp") %></entry><% end %>
	<% if @pdr_paymentChannel_selfcare %><entry key="pdr.paymentChannel.selfcare"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_paymentChannel_selfcare") %></entry><% end %>
	<% if @pdr_paymentMethod %><entry key="pdr.paymentMethod"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_paymentMethod") %></entry><% end %>
	<% if @pdr_merchantId %><entry key="pdr.merchantId"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_merchantId") %></entry><% end %>
	<% if @pdr_terminalId %><entry key="pdr.terminalId"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_terminalId") %></entry><% end %>
	<% if @record_sourceId %><entry key="record.sourceId"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::record_sourceId") %></entry><% end %>

	<!-- Do Not change -->
	
	<!-- Batch properties-->
	<% if @max_retries %><entry key="max.retries"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::max_retries") %></entry><% end %>
	<% if @batch_size %><entry key="batch.size"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::batch_size") %></entry><% end %>
	<% if @batch_execution_count_perday %><entry key="batch.execution.count.perday"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::batch_execution_count_perday") %></entry><% end %>
	<% if @shared_filesystem_path %><entry key="shared.filesystem.path"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::shared_filesystem_path") %></entry><% end %>
	<% if @pdr_base_dir_name %><entry key="pdr.base.dir.name"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::pdr_base_dir_name") %></entry><% end %>
	<% if @rdr_base_dir_name %><entry key="rdr.base.dir.name"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::rdr_base_dir_name") %></entry><% end %>
	<% if @default_past_record_creation_window %><entry key="default.past.record.creation.window"><%= scope.lookupvar("mobi_aaa_ril_sap_ci::default_past_record_creation_window") %></entry><% end %> <!-- check for these many days for entry in day logs-->
</properties>
