[mysqld]
socket=/var/lib/mysql/mysql.sock
user=mysql
<%- if @server_id -%>
server-id=<%= @server_id %>
log-bin=mysql-bin
sync_binlog = 1
master-user=rep_user
#skip-networking
#bind-address=0.0.0.0
relay-log=mysqld-relay-bin
replicate-same-server-id=0
<%- end -%>
<%- if !(@mysqld_options_mapping_hash.has_key?("init_connect")) -%>
init_connect='SET autocommit=0'
<%- end -%>
skip-character-set-client-handshake
collation-server=utf8_bin
character-set-server=utf8

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).

# Disable old passwords R.B. 04/07/2011
old_passwords=0

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# Disable symlinks R.B. 04/07/2011
symbolic-links=0
<% @mysqld_options_mapping_hash.keys.sort.each do |key| -%>
<%= key %>=<%= @mysqld_options_mapping_hash[key] %>
<% end -%>

#[innodb settings]
expire_logs_days=3
innodb_buffer_pool_size=256M
innodb_data_home_dir=/var/lib/mysql
innodb_file_per_table=1
innodb_additional_mem_pool_size=256M
innodb_log_file_size=20M
innodb_log_buffer_size=256M
innodb_flush_log_at_trx_commit=1
innodb_log_group_home_dir=/var/lib/mysql
innodb_thread_concurrency=8
default_storage_engine=InnoDB

connect_timeout=86400

# not valid options in newer mysql-server versions
#skip-bdb
#skip-ndbcluster
#skip-federated

max_connections=10000

innodb_file_per_table=1
innodb_buffer_pool_size = 4096M

table_cache = 128
thread_cache = 128

query_cache_type = 1
query_cache_limit = 512M
query_cache_size = 256M

join_buffer_size = 32M

<% if @lower_case_table_names %>
lower_case_table_names = <%= @lower_case_table_names %>
<% end %>


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
