[mysqld]
socket=/var/lib/mysql/mysql.sock
user=mysql

# Enable old passwords
old_passwords=1

symbolic-links=0
connect_timeout=86400
max_connections=10000
innodb_file_per_table=1
innodb_buffer_pool_size = 4096M
table_cache = 128
thread_cache = 128
query_cache_type = 1
query_cache_limit = 512M
query_cache_size = 256M
join_buffer_size = 32M

# Replication
## for master
server-id=<%= scope.lookupvar 'mysql::replica_master_server_id' %>
log-bin
binlog-do-db=<%= scope.lookupvar 'mysql::replica_db' %>
auto_increment_increment=<%= scope.lookupvar 'mysql::replica_auto_increment_increment' %>
auto_increment_offset=<%= scope.lookupvar 'mysql::replica_auto_increment_offset' %>

## for slave
master-host = <%= scope.lookupvar 'mysql::replica_master_host' %>
master-user = <%= scope.lookupvar 'mysql::replica_master_user' %>
master-password = <%= scope.lookupvar 'mysql::replica_master_passwd' %>
master-port = 3306



[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

