#component group:port:version:monitor
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Mysql::Install_mysql" -%>
<%= resource[:mytab_config]+"\n" -%>
<% end -%>
<% end -%>
