#
#Override configurations as needed

<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::time_server") != "" %>application.timeServer=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::time_server") -%><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::sts_server") != "" %>sts.service.host=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::sts_server") -%><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::etg_secret") != "" %>etg.client.secret=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::etg_secret") -%><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::etg_id") != "" %>etg.client.id=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::etg_id") -%><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::recmngr_secret") != "" %>recmngr.client.secret=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::recmngr_secret") -%><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_identity::recmngr_id") != "" %>recmngr.client.id=<%= scope.lookupvar("mobi_aaa_adapter_dt_identity::recmngr_id") -%><% end %>
