vrrp_script <%= @instance_name %>_check_script {               # Requires keepalived-1.1.13
        script "<%= @check_script %>"
        interval <%= @interval %>                      # check every 2 seconds
        weight <%= @weight %>                        # add 2 points of prio if OK
}

vrrp_instance <%= @instance_name %> {
        interface eth0
        state <%= @master_or_backup %>
        virtual_router_id <%= @virtual_router_id %>
        priority <%= @priority %>                    # 101 on master, 100 on backup
        authentication {
                auth_type PASS
                auth_pass mobitv
        }
        virtual_ipaddress {
                <%= @virt_ip %>
        }
        track_script {
                <%= @instance_name %>_check_script
        }
        smtp_alert
        <% if @no_preempt -%>nopreempt
        <% end %>
}

