global_defs {
        notification_email {
                <% scope.lookupvar("keepalived::notify_email").each do |k| -%>
                  <%= k %>
                <% end -%>
        }
        notification_email_from <%= scope.lookupvar("keepalived::notify_from") %>
        smtp_server <%= @smtp_server %>
        smtp_connect_timeout 30
        router_id LVS_DEVEL
}

