application.default.carrier=<%= @vid_carrier %>
application.default.product=<%= @vid_product %>
application.default.version=<%= @vid_version %>
application.default.guideprovider=<%= @vid_guideprovider %>
# Note: This default mediaType is not applicable for call to StorageManager.
application.default.mediaType=<%= @default_media_type %>
application.default.mediaType.tostorage=<%= @default_media_type_storage %>
application.default.queue.message.receive.timeout.inseconds=15
application.carrier.recording.limitedtosinglechannel=<%= @series_recording_limited_to_single_channel %>
application.netpvr.configured=true
application.netpvr.sendmessage=true
application.netpvr.maxrecordingtimeinminutes=<%= @max_recording_time_for_tstv_in_minutes %>

# Flag to indicate if authentication is enabled/disabled in component
application.auth.enabled=<%= @is_auth_enabled %>
# Flag to indicate if account subscription is to be validated in AAA, else validated in carrier
application.account.subscription.aaa.validate=true

#Recording manager auth service name. Used by authnz library
application.recording.auth.service.name=<%= @recording_auth_service_name %>
#Recording manager auth carier adaptor service name. Used by authnz library
application.recording.auth.carrier.adapter.service.name=<%= @recording_carrier_auth_service_name %>

# Attribute to indicate if the carrier system is enabled or not.
application.carriersystem.enabled=<%= @is_carrier_system_enabled %>

# Attribute to indicate if recordings are shared across users
application.shared.recordings.enabled=<%= @is_shared_recording_enabled %>
application.shared.recordings.account_id=<%= @shared_account_id %>

# Default time to check if the added program needs to start
eitmessage.consume.program.added.timetocheckinminutes=5

# Default Time alloted for storage (default 20 hrs)
default.storage.inminutes=<%= @default_storage_size_inminutes %>

# RecordingAdapter(CODI) Integration URL Point - dteonscodiadaptervip
adapter.recording.provider=<%= @adapter_recording_provider_carrier %>
#adapter.recording.provider=http://localhost:8080/mobi-recording-manager/stub_guide/v5/recording/dt/eons/

# GuideManager - Integration URL Point
guide.recording.provider=<%= @guide_manager_url %>guide/v5/

# Storage Manager Integration URL Point
storage.recording.provider=<%= @storage_manager_url %>
storage.recording.version=1.0
storage.recording.fetch.size=1000

# Physical Location of the Sub files
application.usestub.for.thumbnail=false
application.stubfiles.path=/opt/mobitv/conf/mobi-recording-manager/stubs/
#application.stubfiles.path=C:/Users/mskariah/Perforce/mskariah_mskariah_E6420/dev-depot/server/mobi-core-service/core-convergence/main/mobi-recording-manager/src/stubs/

# URL of the Solr server
solr.server.url=<%= @solr_master_url %>
solr.server.connection.timeout=<%= @solr_master_timeout %>
solr.server.max.connections=100
solr.server.max.retries=1

#Active MQ broker configuration
amq.broker.recordings.url=<%= @amq_broker_recordings_url %>
amq.broker.netpvr.url=<%= @amq_broker_netpvr_url %>

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=<%= @amq_recordings_core_pool_size %>

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=<%= @amq_recordings_max_pool_size %>

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=<%= @amq_recordings_task_queue_capacity %>

#Queue Names that RecordingManager connects with
internal.queue.recording.error.name=RECORDING.ERROR.QUEUE
internal.queue.recording.error.size=1
consumer.queue.recording.epg.name=RECORDING.EPG.QUEUE
consumer.queue.recording.epg.size=1
consumer.queue.recording.init.name=RECORDING.INIT.QUEUE
consumer.queue.recording.init.size=1
consumer.queue.recording.store.name=RECORDING.STORE.QUEUE
consumer.queue.recording.store.size=1
consumer.queue.recording.storeinit.name=RECORDING.STOREANDINIT.QUEUE
consumer.queue.recording.storeinit.size=1
consumer.queue.recording.update.name=RECORDING.UPDATE.QUEUE
consumer.queue.recording.update.size=1
consumer.queue.recording.cancel.name=RECORDING.CANCEL.QUEUE
consumer.queue.recording.cancel.size=1
consumer.queue.recording.delete.name=RECORDING.DELETE.QUEUE
consumer.queue.recording.delete.size=1
consumer.queue.from.recording.distributor.tstv.name=TSTV.RECORDING.QUEUE.FROM.DISTRIBUTOR
consumer.queue.from.recording.distributor.tstv.size=1
consumer.queue.from.recording.distributor.name=RECORDING.FROM.DISTRIBUTOR.QUEUE
consumer.queue.from.recording.distributor.size=1
producer.queue.to.recording.distributor.name=NETPVR.REQUESTS
consumer.queue.recording.housekeeping.size=1
# Queue Name for shared housekeeping
consumer.queue.housekeeping.name=RECORDING.HOUSEKEEPING.QUEUE
# Queue Name for program auth check
consumer.queue.recording.program.auth.check.name=PROGRAM_AUTH_CHECK.QUEUE
consumer.queue.recording.program.auth.check.size=1

# URL to the identity manager server - identitymanagervip, rightsmanagervip
identity.manager.url=<%= @identity_manager_url %>
rights.manager.url=<%= @rights_manager_url %>

# Cache-Control max-age values for API responses in the Recording Manager
list.recordings.max.age=60
recording.program.details.max.age=86400
recording.details.catchup.max.age=900


#period for which user can keep recording.
recording.max.retention.period.in.days=<%= @max_retention_period %>
#period for which recording can be kept as a catchup tv recording
recording.max.catchuptv.period.in.days=<%= @max_catchup_period %>

# Flag to indicate if quarantine recording is enabled/disabled
application.quarantine.enabled=<%= @is_quarantine_enabled %>
# Max Number of days to keep recordings in quarantine.
application.quarantine.recording.maxperiodindays=<%= @quarantine_recording_max_period_in_days %>

# Flag to indicate if quarantine recording is enabled/disabled
application.tstv.housekeeping.enabled=<%= @is_tstv_enabled %>
# Max Number of hours to keep tstv recordings in storage. default 30 days
application.tstv.recording.maxperiodinHours=<%= @tstv_recording_max_period_in_hours %>

application.connectTimeout=20000
application.readTimeout=45000

#buffer in seconds to be used for "start time of program" check for create recording request
#this value should be always in sync with the program scheduler's program start notification interval
recording.start.buffer=<%= @recording_start_buffer %>

threshold.time.inteval=<%= @threshold_time_inteval %>

#Enable/Disable Jersey logging requests
webclient.featurePojoMapping=<%= @webclient_featurePojoMapping %>
webclient.logging=<%= @webclient_logging %>
webclient.connectionTimeout=<%= @webclient_connectionTimeout %>
webclient.socketTimeout=<%= @webclient_socketTimeout %>
webclient.defaultMaxPerRoute=<%= @webclient_defaultMaxPerRoute %>
webclient.maxTotal=<%= @webclient_maxTotal %>
