# Sample configuration file for mod_ocspresponder

# put it in separate log
CustomLog logs/ocsp_log "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %{ocspresponder_req_time}n %D %X"

LoadModule ocspresponder_module modules/mod_ocspresponder.so

<LocationMatch "(?i)^/drm/v2/ocsp/.*$">
  SetHandler ocspresponder
  CertRoot <%= @cert_root -%>
  #If output root is set OCSP Requests/Responses will be logged there
  OutputRoot <%= @output_root -%>
  UseRevocation <%= @use_revocation -%>
</LocationMatch>

