<Context path="ocspresponder" docBase="/opt/drm/webapps/ocspresponder" debug="0">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="ocspresponder_access." suffix=".log" pattern="%t %a %{X-Forwarded-For}i %m %U%q %b %D %s" resolveHosts="false"/>


    <Resource name="jdbc/ocspDS"
               auth="Container"
               type="javax.sql.DataSource"
               username="<%= @lm_user -%>"
               password="<%= @lm_user_pass -%>"
               driverClassName="<%= @jdbc_driver -%>"
               maxActive="<%= @max_active -%>"
               maxIdle="<%= @max_idle -%>"
               maxWait="<%= @max_wait -%>"
               validationQuery="<%= @validation_query -%>"
               testOnBorrow="<%= @test_on_borrow -%>"
               poolPreparedStatements="<%=  @pool_prepared_statements -%>"
               maxOpenPreparedStatements="<%= @max_open_prepared_statements -%>"
               url="<%= @db_url -%>"
   />


</Context>
