<% if @jdbc_database_type %>jdbc.database.name=<%= @jdbc_database_type %>
<% end -%>
<% if @licensemanager_keystore_dir %>licensemanager_keystore_dir=<%= @licensemanager_keystore_dir %>
<% end -%>
<% if @use_revocation2 != "undef" %>use_revocation=<%= @use_revocation2 %>
<% end -%>
