#### This file is managed by puppet ####

source.data.file= <%= @source_data_file %>
xsl.file= <%= @xsl_file %>
temp.folder= <%= @temp_folder %>
filler.file= <%= @filler_file %>
output.file= <%= @output_file %>
minimum.duration=7
