# Properties file for specifying the hibernate properties to be used by the applications
hibernate.show_sql=false
hibernate.generateDdl=false
hibernate.database_vendor=MYSQL

# Second level cache configuration
hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true

# aspera ingestor properties
metadata.postprocess.provider = mobicontent
sftp.host = <%= sftp_host %>
sftp.port = <%= sftp_port %>
sftp.user = <%= sftp_user %>
sftp.password = <%= sftp_password %>
hostkey.file = /home/rtv/.ssh/known_hosts
mediainfo.path = /usr/bin/mediainfo
core.pool.size=5
max.pool.size=10
upload.base.path = <%= upload_base_path %>

# Base directory for mgo assets
mgo.asset.base.directory=/var/Jukebox/vod/widevine

# Base directory for MGo symbolic links
mgo.playback.base.directory=/var/Jukebox/vod/mgo

# Pattern for the storage of provider-supplied XML metadata files
asset.metadata.naming.pattern=/var/Jukebox/uploads/metadata/${PROVIDER_ID}/${INVENTORY_ID}-${VERSION}.xml

# Base URL for the Widevine content to be served
widevine.url.base=<%= widevine_url_base %>

# Hostname for the Technicolor FTP server
mgo.ftp.hostname=<%= mgo_ftp_hostname %>

# Port for the Technicolor FTP server
mgo.ftp.port=<%= mgo_ftp_port %>

# Username for the Technicolor FTP server
mgo.ftp.username=<%= mgo_ftp_username %>

# Password for the Technicolor FTP server
mgo.ftp.password=<%= mgo_ftp_password %>

# Path where the Technicolor XML files should be placed on the remote server
mgo.ftp.pathname=<%= mgo_ftp_pathname %>
