<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <entry key="properties.context">local-override</entry>

        <% if @technicolor_url %><entry key="account.adapter.technicolor.url"><%= @technicolor_url -%></entry><% end %>
        <% if @household_url %><entry key="account.adapter.technicolor.household.url"><%= @household_url -%></entry><% end %>
        <% if @policy_server %><entry key="account.adapter.technicolor.policy.url">http://<%= @policy_server -%>:<%= @policy_port -%></entry><% end %>
        <% if @oauth_url %><entry key="account.adapter.oauth2Url.url"><%= @oauth_url -%></entry><% end %>
        <% if @jersey_client_logging %><entry key="account.adapter.client.logging"><%= @jersey_client_logging -%></entry><% end %>
        <% if @memcached_servers %><entry key="memcached.servers"><%= @memcached_servers -%></entry><% end %>
        <% if @account_url %><entry key="account.adapter.account-manager.url"><%= @account_url -%></entry><% end %> 
</properties>
