<Context path="dam" docBase="/opt/mobi-arlanda-dam/webapp" debug="0">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
                 directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="dam_access." suffix=".log"
                 pattern="combined" resolveHosts="false"/>
  
  <Resource auth="Container"
	    name="jdbc/asmDS"
	    description="DB Connection"
	    driverClass="com.mysql.jdbc.Driver"
	    maxPoolSize="300"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= dam_username %>"
	    password="<%= dam_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="jdbc:mysql://hostmanager/dam?autoReconnect=true" />

  <!-- We need two connection factories since the pooled one only handles sends -->
  <Resource name="jms/ASMPooledConnectionFactory"
	    auth="Container"
	    type="com.mobitv.arlanda.commons.activemq.AmqJNDIPooledConnectionFactory"
	    description="Pooled JMS Connection Factory"
	    factory="org.apache.activemq.jndi.JNDIReferenceFactory"
	    brokerURL="failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100"
	    copyMessageOnSend="false"
	    brokerName="MobiTVMQBroker"
	    useEmbeddedBroker="false"/>
  
  <Resource name="jms/ASMConnectionFactory"
	    auth="Container"
	    type="org.apache.activemq.ActiveMQConnectionFactory"
	    description="JMS Connection Factory"
	    factory="org.apache.activemq.jndi.JNDIReferenceFactory"
	    brokerURL="failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100"
	    copyMessageOnSend="false"
	    brokerName="MobiTVMQBroker"
	    useEmbeddedBroker="false"/>

  <Resource name="jms/ArlandaSystemTopic" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQTopic" 
            description="The JMS Topic which MP broadcast internal messages on to other MP nodes and listens on"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="ARLANDA.SYSTEM.TOPIC"/>

  <Resource name="jms/MobiTvTopic" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQTopic" 
            description="The JMS Topic which DAM publishes all Assets and sends info on"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="ASSET.TOPIC"/>

  <Resource name="jms/AssetMangementQueue" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQQueue" 
            description="The queue that the DAM listens on, multiple DAMs nodes shares this queue"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="ASSETMANAGER.QUEUE"/>

  
</Context>
