<Context path="foldermanager" docBase="/opt/mobi-arlanda-fm/webapp" debug="0">

  <!-- maxOpenPreparedStatements
       is per connection and should be 
       larger than the total # of prepared statements used in this app,
       smaller than the max # of allowed open cursors per connection -->

  <Resource auth="Container"
	    name="jdbc/foldermanagerDS"
	    description="DB Connection"
	    driverClass="com.mysql.jdbc.Driver"
	    maxPoolSize="100"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= fm_username %>"
	    password="<%= fm_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="jdbc:mysql://hostmanager/mobi2lite?autoReconnect=true" />

  <Valve className="org.apache.catalina.valves.AccessLogValve"
	 directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="foldermanager_access." suffix=".log"
	 pattern="combined" resolveHosts="false"/>

</Context>

