<Context path="wfm" docBase="/opt/mobi-arlanda-wfm/webapp" debug="0" reloadable="true" swallowOutput="true">
        <!-- antiJARLocking="true" antiResourceLocking="true" -->

    <Valve className="org.apache.catalina.valves.AccessLogValve"
                 directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="wfm_access." suffix=".log"
                 pattern="combined" resolveHosts="false"/>

  <Resource auth="Container"
	    name="jdbc/wfmDS"
	    description="DB Connection"
	    driverClass="com.mysql.jdbc.Driver"
	    maxPoolSize="300"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="select 1"
	    user="<%= wfm_username %>"
	    password="<%= wfm_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="jdbc:mysql://hostmanager/wfm?autoReconnect=true" />


</Context>
