<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- selective overloads -->
    <entry key="properties.context">local-override</entry>
</properties>	

