# LOAD PASSENGER/RAILS STUFF
### LoadModule passenger_module /usr/lib/ruby/gems/1.8/gems/passenger-3.0.11/ext/apache2/mod_passenger.so
### PassengerRoot /usr/lib/ruby/gems/1.8/gems/passenger-3.0.11
### PassengerRuby /usr/bin/ruby
LoadModule passenger_module /usr/lib64/httpd/modules/mod_passenger.so
PassengerRoot /usr/lib/ruby/gems/1.8/gems/passenger-<%= scope.lookupvar("passenger::package_ensure").split("-")[0] -%>

PassengerRuby /usr/bin/ruby


# you probably want to tune these settings
PassengerHighPerformance on
PassengerUseGlobalQueue on
PassengerMaxPoolSize <% poolsize=1.25 * processorcount.to_f -%><%= poolsize.to_i %>
PassengerPoolIdleTime 1500
PassengerMaxRequests 40
PassengerStatThrottleRate 120


#RackAutoDetect Off
#RailsAutoDetect Off

