license.server.url = https://fcpreg.shibboleth.tv/widevine/cypherpc/cgi-bin/GetEMMs.cgi

license.server.url.signed = true

digital.locker.url = <%= digital_locker_url %>

# core/v3/user/{carrier}/{product}/{version}/{uid}/authorization/location
geo.location.url =  <%= geo_location_url %>

solr.server.url = http://solrmastervip:8080/mobi-solr

portal = medianavi

sf = medianavi

policy.setduration = 

policy.setpurduration =

policy.denyhd = 0

policy.usage.url = 

policy.hb.url = 

policy.hb.value =  

#policy.ack.url = aHR0cDovL2xhYjUwMm0ub2FrMS5tb2JpdHY6ODA4MC9saWNlbnNlcHJveHkvc2VydmljZXMvd2lkZXZpbmUvY3lwaGVycGMvQWNrRU1Ncw==
policy.ack.url = 

policy.setpolicy = 

rest.client.connectionTimeout = 10

rest.client.readTimeout = 10

rest.client.maxConnections = 10

rest.client.useragent = "Mobi MGO License Proxy/5.0.0.0"

license.verify = true

rights.verify = <%= rights_verify %>

failopen = <%= failopen %>

cdc.url = <%= cdc_url %>

profile.url = <%= profile_url %>

auth.oauth2.server.url = <%= auth_oauth2_server_url %>
auth.rights.server.url = <%= auth_rights_server_url %>
auth.caching.policy = cache_all_tokens
auth.resource.server.type = application_service
auth.connection.timeout = 2
auth.read.timeout = 2
auth.user.agent = licenseproxy

carrier = technicolor
product = mgo
version = 5.0


