use mysql;
update user set host='%' where user='root' and host='localhost';
commit;
CREATE DATABASE IF NOT EXISTS netpvr_stub;
CREATE USER '<%= netpvr_username %>'@'%' IDENTIFIED BY '<%= netpvr_password %>';
GRANT ALL PRIVILEGES ON netpvr_stub.* TO '<%= netpvr_username %>'@'%' WITH GRANT OPTION;
update user set host='localhost' where user='root' and host='%';
commit;
flush privileges;
