hibernate.connection.driver_class=<%= jdbc_driver %>
hibernate.connection.username=<%= db_username %>
hibernate.connection.password=<%= db_password %>
hibernate.dialect=<%= hibernate_database_dialect %>
hibernate.connection.url=<%= jdbc_url %>
hibernate.hbm2ddl.auto=update