#!/bin/bash

<% if @database_type == "mysql" %>
mysql -uroot -p<%= database_root_password %> < /var/mobi-netpvr-stub-database/database/create_databases.sql

mysql -u<%= netpvr_username %> -p<%= netpvr_password %> netpvr_stub < ~/quartz/docs/dbTables/tables_mysql.sql

mysql -u<%= netpvr_username %> -p<%= netpvr_password %> netpvr_stub < /var/mobi-netpvr-stub-database/database/recoding_dsitributor.sql
touch /var/mobi-netpvr-stub-database/database/installation.done

<% end %>