application.default.carrier=<%= vid_carrier %>
application.default.product=<%= vid_product %>
application.default.version=<%= vid_version %>
application.default.guideprovider=<%= vid_guideprovider %>

send.closed.recording.status.trigger.cron=0 0/5 * * * ?
send.error.recording.status.trigger.cron=0 0/6 * * * ?
change.recording.status.trigger.cron=0 0/7 * * * ?
delete.recording.entries.trigger.cron=0 0/9 * * * ?


#Active MQ broker configuration
amq.broker.netpvr.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100&startupMaxReconnectAttempts=10

# Core number of threads in the task-worker pool (minimum threads to keep cached), default 10
core.pool.size=10

# Maximum number of threads running concurrently in the task-worker pool, default 20
max.pool.size=20

# Maximum number of tasks that will be queued up for handling by threads in the pool, default 1000
task.queue.capacity=1000

#Queue name for getting message from Recording Manger
consumer.queue.to.recording.distributor.name=NETPVR.REQUESTS
#consumer.queue.from.recording.distributor.name=RECORDING.FROM.DISTRIBUTOR.QUEUE
