#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi-netpvr-stub-database/database/delete_databases.sql

if [ -e /var/mobi-netpvr-stub-database/database/installation.done ]; then
    rm /var/mobi-netpvr-stub-database/database/installation.done
fi
