<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
       <entry key="properties.context">default</entry>   
       <% if scope.lookupvar("mobi_rest_api_stub::suppress_missing_policyfile_error") != "" %><entry key="suppress.missing.policyfile.error"><%= scope.lookupvar("mobi_rest_api_stub::suppress_missing_policyfile_error") -%></entry><% end %>
</properties>

