CREATE DATABASE IF NOT EXISTS ACCTMGMT;
CREATE USER '<%= acctmgmt_username %>'@'%' IDENTIFIED BY '<%= acctmgmt_password %>';
GRANT ALL PRIVILEGES ON ACCTMGMT.* TO '<%= acctmgmt_username %>'@'%' WITH GRANT OPTION;

FLUSH PRIVILEGES;