#!/bin/bash

mysql -u<%= acctmgmt_username %> -p<%= acctmgmt_password %> ACCTMGMT < /var/mobi_account_management/database/acctmgmt_seed.sql

touch /var/mobi_account_management/database/installation_seed.done