#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi_account_management/database/con_am_create_databases.sql

mysql -u<%= acctmgmt_username %> -p<%= acctmgmt_password %> ACCTMGMT < /var/mobi_account_management/database/acctmgmt_schema.sql

touch /var/mobi_account_management/database/installation.done