#!/bin/bash

mysql -u<%= acctmgmt_username %> -p<%= acctmgmt_password %> ACCTMGMT < /var/mobi_account_management/database/acctmgmt_index.sql

touch /var/mobi_account_management/database/installation_index.done