#!/bin/bash

mysql -u<%= acctmgmt_username %> -p<%= acctmgmt_password %> ACCTMGMT < /var/mobi_account_management/database/acctmgmt_alter_member_add_salt.sql

touch /var/mobi_account_management/database/installation_alter_member_add_salt.done