#!/bin/bash

mysql -uroot -p<%= database_root_password %> < /var/mobi_account_management/database/con_am_delete_databases.sql

if [ -e /var/mobi_account_management/database/installation.done ]; then
    rm /var/mobi_account_management/database/installation.done
fi
