<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <!-- <entry key="properties.context">local-override</entry>-->

        <% if @account_manager_host %><entry key="account.management.host"><%= @account_manager_host -%></entry><% end %>
        <% if @memcached_servers %><entry key="memcached.servers"><%= @memcached_servers -%></entry><% end %>
        <% if @database_url %><entry key="database.url"><%= @database_url -%></entry><% end %>
        <% if @database_username %><entry key="database.username"><%= @database_username -%></entry><% end %>
        <% if @database_password %><entry key="database.password"><%= @database_password -%></entry><% end %>
        <% if @policy_server %><entry key="policy.service.host"><%= @policy_server -%></entry><% end %>
        <% if @policy_port %><entry key="policy.service.port"><%= @policy_port -%></entry><% end %>
</properties>
