<% if @access_token_lifetime_secs %>access_token.lifetime.secs=<%= @access_token_lifetime_secs -%><% end %>
<% if @refresh_token_lifetime_secs %>refresh_token.lifetime.secs=<%= @refresh_token_lifetime_secs -%><% end %>
<% if @anonymous_scope %>anonymous_scope=<%= @anonymous_scope -%><% end %>
<% if @service_asset %>service_asset=<%= @service_asset -%><% end %>
