# Puppet managed file (fragserver/templates/frag.conf.parametrized.erb)
##########################################################
# Adds how long the request took to parse to the log
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %{mod_frag_req_time}n %D %X" fmp4
# put it in separate log
CustomLog logs/fmp4_log fmp4

# load module
LoadModule frag_module modules/mod_frag.so
<Location <%=@location-%>>
    # make sure mod_frag gets these requests
    SetHandler frag
    # folders to check for content. configure them in order of priority
    ContentRoot <%=@content_root%>
    # give the client the ability to have two fragments in its buffer on live
    LiveBuffer <%=@live_buffer%>
    # used for cache-control and last-modified. in seconds.
    FragmentDuration <%=@fragment_duration%>
    # variants to send to the client in live and start commands
    <% @variants.each do |variant| %>
    Variants GROUP <%=variant.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i }.join ' '-%>
    <% end %>
    #whats the max age of anything that isn't live [optional: default=60*60*24*7]
    DefaultMaxAge <%=@default_max_age%>
    # whether or not to filter the bndw box prior sending to the client
    FilterBndwBox <%=@filter_bndw_box%>
    # Full path to the super variants file
    VariantsDefinitionFile <%=@variants_definition_file%>
    <% @super_variants.each do |super_variant| %>
    SuperVariants GROUP <%= super_variant.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i }.join ' '-%>
    <% end %>
    # Whether or not to lock FMP4 files prior reading
    UseFileLocks <%=@use_file_locks%>
</Location>

# configure cgi with alternative prefix
ScriptAlias /frag-cgi /usr/local/ods/frag/cgi/frag.py
<Location /frag-cgi>
    Order Allow,Deny
    Allow from all
    Options +ExecCGI
</Location>
