# Puppet managed file (fragserver/templates/locations.conf.erb)
##########################################################
<% indent=' '*4 -%>
# adds how long the request took to parse to the log
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %{mod_frag_req_time}n %D %X" fmp4
# put it in separate log
CustomLog logs/fmp4_log fmp4

# load module
LoadModule frag_module modules/mod_frag.so
<Location <%=@location-%>>
<% indent -%>SetHandler frag
<% if @content_root -%><% indent -%>ContentRoot <%=content_root%>
<% end -%>
<% if @live_buffer -%><% indent -%>LiveBuffer <%=live_buffer%>
<% end -%>
<% if @fragment_duration -%><% indent -%>FragmentDuration <%=fragment_duration%>
<% end -%>
<% unless @variants.empty? then @variants.each do |variant| -%>
<% indent -%>Variants GROUP <%= variant.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i }.join ' '%>
<% end -%>
<% end -%>
<% if @default_max_age -%><% indent -%>DefaultMaxAge <%=@default_max_age%>
<% end -%>
<% if @filter_bndw_box -%><% indent -%>FilterBndwBox <%=@filter_bndw_box%>
<% end -%>
<% if @variants_definition_file -%><% indent -%>VariantsDefinitionFile <%=@variants_definition_file%>
<% end -%>
<% unless @super_variants.empty? then @super_variants.each do |super_variant| -%>
<% indent -%>SuperVariants GROUP <%= super_variant.sort! { |a,b| a.gsub(/H(\d+).*/,'\1').to_i <=> b.gsub(/H(\d+).*/,'\1').to_i }.join ' '%>
<% end -%>
<% end -%>
<% if @use_file_locks -%><% indent -%>UseFileLocks <%=@use_file_locks%>
<% end -%>
<% unless @set_env.empty? then set_env.each do |k,v| -%>
<% indent -%>SetEnv <%=k%> <%=v%>
<% end -%>
<% end -%>
</Location>
