######################################
# Puppet controlled file
######################################
<% pools=[] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Varnish::Pool" -%>
<% pools.push(resource) -%>
<% end -%>
<% end -%>
<% indent=" "*2 -%>
<% pools.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |resource| -%>
<% resource[:backends].each_with_index do |backend,i| -%>
backend <%= resource.name+"_backend_0"+(i+1).to_s -%> {
<%= indent -%>.host="<%=backend-%>";
<%= indent -%>.port="<%=resource[:port]-%>";
<%= indent -%>.probe=<%=resource[:healthcheck]-%>;
}

<% end -%>
director <%= resource.name -%> <%= resource[:method] -%> {
<% resource[:backends].each_with_index do |backend,i| -%>
<%= indent -%>{
<%= indent -%><%= indent -%>.backend=<%= resource.name+"_backend_0"+(i+1).to_s -%>;
<%= indent -%>}
<% end -%>
}

<% end -%>


