######################################
# Puppet controlled file
######################################
<% channel_rules=[] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Varnish::Channel_rule" -%>
<% channel_rules.push(resource) -%>
<% end -%>
<% end -%>
<% indent=" "*2 -%>
sub vcl_recv {
<% channel_rules.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each_with_index do |resource,index| -%>
<%= indent -%><% if index == 0 -%>if <% else -%>else if <% end -%>(req.url ~ "<% if ! resource[:channels].any? -%><%= resource[:regex] -%><% else %><%= resource[:regex]+"("+resource[:channels].join("|")+")/.*$" -%><% end %>"<% if resource[:allowed_method] -%> && req.request == "<%= resource[:allowed_method] -%>"<% end -%><% if resource[:server_ip] -%> && server.ip == "<%= resource[:server_ip] -%>"<% end -%>) {
<%= indent -%><%= indent -%><% if resource[:pool] -%>set req.backend = <%= resource[:pool] -%>;<% else -%><%= resource[:response] -%> "";<% end -%>
<%= indent -%>} 
<% end -%>
<% if channel_rules.length > 0 -%>
<%= indent -%>else {
<%= indent -%><%= indent -%>error 404 "Not Found (Varnish)";
<%= indent -%>}
<% end -%>
}

sub vcl_deliver {
<% channel_rules.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |resource| -%>
<%= indent -%>if (req.url ~ "<% if ! resource[:channels].any? -%><%= resource[:regex] -%><% else %><%= resource[:regex]+"("+resource[:channels].join("|")+")/.*$" -%><% end %>"<% if resource[:server_ip] -%> && server.ip == "<%= resource[:server_ip] -%>"<% end -%>) {
<%= indent -%><%= indent -%><% if resource[:pool] -%>set resp.http.X-MobiTV-Pool = "<%= resource[:pool] -%>";<% else -%>set resp.http.X-MobiTV-Pool = "<%= resource[:response] -%>";<% end -%>
<%= indent -%>} 
<% end -%>
}

<% variant_cache=[] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Varnish::Variant_cache" -%>
<% variant_cache.push(resource) -%>
<% end -%>
<%end -%>
<% indent=" "*2 -%>
sub vcl_fetch {
<% variant_cache.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each_with_index do |resource,index| -%>
<%= indent -%><% if resource[:regex] -%>if(req.url ~ "<%= resource[:regex] -%>"<% end -%>) {
<%= indent -%><%= indent -%><% if resource[:status] -%> if(beresp.status == <%= resource[:status] -%><% end -%>) {
<%= indent -%><%= indent -%><%= indent -%><% if resource[:ttl] -%>set beresp.ttl = <%= resource[:ttl]%><% end -%>;
<%= indent -%><%= indent -%>}
<%= indent -%>}
<% end -%>
}
