######################################
# Puppet controlled file
######################################
<% healthchecks=[] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Varnish::Healthcheck" -%>
<% healthchecks.push(resource) -%>
<% end -%>
<% end -%>
<% indent=" "*2 -%>
<% healthchecks.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |resource| -%>
probe <%= resource.name -%> {
<%= indent -%>.url="<%= resource[:url] -%>";
<%= indent -%>.interval=<%= resource[:interval] -%>;
<%= indent -%>.timeout=<%= resource[:timeout] -%>;
<%= indent -%>.window=<%= resource[:window] -%>;
<%= indent -%>.threshold=<%= resource[:threshold] -%>;
<%= indent -%>.initial=<%= resource[:initial] -%>;
<%= indent -%>.expected_response=<%= resource[:response] -%>;
}
<% end -%>

