######################################
# Puppet controlled file
######################################
<% rewrite_rules=[] -%>
<% scope.compiler.catalog.resources.each do |resource| -%>
<% if resource.type == "Varnish::Rewrite_rule" -%>
<% rewrite_rules.push(resource) -%>
<% end -%>
<% end -%>
<% indent=" "*2 -%>
sub vcl_recv {
<% rewrite_rules.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each_with_index do |resource,index| -%>
<%= indent -%><% if index == 0 -%>if <% else -%>else if <% end -%>(req.url ~ "<%= resource[:regex_match] -%>"<% if resource[:allowed_method] -%> && req.request == "<%= resource[:allowed_method] -%>"<% end -%>) {
<%= indent -%><%= indent -%>set req.backend = <%= resource[:pool] -%>;
<%= indent -%><%= indent -%>set req.url = regsub(req.url, "<%= resource[:regex_from] -%>", "<%= resource[:regex_to] -%>");
<%= indent -%><%= indent -%>return(pass);
<%= indent -%>} 
<% end -%>
}

sub vcl_deliver {
<% rewrite_rules.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |resource| -%>
<%= indent -%>if (req.url ~ "<%= resource[:regex_match] -%>") {
<%= indent -%><%= indent -%>set resp.http.X-MobiTV-Pool = "<%= resource[:pool] -%>";
<%= indent -%>} 
<% end -%>
}

