<?xml version="1.0" encoding="utf-8"?>
<RecordingWriterConfiguration>
  <!--Access Rights-->
  <% if @rw_user_name %><userName><%=@rw_user_name-%></userName>
  <% end -%>
  <% if @rw_group_name %><groupName><%=@rw_group_name-%></groupName>
  <% end -%>

  <!--REST API-->
  <% if @rw_rest_nic%><ApiListenAddress><%=@rw_rest_nic-%></ApiListenAddress><% else %><ApiListenAddress/>
  <% end -%>
<% if @rw_rest_port%><ApiListenPort><%=@rw_rest_port-%></ApiListenPort>
  <% end -%>

  <!--Job Queue-->
  <brokerURI>failover:(<%= @shard_amq_broker_hosts.map{|shard_host| '%s%s%s' % ['tcp://', shard_host, ':61616?wireFormat.tightEncodingEnabled=false']}.join(',')-%>)?startupMaxReconnectAttempts=100000&maxReconnectAttempts=1&maxReconnectDelay=3000</brokerURI>
  <requestChannel><%=@shard_request_channel_name-%>?consumer.prefetchSize=<%= @consumer_prefetch_size -%></requestChannel>
  <controlChannel><%=@shard_control_channel_name-%></controlChannel>
  <timeToLive><%=@rw_amq_ttl-%></timeToLive>

  <!--Work thresholds-->
  <CpuLoad><%=@rw_cpu_load_threshold-%></CpuLoad>
<% if @max_job_age_sec -%>  <MaxJobAge_sec><%= @max_job_age_sec -%></MaxJobAge_sec>
<% end -%>
<% if @max_recordings -%>  <maxRecordings><%= @max_recordings -%></maxRecordings>
<% end -%>

  <!--Recording Master-->
  <recordingMasterURI>http://<%=@rw_recordingmaster_vip-%><% if @rw_recordingmaster_port%>:<%=@rw_recordingmaster_port-%><% end -%>/<%=@rw_recordingmaster_uri-%></recordingMasterURI>
<% if @sku_template -%>  <skuTemplate><%=@sku_template-%></skuTemplate>
<% end -%>
  <fragmentFileLength_sec><%=@fragment_file_length-%></fragmentFileLength_sec>
  <fragmentLength_sec><%=@fragment_length-%></fragmentLength_sec>
<% if @version =~ /^[0]\.[0-6]\.[0-9]/ %>
<% if @rw_variants -%>  <variants><%= @rw_variants -%></variants><% end %>
<% else %>  <fragControllerUrl>http://<%= @fragcontroller_url %>:<%= @fragcontroller_rest_port %></fragControllerUrl>
<% end -%>

  <!-- Fragment Cache -->
<% if @frag_cache_size_sec -%>  <cacheSize_sec><%= @frag_cache_size_sec -%></cacheSize_sec>
<% end -%>
<% if @frag_cache_workers -%>  <cacheWorkers><%= @frag_cache_workers -%></cacheWorkers>
<% end -%>

  <!--Storage-->
  <shardStorageRoot><%=@rw_storage_root-%></shardStorageRoot>
  <% if @hls_segment_uri_pattern -%><hlsSegmentAccessUrl><%=@hls_segment_uri_pattern-%></hlsSegmentAccessUrl>
<% end -%>
  <% if @hls_playlist_uri_pattern -%><hlsPlaylistAccessUrl><%=hls_playlist_uri_pattern-%></hlsPlaylistAccessUrl>
<% end -%>
  
</RecordingWriterConfiguration>
