# Warning: This file is puppet-managed (templates/cron/fmp4.erb)
<% paths = { @output_base => true } -%>
<% scope.compiler.catalog.resources.each do |resource| -%><% if resource.type == "Fragcontroller::Filtergroup" -%>
<% if ! resource[:override_output_base].nil? -%>
<% paths[resource[:override_output_base]]=true -%><% end -%><% end -%><% end -%>
<% paths.each_key do |path| -%>
# remove everything but licenses older than 7 minutes
* * * * * root /usr/bin/find <%= path -%> -regextype posix-egrep -type f -mmin +7 -regex ".*\.(mp4|key_frames|mfra)" -mmin +7 -exec /bin/rm -rf {} \;
# remove licenses that are older than 15 minutes
* * * * * root /usr/bin/find <%= path -%> -type f -mmin +15 -name "*.lic" -exec /bin/rm -rf {} \;
<% end -%>
