# Warning: This file is puppet-managed (templates/cron/hls.erb)
<% paths = { @output_base => true } -%>
<% scope.compiler.catalog.resources.each do |resource| -%><% if resource.type == "Fragcontroller::Filtergroup" -%>
<% if ! resource[:override_output_base].nil? -%>
<% paths[resource[:override_output_base]]=true -%><% end -%><% end -%><% end -%>
<% paths.each_key do |path| -%>

# remove live hls files that are older than 5 min
*/5 * * * * root /usr/bin/find -L <%= path -%> -mmin +5 -name *.ts* -type f -exec /bin/rm -rf {} \; > /dev/null 2>&1

# remove licenses that are older than 15 minutes
* * * * * root /usr/bin/find <%= path -%> -type f -mmin +15 -name "*.aes_key" -exec /bin/rm -rf {} \; > /dev/null 2>&1
<% end -%>
