<Context path="dam" docBase="/opt/mobi-arlanda-dam/webapp" debug="0">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
                 directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="dam_access." suffix=".log"
                 pattern="combined" resolveHosts="false"/>

  <Resource auth="Container"
	    name="jdbc/asmDS"
	    description="DAM DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="300"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
	    user="<%= @dam_db_username %>"
	    password="<%= @dam_db_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @dam_db_jdbc_url %>" />

<% if scope.lookupvar("mobi_arlanda_dam::include_fm_resource")  == true %>		
  <Resource auth="Container"
	    name="jdbc/foldermanagerDS"
	    description="FM DB Connection"
	    driverClass="<%= @jdbc_driver %>"
	    maxPoolSize="300"
	    minPoolSize="5"
	    acquireIncrement="1"
	    testConnectionOnCheckin="true"
	    idleConnectionTestPeriod="60"
	    preferredTestQuery="<%= @connection_test_query %>"
	    user="<%= @dam_db_username %>"
	    password="<%= @dam_db_password %>"
	    factory="org.apache.naming.factory.BeanFactory"
	    type="com.mchange.v2.c3p0.ComboPooledDataSource"
	    jdbcUrl="<%= @dam_db_jdbc_url %>" />
<% end %>

<% if scope.lookupvar("mobi_arlanda_dam::ril") == true %>
   <Resource auth="Container"
            name="jdbc/foldermanagerDS"
            description="FM DB Connection"
            driverClass="com.mysql.jdbc.Driver"
            maxPoolSize="300"
            minPoolSize="5"
            acquireIncrement="1"
            testConnectionOnCheckin="true"
            idleConnectionTestPeriod="60"
            preferredTestQuery="select 1 from dual"
            user="dam_user"
            password="<%= @dam_db_password %>"
            factory="org.apache.naming.factory.BeanFactory"
            type="com.mchange.v2.c3p0.ComboPooledDataSource"
            jdbcUrl="jdbc:mysql://mydtbvip:3306/dam?autoReconnect=true" />

<% end %>


  <!-- We need two connection factories since the pooled one only handles sends  -->
<% if scope.lookupvar("mobi_arlanda_dam::ril") == true %>
  <Resource name="jms/ASMPooledConnectionFactory"
            auth="Container"
            type="com.mobitv.arlanda.commons.activemq.AmqJNDIPooledConnectionFactory"
            description="Pooled JMS Connection Factory"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            brokerURL="<%= @amq_broker_url %>"
            copyMessageOnSend="false"
            brokerName="MobiTVMQBroker"
            useEmbeddedBroker="false"/>
<% else %>
  <Resource name="jms/ASMPooledConnectionFactory"
            auth="Container"
            type="org.apache.activemq.jms.pool.PooledConnectionFactory"
            description="Pooled JMS Connection Factory"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            brokerURL="<%= @amq_broker_url %>"
            copyMessageOnSend="false"
            brokerName="MobiTVMQBroker"
            useEmbeddedBroker="false"/>
<% end %>

  <Resource name="jms/ASMConnectionFactory"
	    auth="Container"
	    type="org.apache.activemq.ActiveMQConnectionFactory"
	    description="JMS Connection Factory"
	    factory="org.apache.activemq.jndi.JNDIReferenceFactory"
	    brokerURL="<%= @amq_broker_url %>"
	    copyMessageOnSend="false"
	    brokerName="MobiTVMQBroker"
	    useEmbeddedBroker="false"/>

  <Resource name="jms/ArlandaSystemTopic"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQTopic"
            description="The JMS Topic which MP broadcast internal messages on to other MP nodes and listens on"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="ARLANDA.SYSTEM.TOPIC"/>

  <Resource name="jms/MobiTvTopic"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQTopic"
            description="The JMS Topic which DAM publishes all Assets and sends info on"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="ASSET.TOPIC"/>

  <Resource name="jms/AssetMangementQueue"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQQueue"
            description="The queue that the DAM listens on, multiple DAMs nodes shares this queue"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="ASSETMANAGER.QUEUE"/>

  <Resource name="jms/RegenerateSTKMQueue"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQQueue"
            description="The queue that the DAM listens on, multiple DAMs nodes shares this queue"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="REGENERATESTKM.QUEUE"/>

  <Resource name="jms/MobiTvChannelTopic"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQTopic"
            description="The JMS Topic which DAM sends all Channels updates"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="CHANNEL.TOPIC"/>

  <Resource name="jms/MobiTvExternalLinkTopic"
            auth="Container"
            type="org.apache.activemq.command.ActiveMQTopic"
            description="The JMS Topic which DAM sends all ExternalLink updates"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory"
            physicalName="EXTERNALLINK.TOPIC"/>

  <Resource name="jms/AssetActivationTopic" 
            auth="Container" 
            type="org.apache.activemq.command.ActiveMQTopic" 
            description="The JMS Topic which DAM sends all Channels updates"
            factory="org.apache.activemq.jndi.JNDIReferenceFactory" 
            physicalName="ASSET_ACTIVATION.TOPIC"/>

</Context>
