
--postgreSQL database dump
--
\c dam;

create user <%= @fm_db_username %>;
ALTER USER <%= @fm_db_username %> with password '<%= @fm_db_password %>';

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- Name: dam; Type: SCHEMA; Schema: -; Owner: postgres
--

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: content; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE content (
    inventory_id bigint NOT NULL,
    status integer NOT NULL,
    actual_location character varying(255),
    is_ad boolean,
    checksum character varying(255),
    consumed character varying(255),
    crid character varying(255),
    duration real,
    expires timestamp without time zone,
    genre character varying(255),
    is_interstitial character varying(255),
    keyword character varying(255),
    lastmod timestamp without time zone,
    num_frames bigint,
    original_location character varying(255),
    provider_id bigint,
    slot bigint,
    start_of_availability timestamp without time zone,
    upload_date timestamp without time zone,
    version integer
);


ALTER TABLE public.content OWNER TO <%= @dam_db_username %>;

--
-- Name: content_ctr; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE content_ctr
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.content_ctr OWNER TO <%= @dam_db_username %>;

--
-- Name: content_ctr; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('content_ctr', 1000, false);


--
-- Name: fasp_files; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE fasp_files (
    id bigint NOT NULL,
    bytes_contig bigint NOT NULL,
    bytes_lost bigint NOT NULL,
    bytes_written bigint NOT NULL,
    checksum character varying(255),
    checksum_type character varying(255),
    created_at timestamp without time zone NOT NULL,
    err_code integer NOT NULL,
    err_desc character varying(255),
    file_basename character varying(255) NOT NULL,
    file_fullpath character varying(255) NOT NULL,
    file_index character varying(255) NOT NULL,
    logged_from character varying(255) NOT NULL,
    node_uuid character varying(255) NOT NULL,
    session_id character varying(255) NOT NULL,
    size bigint NOT NULL,
    source_item character varying(255),
    start_byte bigint NOT NULL,
    started_at timestamp without time zone,
    status integer NOT NULL,
    stopped_at timestamp without time zone,
    usecs bigint NOT NULL
);


ALTER TABLE public.fasp_files OWNER TO <%= @dam_db_username %>;

--
-- Name: folder_inventory; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE folder_inventory (
    chapterized_content character varying(255),
    expires timestamp without time zone,
    genre character varying(255),
    keyword character varying(255),
    mcdpath character varying(255) NOT NULL,
    network character varying(255),
    playlist_enabled character varying(255),
    provider_id bigint NOT NULL,
    "SHOW" character varying(255),
    start_of_availability timestamp without time zone,
    thumbnail_location character varying(255),
    total_number_of_parts integer,
    ui_name character varying(255) NOT NULL,
    inventory_id bigint NOT NULL,
    episode_number bigint,
    series_number bigint
);


ALTER TABLE public.folder_inventory OWNER TO <%= @dam_db_username %>;

--
-- Name: jb_advertising_folders; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE jb_advertising_folders (
    content_folder_id bigint NOT NULL,
    provider_id bigint NOT NULL,
    post_roll_folder_id bigint,
    pre_roll_folder_id bigint
);


ALTER TABLE public.jb_advertising_folders OWNER TO <%= @dam_db_username %>;

--
-- Name: jb_folder_clip_config; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE jb_folder_clip_config (
    clip_assign_type character varying(255) NOT NULL,
    clip_assign_to_id bigint NOT NULL,
    created_by_app character varying(255),
    folder_inventory_id bigint NOT NULL,
    subscription_mode bigint NOT NULL
);


ALTER TABLE public.jb_folder_clip_config OWNER TO <%= @dam_db_username %>;

--
-- Name: provider_metadata_config; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE provider_metadata_config (
    provider_id bigint NOT NULL,
    aspect_ratio character varying(255),
    checksum character varying(255),
    closed_caption_url character varying(255),
    crid character varying(255),
    enable_local_playback character varying(255),
    enable_wifi character varying(255),
    encryption_required character varying(255),
    expires character varying(255),
    folder character varying(255),
    genre character varying(255),
    indirect_upload_url character varying(255),
    industry character varying(255),
    keyword character varying(255),
    short_title character varying(255),
    slot character varying(255),
    start_of_availability character varying(255),
    synopsis character varying(255),
    thumbnail_upload_url character varying(255),
    ticker character varying(255),
    title character varying(255)
);


ALTER TABLE public.provider_metadata_config OWNER TO <%= @dam_db_username %>;

--
-- Name: providers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE providers (
    provider_id bigint NOT NULL,
    manage_chapterized_content character varying(255),
    password character varying(255) NOT NULL,
    provider character varying(255) NOT NULL,
    dflt_content_shelf_life real,
    secured_over_wifi character varying(255),
    time_zone character varying(255)
);


ALTER TABLE public.providers OWNER TO <%= @dam_db_username %>;

--
-- Name: tv_folder_item; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE tv_folder_item (
    id bigint NOT NULL,
    created_time timestamp without time zone NOT NULL,
    display_code character varying(255) NOT NULL,
    display_order bigint NOT NULL,
    item_inventory_id bigint NOT NULL,
    last_updated_time timestamp without time zone NOT NULL,
    last_updated_by character varying(255) NOT NULL,
    folder_inventory_id bigint NOT NULL
);


ALTER TABLE public.tv_folder_item OWNER TO <%= @dam_db_username %>;

--
-- Name: tv_folder_item_seq; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE tv_folder_item_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tv_folder_item_seq OWNER TO <%= @dam_db_username %>;

--
-- Name: tv_folder_item_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('tv_folder_item_seq', 1000, false);


--
-- Name: tv_inventory; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE tv_inventory (
    inventory_id bigint NOT NULL,
    description character varying(255),
    display_name character varying(255) NOT NULL,
    lbs_default_rule character varying(255) NOT NULL,
    media_aspect_ratio character varying(255),
    media_restrictions character varying(255),
    mediatype character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    backend_channel bigint,
    icon_name character varying(255),
    jukebox_channel_id bigint,
    long_name character varying(255),
    station_id character varying(255)
);

ALTER TABLE public.tv_inventory OWNER TO <%= @dam_db_username %>;


--
-- Name: tv_package_inventory; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE tv_package_inventory (
    package_id bigint NOT NULL,
    inventory_id bigint NOT NULL
);


ALTER TABLE public.tv_package_inventory OWNER TO <%= @dam_db_username %>;

--
-- Data for Name: content; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY content (inventory_id, status, actual_location, is_ad, checksum, consumed, crid, duration, expires, genre, is_interstitial, keyword, lastmod, num_frames, original_location, provider_id, slot, start_of_availability, upload_date, version) FROM stdin;
\.


--
-- Data for Name: fasp_files; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY fasp_files (id, bytes_contig, bytes_lost, bytes_written, checksum, checksum_type, created_at, err_code, err_desc, file_basename, file_fullpath, file_index, logged_from, node_uuid, session_id, size, source_item, start_byte, started_at, status, stopped_at, usecs) FROM stdin;
\.


--
-- Data for Name: folder_inventory; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY folder_inventory (chapterized_content, expires, genre, keyword, mcdpath, network, playlist_enabled, provider_id, "SHOW", start_of_availability, thumbnail_location, total_number_of_parts, ui_name, inventory_id) FROM stdin;
\.


--
-- Data for Name: jb_advertising_folders; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY jb_advertising_folders (content_folder_id, provider_id, post_roll_folder_id, pre_roll_folder_id) FROM stdin;
\.


--
-- Data for Name: jb_folder_clip_config; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY jb_folder_clip_config (clip_assign_type, clip_assign_to_id, created_by_app, folder_inventory_id, subscription_mode) FROM stdin;
\.


--
-- Data for Name: provider_metadata_config; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY provider_metadata_config (provider_id, aspect_ratio, checksum, closed_caption_url, crid, enable_local_playback, enable_wifi, encryption_required, expires, folder, genre, indirect_upload_url, industry, keyword, short_title, slot, start_of_availability, synopsis, thumbnail_upload_url, ticker, title) FROM stdin;
\.


--
-- Data for Name: providers; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY providers (provider_id, manage_chapterized_content, password, provider, dflt_content_shelf_life, secured_over_wifi, time_zone) FROM stdin;
\.


--
-- Data for Name: tv_folder_item; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY tv_folder_item (id, created_time, display_code, display_order, item_inventory_id, last_updated_time, last_updated_by, folder_inventory_id) FROM stdin;
\.


--
-- Data for Name: tv_inventory; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY tv_inventory (inventory_id, description, display_name, lbs_default_rule, media_aspect_ratio, media_restrictions, mediatype, name, backend_channel, icon_name, jukebox_channel_id, long_name, station_id) FROM stdin;
\.


--
-- Data for Name: tv_package_inventory; Type: TABLE DATA; Schema: public; Owner: <%= @dam_db_username %>
--

COPY tv_package_inventory (package_id, inventory_id) FROM stdin;
\.


--
-- Name: content_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY content
    ADD CONSTRAINT content_pkey PRIMARY KEY (inventory_id);


--
-- Name: fasp_files_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY fasp_files
    ADD CONSTRAINT fasp_files_pkey PRIMARY KEY (id);


--
-- Name: folder_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY folder_inventory
    ADD CONSTRAINT folder_inventory_pkey PRIMARY KEY (inventory_id);




--
-- Name: jb_advertising_folders_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY jb_advertising_folders
    ADD CONSTRAINT jb_advertising_folders_pkey PRIMARY KEY (content_folder_id, provider_id);


--
-- Name: jb_folder_clip_config_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY jb_folder_clip_config
    ADD CONSTRAINT jb_folder_clip_config_pkey PRIMARY KEY (clip_assign_to_id);


--
-- Name: provider_metadata_config_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY provider_metadata_config
    ADD CONSTRAINT provider_metadata_config_pkey PRIMARY KEY (provider_id);


--
-- Name: providers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY providers
    ADD CONSTRAINT providers_pkey PRIMARY KEY (provider_id);


--
-- Name: tv_folder_item_folder_inventory_id_item_inventory_id_key; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY tv_folder_item
    ADD CONSTRAINT tv_folder_item_folder_inventory_id_item_inventory_id_key UNIQUE (folder_inventory_id, item_inventory_id);


--
-- Name: tv_folder_item_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY tv_folder_item
    ADD CONSTRAINT tv_folder_item_pkey PRIMARY KEY (id);


--
-- Name: tv_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY tv_inventory
    ADD CONSTRAINT tv_inventory_pkey PRIMARY KEY (inventory_id);


--
-- Name: tv_package_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY tv_package_inventory
    ADD CONSTRAINT tv_package_inventory_pkey PRIMARY KEY (inventory_id);


--
-- Name: fk6382c05951e0f5b5; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY content
    ADD CONSTRAINT fk6382c05951e0f5b5 FOREIGN KEY (inventory_id) REFERENCES tv_inventory(inventory_id);


--
-- Name: fk6a4a02ab7f5f6c9a; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY folder_inventory
    ADD CONSTRAINT fk6a4a02ab7f5f6c9a FOREIGN KEY (inventory_id) REFERENCES tv_inventory(inventory_id);


--
-- Name: public; Type: ACL; Schema: -; Owner: <%= @dam_db_username %>
--

REVOKE ALL ON SCHEMA public FROM PUBLIC;
REVOKE ALL ON SCHEMA public FROM <%= @dam_db_username %>;
GRANT ALL ON SCHEMA public TO <%= @dam_db_username %>;
GRANT ALL ON SCHEMA public TO PUBLIC;

GRANT ALL PRIVILEGES ON ALL TABLES in schema public TO <%= @fm_db_username %>;
GRANT ALL PRIVILEGES ON ALL SEQUENCES in schema public TO <%= @fm_db_username %>;

GRANT ALL PRIVILEGES ON ALL TABLES in schema public TO <%= @ing_db_username %>;
GRANT ALL PRIVILEGES ON ALL SEQUENCES in schema public TO <%= @ing_db_username %>;

GRANT ALL PRIVILEGES ON ALL TABLES in schema public TO <%= @dam_db_username %>;
GRANT ALL PRIVILEGES ON ALL SEQUENCES in schema public TO <%= @dam_db_username %>;

GRANT all ON database dam TO <%= @ing_db_username %>;
GRANT all ON database dam TO <%= @fm_db_username %>;
GRANT all ON database dam TO <%= @dam_db_username %>;

--
-- PostgreSQL database dump complete
--


