
--- PostreSQL database dump
--
\c dam;

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET search_path = public, pg_catalog;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: dam_additional_metadata; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_additional_metadata (
    metadata_id bigint NOT NULL,
    metakey character varying(255) NOT NULL,
    metavalue character varying(1024),
    asset_id bigint NOT NULL
);


ALTER TABLE public.dam_additional_metadata OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_asset (
    asset_id bigint NOT NULL,
    type character varying(255) NOT NULL,
    available boolean,
    correlation_id character varying(1024),
    crid character varying(1024) NOT NULL,
    download_attempts integer,
    encryption_required character varying(255) NOT NULL,
    expired boolean,
    expires timestamp without time zone,
    genre character varying(1024),
    group_id integer,
    inventory_id bigint NOT NULL,
    keyword character varying(1024),
    last_modified timestamp without time zone,
    media_restrictions character varying(40),
    post_roll_inventory_id bigint,
    pre_roll_inventory_id bigint,
    provider_id integer NOT NULL,
    published boolean,
    short_title character varying(512),
    start_of_availability timestamp without time zone,
    state integer,
    synopsis character varying(1024),
    title character varying(1024),
    trashed boolean,
    upload_date timestamp without time zone,
    version integer NOT NULL,
    episode_number bigint,
    series_number bigint
);


ALTER TABLE public.dam_asset OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_instance; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_asset_instance (
    instance_id bigint NOT NULL,
    bitrate double precision,
    checksum character varying(255),
    duration double precision,
    encoding_id integer NOT NULL,
    format character varying(24),
    instance_linktype character varying(255),
    is_mbr boolean,
    is_original boolean,
    path character varying(1024),
    size_ double precision,
    type character varying(255),
    asset_id bigint NOT NULL
);


ALTER TABLE public.dam_asset_instance OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_instance_seq; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE dam_asset_instance_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dam_asset_instance_seq OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_instance_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('dam_asset_instance_seq', 1, false);


--
-- Name: dam_asset_metadata_seq; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE dam_asset_metadata_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dam_asset_metadata_seq OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_metadata_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('dam_asset_metadata_seq', 1, false);


--
-- Name: dam_asset_seq; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE dam_asset_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dam_asset_seq OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('dam_asset_seq', 1, false);


--
-- Name: dam_asset_track_seq; Type: SEQUENCE; Schema: public; Owner: <%= @dam_db_username %>
--

CREATE SEQUENCE dam_asset_track_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dam_asset_track_seq OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_asset_track_seq; Type: SEQUENCE SET; Schema: public; Owner: <%= @dam_db_username %>
--

SELECT pg_catalog.setval('dam_asset_track_seq', 1, false);


--
-- Name: dam_config; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_config (
    config_key character varying(255) NOT NULL,
    config_value character varying(1024),
    default_config_value character varying(1024),
    description character varying(2048),
    last_modified timestamp without time zone
);


ALTER TABLE public.dam_config OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_blob_triggers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_blob_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    blob_data bytea
);


ALTER TABLE public.dam_qrtz_blob_triggers OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_calendars; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_calendars (
    calendar_name character varying(200) NOT NULL,
    calendar bytea NOT NULL
);


ALTER TABLE public.dam_qrtz_calendars OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_cron_triggers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_cron_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    cron_expression character varying(120) NOT NULL,
    time_zone_id character varying(80)
);


ALTER TABLE public.dam_qrtz_cron_triggers OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_fired_triggers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_fired_triggers (
    entry_id character varying(95) NOT NULL,
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    is_volatile boolean NOT NULL,
    instance_name character varying(200) NOT NULL,
    fired_time bigint NOT NULL,
    priority integer NOT NULL,
    state character varying(16) NOT NULL,
    job_name character varying(200),
    job_group character varying(200),
    is_stateful boolean,
    requests_recovery boolean
);


ALTER TABLE public.dam_qrtz_fired_triggers OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_job_details; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_job_details (
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    description character varying(250),
    job_class_name character varying(250) NOT NULL,
    is_durable boolean NOT NULL,
    is_volatile boolean NOT NULL,
    is_stateful boolean NOT NULL,
    requests_recovery boolean NOT NULL,
    job_data bytea
);


ALTER TABLE public.dam_qrtz_job_details OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_job_listeners; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_job_listeners (
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    job_listener character varying(200) NOT NULL
);


ALTER TABLE public.dam_qrtz_job_listeners OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_locks; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_locks (
    lock_name character varying(40) NOT NULL
);


ALTER TABLE public.dam_qrtz_locks OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_paused_trigger_grps; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_paused_trigger_grps (
    trigger_group character varying(200) NOT NULL
);


ALTER TABLE public.dam_qrtz_paused_trigger_grps OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_scheduler_state; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_scheduler_state (
    instance_name character varying(200) NOT NULL,
    last_checkin_time bigint NOT NULL,
    checkin_interval bigint NOT NULL
);


ALTER TABLE public.dam_qrtz_scheduler_state OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_simple_triggers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_simple_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    repeat_count bigint NOT NULL,
    repeat_interval bigint NOT NULL,
    times_triggered bigint NOT NULL
);


ALTER TABLE public.dam_qrtz_simple_triggers OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_trigger_listeners; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_trigger_listeners (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    trigger_listener character varying(200) NOT NULL
);


ALTER TABLE public.dam_qrtz_trigger_listeners OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_qrtz_triggers; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_qrtz_triggers (
    trigger_name character varying(200) NOT NULL,
    trigger_group character varying(200) NOT NULL,
    job_name character varying(200) NOT NULL,
    job_group character varying(200) NOT NULL,
    is_volatile boolean NOT NULL,
    description character varying(250),
    next_fire_time bigint,
    prev_fire_time bigint,
    priority integer,
    trigger_state character varying(16) NOT NULL,
    trigger_type character varying(8) NOT NULL,
    start_time bigint NOT NULL,
    end_time bigint,
    calendar_name character varying(200),
    misfire_instr smallint,
    job_data bytea
);


ALTER TABLE public.dam_qrtz_triggers OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_track; Type: TABLE; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

CREATE TABLE dam_track (
    track_id bigint NOT NULL,
    bitrate double precision,
    bitspersample integer,
    channels integer,
    codec character varying(255),
    duration double precision,
    fmtp character varying(255),
    framerate double precision,
    height integer,
    payload character varying(255),
    samplerate double precision,
    size_ bigint,
    start_ double precision,
    type character varying(255),
    width integer,
    instance_id bigint NOT NULL
);


ALTER TABLE public.dam_track OWNER TO <%= @dam_db_username %>;

--
-- Name: dam_additional_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_additional_metadata
    ADD CONSTRAINT dam_additional_metadata_pkey PRIMARY KEY (metadata_id);


--
-- Name: dam_asset_instance_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_asset_instance
    ADD CONSTRAINT dam_asset_instance_pkey PRIMARY KEY (instance_id);


--
-- Name: dam_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_asset
    ADD CONSTRAINT dam_asset_pkey PRIMARY KEY (asset_id);


--
-- Name: dam_config_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_config
    ADD CONSTRAINT dam_config_pkey PRIMARY KEY (config_key);


--
-- Name: dam_qrtz_blob_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_blob_triggers
    ADD CONSTRAINT dam_qrtz_blob_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: dam_qrtz_calendars_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_calendars
    ADD CONSTRAINT dam_qrtz_calendars_pkey PRIMARY KEY (calendar_name);


--
-- Name: dam_qrtz_cron_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_cron_triggers
    ADD CONSTRAINT dam_qrtz_cron_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: dam_qrtz_fired_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_fired_triggers
    ADD CONSTRAINT dam_qrtz_fired_triggers_pkey PRIMARY KEY (entry_id);


--
-- Name: dam_qrtz_job_details_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_job_details
    ADD CONSTRAINT dam_qrtz_job_details_pkey PRIMARY KEY (job_name, job_group);


--
-- Name: dam_qrtz_job_listeners_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_job_listeners
    ADD CONSTRAINT dam_qrtz_job_listeners_pkey PRIMARY KEY (job_name, job_group, job_listener);


--
-- Name: dam_qrtz_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_locks
    ADD CONSTRAINT dam_qrtz_locks_pkey PRIMARY KEY (lock_name);


--
-- Name: dam_qrtz_paused_trigger_grps_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_paused_trigger_grps
    ADD CONSTRAINT dam_qrtz_paused_trigger_grps_pkey PRIMARY KEY (trigger_group);


--
-- Name: dam_qrtz_scheduler_state_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_scheduler_state
    ADD CONSTRAINT dam_qrtz_scheduler_state_pkey PRIMARY KEY (instance_name);


--
-- Name: dam_qrtz_simple_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_simple_triggers
    ADD CONSTRAINT dam_qrtz_simple_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: dam_qrtz_trigger_listeners_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_trigger_listeners
    ADD CONSTRAINT dam_qrtz_trigger_listeners_pkey PRIMARY KEY (trigger_name, trigger_group, trigger_listener);


--
-- Name: dam_qrtz_triggers_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_qrtz_triggers
    ADD CONSTRAINT dam_qrtz_triggers_pkey PRIMARY KEY (trigger_name, trigger_group);


--
-- Name: dam_track_pkey; Type: CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>; Tablespace: 
--

ALTER TABLE ONLY dam_track
    ADD CONSTRAINT dam_track_pkey PRIMARY KEY (track_id);


--
-- Name: dam_qrtz_blob_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_blob_triggers
    ADD CONSTRAINT dam_qrtz_blob_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES dam_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: dam_qrtz_cron_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_cron_triggers
    ADD CONSTRAINT dam_qrtz_cron_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES dam_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: dam_qrtz_job_listeners_job_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_job_listeners
    ADD CONSTRAINT dam_qrtz_job_listeners_job_name_fkey FOREIGN KEY (job_name, job_group) REFERENCES dam_qrtz_job_details(job_name, job_group);


--
-- Name: dam_qrtz_simple_triggers_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_simple_triggers
    ADD CONSTRAINT dam_qrtz_simple_triggers_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES dam_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: dam_qrtz_trigger_listeners_trigger_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_trigger_listeners
    ADD CONSTRAINT dam_qrtz_trigger_listeners_trigger_name_fkey FOREIGN KEY (trigger_name, trigger_group) REFERENCES dam_qrtz_triggers(trigger_name, trigger_group);


--
-- Name: dam_qrtz_triggers_job_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_qrtz_triggers
    ADD CONSTRAINT dam_qrtz_triggers_job_name_fkey FOREIGN KEY (job_name, job_group) REFERENCES dam_qrtz_job_details(job_name, job_group);


--
-- Name: fk527c0f9cde92065c; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_track
    ADD CONSTRAINT fk527c0f9cde92065c FOREIGN KEY (instance_id) REFERENCES dam_asset_instance(instance_id);


--
-- Name: fkae7085d3d829b9ec; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_asset_instance
    ADD CONSTRAINT fkae7085d3d829b9ec FOREIGN KEY (asset_id) REFERENCES dam_asset(asset_id);


--
-- Name: fkecff0f8d829b9ec; Type: FK CONSTRAINT; Schema: public; Owner: <%= @dam_db_username %>
--

ALTER TABLE ONLY dam_additional_metadata
    ADD CONSTRAINT fkecff0f8d829b9ec FOREIGN KEY (asset_id) REFERENCES dam_asset(asset_id);


--
-- Name: public; Type: ACL; Schema: -; Owner: <%= @dam_db_username %>
--

REVOKE ALL ON SCHEMA public FROM PUBLIC;
REVOKE ALL ON SCHEMA public FROM <%= @dam_db_username %>;
GRANT ALL ON SCHEMA public TO <%= @dam_db_username %>;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--


