<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <!-- selective overloads -->
  <!-- <entry key="properties.context">local-override</entry>-->
  <% if @policy_server %><entry key="policy.service.host"><%=@policy_server -%></entry><% end %>
  <% if @policy_port %><entry key="policy.service.port"><%=@policy_port -%></entry><% end %>

  <entry key="stream.manager.nonheartbeat.url">http://${stream.manager.host}:${stream.manager.port}/mobi-aaa-stream-manager/{carrier}/{product}/{version}/{profileid}/{type}/{action}.json</entry> 
  <entry key="stream.manager.heartbeat.url">http://${stream.manager.host}:${stream.manager.port}/mobi-aaa-stream-manager/{carrier}/{product}/{version}/{profileid}/{type}/heartbeat.json?currentState={currentplayerstate}</entry> 
  <entry key="stream.manager.port">8080</entry> 
  <entry key="policy.service.streams.rental.url">http://${policy.service.host}:${policy.service.port}/policy/stream/rules/{studio-name}/STREAM/RENTAL</entry> 
  <entry key="policy.service.streams.purchase.url">http://${policy.service.host}:${policy.service.port}/policy/stream/rules/{studio-name}/STREAM/PURCHASE?uv={uv}</entry>  
  <% if @memcached_servers %><entry key="memcached.servers"><%=@memcached_servers -%></entry><% end %>
  <% if @uvconnect_auth %><entry key="uvconnect.service.auth"><%=@uvconnect_auth -%></entry><% end %>
  <% if @uvconnect_create_url %><entry key="uvconnect.service.create.streams.url"><%= @uvconnect_create_url -%></entry><% end %>
  <% if @uvconnect_delete_url %><entry key="uvconnect.service.delete.streams.url"><%=@uvconnect_delete_url -%></entry><% end %>
  <% if @database_url %><entry key="database.url"><%= @database_url -%></entry><% end %>
  <% if @database_username %><entry key="database.username"><%= @database_username -%></entry><% end %>
  <% if @database_password %><entry key="database.password"><%= @database_password -%></entry><% end %>
  <% if @auth_connections_per_host %><entry key="auth.connections.per.host"><%= @auth_connections_per_host -%></entry><% end %>
  <% if @auth_connections_max %><entry key="auth.connections.max"><%= @auth_connections_max -%></entry><% end %>
  <% if @uv_connections_per_host %><entry key="uv.connections.per.host"><%= @uv_connections_per_host -%></entry><% end %>
  <% if @uv_connections_max %><entry key="uv.connections.max"><%= @uv_connections_max -%></entry><% end %>
</properties>

