<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
        <!-- <entry key="properties.context">local-override</entry>-->

        <% if @idm_url %><entry key="identity.manager.url"><%= @idm_url -%></entry><% end %>
        <% if @sprint_proxy_url %><entry key="sprint.proxy.url"><%= @sprint_proxy_url -%></entry><% end %>
				<% if @solr_server_url %><entry key="solr.server.url"><%= @solr_server_url -%></entry><% end %>
</properties>

