LIS_PRDJB =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = <%= @fqdn -%>)(PORT = 1721))
    )
  )
SID_LIST_LIS_PRDJB =
  (SID_LIST =
    (SID_DESC = (ORACLE_HOME = /var/app/oracle/product/10204)(SID_NAME = prdjb))
  )

LIS_PRDSPT =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = <%= @fqdn -%>)(PORT = 1731))
    )
  )
SID_LIST_LIS_PRDSPT =
  (SID_LIST =
    (SID_DESC = (ORACLE_HOME = /var/app/oracle/product/10204)(SID_NAME = prdspt))
  )

LIS_PRDSUB =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = <%= @fqdn -%>)(PORT = 1732))
    )
  )
SID_LIST_LIS_PRDSUB =
  (SID_LIST =
    (SID_DESC = (ORACLE_HOME = /var/app/oracle/product/10204)(SID_NAME = prdsub))
  )
  
LIS_MOBI2 =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = <%= @fqdn -%>)(PORT = 1521))
    )
  )
SID_LIST_LIS_MOBI2 =
  (SID_LIST =
    (SID_DESC = (ORACLE_HOME = /var/app/oracle/product/10204)(SID_NAME = MOBI2))
  )
