<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- selective overloads -->
	<!-- <entry key="properties.context">local-override</entry>-->
	<% if @sprint_wsip_soap_url %><entry key="sprint.wsip.soap.url"><%= @sprint_wsip_soap_url -%></entry><% end %>
        <% if @sprint_psi_soap_url %><entry key="sprint.psi.soap.url"><%= @sprint_psi_soap_url -%></entry><% end %>
	<% if @sprint_health_check_url %><entry key="sprint.health.check.url"><%= @sprint_health_check_url -%></entry><% end %>
	<% if @delay_notification_by %><entry key="delay.notification.by"><%= @delay_notification_by -%></entry><% end %>
	<% if @sprint_encryption_jar_path %><entry key="sprint.encryption.jar.path"><% @sprint_encryption_jar_path -%></entry><% end %>
	<% if @healthcheck_enabled %><entry key="healthcheck.enabled"><% @healthcheck_enabled -%></entry><% end %>
</properties>
