properties.context=<%= @properties_context %>
application.name=Identity manager
endDate=<%= @end_date %>

access_token.lifetime.secs=<%= @access_token_lifetime_secs %>
jerseyClient.userAgent=Mobi AAA Identity Manager/1.0 (UNIX; en-US)
jerseyClient.connectionTimeoutSeconds=<%= @connection_timeout_secs %>
jerseyClient.readTimeoutSeconds=<%= @read_timeout_secs %>
jerseyClient.httpConnectionPoolSize=<%= @httpconnection_pool_size %>

refresh_token.lifetime.secs=<%= @refresh_token_lifetime_secs %>
reliance_openssl.url=<%= @reliance_openssl_url %>
reliance_api.key=<%= @reliance_api_key %>
reliance_date.format=<%= @reliance_date_format %>

profile.key=<%= @profile_key %>
enableFailOpen=<%= @enable_fail_open %>
access_token.dynamic.attributes=<%= @access_token_dynamic_attributes %>
profile.dynamic.attributes=<%= @profile_dynamic_attributes %>
reliance_idam.running=<%= @reliance_idam_running %>
rpsl.pin.expirytime.milliseconds=<%= @rpsl_pin_expirytime_milliseconds %>
app.user=<%= @app_user %>
app.user.pwd=<%= @app_user_pwd %>
app.user.default.devicetype=<%= @app_user_default_devicetype %>
app.user.default.devicename=<%= @app_user_default_devicename %>
ril.idam.session.details.url=<%= @ril_idam_session_details_url %>
ril.idam.user.details.url= <%= @ril_idam_user_details_url %>
ril.idam.password.login.url=<%= @ril_idam_password_login_url %>
ril.idam.ssotoken.verify.url=<%= @ril_idam_ssotoken_verify_url %>
ril.idam.jtoken.verify.url=<%= @ril_idam_jtoken_verify_url %>

memcached.servers=<%= @ril_idam_memcached_servers %>
memcached.access.timeout=<%= @ril_idam_memcached_access_timeout %>
memcached.access.expireTime=<%= @ril_idam_memcached_access_expireTime %>
method.execution.time=<%= @method_execution_time %>
