[webserver]
port=<% if @opscenterd_conf_hash["port"] %><%= @opscenterd_conf_hash["port"];@opscenterd_conf_hash.delete("port") %><% else %>8888<% end %>
interface=<% if @opscenterd_conf_hash["interface"] %><%= @opscenterd_conf_hash["interface"];@opscenterd_conf_hash.delete("interface") %><% else %>127.0.0.1<% end %>
<% @opscenterd_conf_hash.each do |key, value| -%>
<%= key %>=<%= value %>
<% end %>
