
<Context path="LicenseManager" docBase="/opt/drm/webapps/licensemanager2" debug="0">
	
   <Valve className="org.apache.catalina.valves.RemoteHostValve" allow="<%= @allow %>"/>
	
   <Valve className="org.apache.catalina.valves.AccessLogValve" directory="/var/log/tomcat/mobi-tomcat-config-8080"  prefix="licensemanager2_access." suffix=".log" pattern="%t %a %{X-Forwarded-For}i %m %U%q %b %D %s" resolveHosts="false" />
	
	
  <Resource name="jdbc/lm2DS"
            auth="Container"
            type="javax.sql.DataSource"
	    username="<%= @lm_user -%>"
	    password="<%= @lm_user_pass -%>"
	    driverClassName="<%= @jdbc_driver -%>"
	    maxActive="300"
	    maxIdle="20"
	    maxWait="-1"
            validationQuery="<%= @validation_query -%>"
            testOnBorrow="true"
            poolPreparedStatements="true"
	    maxOpenPreparedStatements="30"
	    url="<%= @db_url -%>"
	    />
			   
				
</Context>
