#This file managed by puppet
<% if @db_type %>jdbc.database.name=<%= @db_type %>
<% end -%>
# Authnz enabled true / false
<% if @authnz_enabled != "undef" %>licensemanager_authnz_enabled=<%= @authnz_enabled %>
<% end -%>
# Licensemanager Authentication authnz urls
<% if @authnz_identity_url %>licensemanager_authnz_identity_manager_url=<%= @authnz_identity_url %>
<% end -%>
<% if @authnz_rights_url %>licensemanager_authnz_rights_manager_url=<%= @authnz_rights_url %>
<% end -%>
# Dir where licensemanager pub / priv keys + certificate are located
<% if @keystore %>licensemanager_keystore_dir=<%= @keystore %>
<% end -%>
# RI url, eg url to this roap server
# # MUST POINT TO THE EXTERNAL IP / HOSTNAME OF THE ROAPSERVER, IMPORTANT!!
# #http://{URL.OR.IP.TO.ROAPSERVER}:8080/roapserver/services/roap
<% if @ri_url %>roapserver_ri_url=<%= @ri_url %>
<% end -%>
# How long a PEK is valid digit + d | h | m , case sensitive.
<% if @pek_duration %>pek_duration=<%= @pek_duration %>
<% end -%>
# How long a SEK is valid digit + d | h | m , case sensitive.
<% if @sek_duration %>sek_duration=<%= @sek_duration %>
<% end -%>
# PEK salt 32 byte, (32 char value)
<% if @pek_salt%>pek_salt=<%= @pek_salt%>
<% end -%>
# SEK salt 32 byte, (32 char value)
<% if @sek_salt%>sek_salt=<%= @sek_salt%>
<% end -%>
# How many PEKs that is allowed in a ProtectedRO, LM will only add this number of PEKs regardless
# # of any dates set in the RO. Very dependent on how long the validity time for a PEK is.
<% if @max_peks_per_ro%>max_allowed_peks_per_ro=<%= @max_peks_per_ro%>
<% end -%>
# How many SEKs that is allowed in on ProtectedRO, LM will only add this number of SEKs regardless.
<% if @max_seks_per_ro%>max_allowed_seks_per_ro=<%= @max_seks_per_ro%>
<% end -%>
# How long we allow the clients clock time to be before our clock (DRMTime), shouldn't be set to high, digit + d | h | m , case sensitive.
<% if @cclock_before_drmtime%>max_client_clock_before_drmtime=<%= @cclock_before_drmtime %>
<% end -%>
# How long we allow the clients clock time to be after our clock (DRMTime), shouldn't be set to high, digit + d | h | m , case sensitive.
<% if @cclock_after_drmtime%>max_client_clock_after_drmtime=<%= @cclock_after_drmtime %>
<% end -%>
# How long VoD program and Recordings licenses can be keept by client before it needs to be renewed, should be a pretty high value
# if the constraints end time is lower than this, LM will alter this value digit + d | h | m , case sensitive.
<% if @vodprog_rec_ccache_time%>max_vodprog_and_rec_client_cache_time=<%= @vodprog_rec_ccache_time %>
<% end -%>
# URL to rightsmanager without the /carrier/product/version part
# ----------STUB ---------------
<% if @rs_rights_url %>roapserver_rightsmanager_url=<%= @rs_rights_url %>
<% end -%>
# Minimum version of allowed drmagents
<% if @min_drmagent %>min_drmagent_version=<%= @min_drmagent %>
<% end -%>
# Use OCSP to validate certificates true / false
<% if @rs_ocsp != "undef" %>roapserver_ocsp_validation_enabled=<%= @rs_ocsp %>
<% end -%>
# URL to OCSP server
<% if @rs_ocsp_url %>roapserver_ocsp_url=<%= @rs_ocsp_url %>
<% end -%>
# If devices are going to be blocked if ocsp server responds with a "trylater" or "internal error" status code true / false
<% if @rs_ocsp_strict_blocking != "undef" %>roapserver_ocsp_strict_blocking=<%= @rs_ocsp_strict_blocking %>
<% end -%>
# Running in qa proxy mode true/false
<% if @rs_qa_proxy != "undef" %>roapserver_qa_proxy_mode=<%= @rs_qa_proxy %>
<% end -%>
# Any SKUs that matches this regexp will have it's keys requested from production server
<% if @rs_qa_proxy_sku_regexp %>roapserver_qa_proxy_sku_regexp=<%= @rs_qa_proxy_sku_regexp %>
<% end -%>
# Proxied (production) roapserver url, must be set if we are running in proxy mode
<% if @rs_qa_proxy_ex_rs_url %>roapserver_qa_proxy_ex_roapserver_url=<%= @rs_qa_proxy_ex_rs_url %>
<% end -%>
# Master salt rotation interval digit + d | h | m , case sensitive.
<% if @lm_salt_rotation_interval %>licensemanager_salt_rotation_interval=<%= @lm_salt_rotation_interval %>
<% end -%>
# Client cert validity time (in days) XXX cannot be longer than ca cert
<% if @client_cert_min_vtime %>licensemanager_client_cert_min_validitytime=<%= @client_cert_min_vtime %>
<% end -%>
# Keypair pregeneration is done between interval, this value specify how many keyspairs should be generated
# # in each batch
<% if @keypair_generation_batch %>keypair_generation_batch=<%= @keypair_generation_batch %>
<% end -%>
# minimum keypairs to have pregenerated in db
<% if @keypair_generation_min %>keypair_generation_min=<%= @keypair_generation_min %>
<% end -%>
# ResourceService connection timeout in ms
<% if @rs_resourceservice_connection_timeout %>roapserver_resourceservice_connection_timeout=<%= @rs_resourceservice_connection_timeout %>
<% end -%>
# ResourceService read timeout in ms
<% if @rs_resourceservice_read_timeout %>roapserver_resourceservice_read_timeout=<%= @rs_resourceservice_read_timeout %>
<% end -%>
# ResourceService connection follow redirects true / false
<% if @rs_resourceservice_follow_redirects != "undef" %>roapserver_resourceservice_follow_redirects=<%= @rs_resourceservice_follow_redirects %>
<% end -%>
# ResourceService connection threadpool size
<% if @rs_resourceservice_threadpool_size %>roapserver_resourceservice_threadpool_size=<%= @rs_resourceservice_threadpool_size %>
<% end -%>
<% if @salt_rotation_interval %>salt_rotation_interval=<%= @salt_rotation_interval %>
<% end -%>
# How long buffer of salts we should have in advance digit + d | h | m , case sensitive
<% if @salt_gen_time_buffer %>salt_gen_time_buffer=<%= @salt_gen_time_buffer %>
<% end -%>
# Optional parameter sent on rights requests, will extract nr of seconds on the start constraint. Should normally be 0. 
<% if @roapserver_rights_start_threshold %>roapserver_rights_start_threshold=<%= @roapserver_rights_start_threshold %>
<% end -%>
# Optional parameter sent on rights requests, will add nr of seconds on the end constraint. Should normally be 0. 
<% if @roapserver_rights_end_threshold %>roapserver_rights_end_threshold=<%= @roapserver_rights_end_threshold %>
<% end -%>
# Comma separated host list of Memcached servers including port (127.0.0.1:11211,judrm01p9:11211). If list is empty ROs will not be cached
# on server side instead it will be passed encrypted to the client which consumes more bandwidth.
<% if @memcached_host_list %>memcached_host_list=<%= @memcached_host_list %>
<% end -%>
# If salt rotation should be enabled or disabled
<% if @salt_rotation_enabled != "undef" %>salt_rotation_enabled=<%= @salt_rotation_enabled %>
<% end -%>
