<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
        <!-- selective overloads -->
	<!-- <entry key="properties.context">local-override</entry>-->
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::aba_url") != "" %><entry key="dt.abaUrl"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::aba_url") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::apa_url") != "" %><entry key="dt.apaUrl"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::apa_url") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::eas_url") != "" %><entry key="dt.easUrl"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::eas_url") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::identity_manager") != "" %><entry key="identity.manager.url"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::identity_manager") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::rights_manager") != "" %><entry key="rights.manager.url"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::rights_manager") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::connection_timeout") != "" %><entry key="jerseyClient.connectionTimeoutSeconds"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::connection_timeout") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::read_timeout") != "" %><entry key="jerseyClient.readTimeoutSeconds"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::read_timeout") -%></entry><% end %>
<% if scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::max_connections") != "" %><entry key="jerseyClient.maxConnections"><%= scope.lookupvar("mobi_aaa_adapter_dt_aba_apa_eas::max_connections") -%></entry><% end %>

</properties>
