<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="properties.context">default</entry>	
	<!-- Cache Control -->
	<entry key="cacheControlMaxAge"><%= @cache_control_max_age %></entry>	
	<!-- IDM URL / Proxy URL -->
	
	<entry key="identity.manager.url"><%= @identity_manager_url %></entry> 
	<entry key="ril.purchase.url"><%= @purchase_manager_url %></entry>
	<!-- URL of the Solr server -->
	<entry key="solr.server.url"><%= @solr_url %></entry>
	<!-- Timeout (connection/socket) values used by Jersey Client -->	
	<entry key="jerseyClient.connectionTimeoutSeconds"><%=       
    @jerseyclient_connectiont_timeout_Seconds %></entry>
	<entry key="jerseyClient.readTimeoutSeconds"><%= @jerseyclient_readtimeout_Seconds    
    %></entry>
	<entry key="jerseyClient.userAgent">Mobi AAA Adapter Rights Manager NG/1.0 (UNIX;   
    en-US)</entry>
	<!-- Acceptable Authentication Scopes -->
    <entry key="acceptScope_coreServices"><%= @acceptscope_coreservices %></entry>
	<!-- End dates (in days) -->	
	<entry key="liveEndDateGracePeriod"><%= @live_end_date_grace_period %></entry>
	<entry key="vodEndDateGracePeriod"><%= @vod_end_date_grace_period %></entry>
	<entry key="defaultEndDateGracePeriod"><%= @default_end_date_grace_period %></entry>

	<!-- health check configuration -->
	<entry key="health.http.connection.timeout"><%= @health_http_connection_timeout %></entry>
	<entry key="health.http.read.timeout"><%= @health_http_read_timeout %></entry>
	<entry key="jerseyClient.userAgent">Mobi AAA Adapter Rights Manager NG/1.0 (UNIX;  		en-US)</entry>
	
</properties>
