# Fully qualified domain name for machine
<%= @ipaddress %> <%= @fqdn %> <%= @hostname %>

# Localhost
127.0.0.1 <%= @hosts_lh_hostnames %>

#Database
<%= @hosts_db1_ip %> <%= @hosts_db1_hostnames %>

# Front End
<%= @hosts_fe1_ip %> <%= @hosts_fe1_hostnames %>

# SOLR
<%= @hosts_solr1_ip %> <%= @hosts_solr1_hostnames %>

# AcitveMQ
<%= @hosts_juamq1_ip %> <%= @hosts_juamq1_hostnames %>

# Juing
<%= @hosts_juing1_ip %> <%= @hosts_juing1_hostnames %>

# Juarn
<%= @hosts_juarn1_ip %> <%= @hosts_juarn1_hostnames %>

# Judrm
<%= @hosts_judrm1_ip %> <%= @hosts_judrm1_hostnames %>
