properties.context=default

<% if scope.lookupvar("mobi_aaa_rights_manager::end_date_grace_period") != "" %>
endDateGracePeriod=<%= scope.lookupvar("mobi_aaa_rights_manager::end_date_grace_period") -%>
<% end %>
<% if scope.lookupvar("mobi_aaa_rights_manager::httpconnection_pool_size") != "" %>
jerseyClient.httpConnectionPoolSize=<%= scope.lookupvar("mobi_aaa_rights_manager::httpconnection_pool_size") -%>
<% end %>
<% if scope.lookupvar("mobi_aaa_rights_manager::adapter_rights_manager_health_http_connection_timeout") != "" %>
adapter.rights-manager.health.http.connection.timeout=<%= scope.lookupvar("mobi_aaa_rights_manager::adapter_rights_manager_health_http_connection_timeout") -%>
<% end %>
<% if scope.lookupvar("mobi_aaa_rights_manager::adapter_rights_manager_health_http_read_timeout") != "" %>
adapter.rights-manager.health.http.read.timeout=<%= scope.lookupvar("mobi_aaa_rights_manager::adapter_rights_manager_health_http_read_timeout") -%>
<% end %>

#override properties for platform rights manager
<% if @database_datasource_validationquery -%>
database.datasource.validationQuery=<%=@database_datasource_validationquery %>
<% end -%>
<% if @database_url -%>
database.url=<%=@database_url %>
<% end -%>
<% if @database_username -%>
database.username=<%=@database_username %>
<% end -%>
<% if @database_password -%>
database.password=<%=@database_password %>
<% end -%>
<% if @database_driver -%>
database.driver_class=<%=@database_driver %>
<% end -%>
<% if @hibernate_dialect -%>
hibernate.dialect=<%=@hibernate_dialect %>
<% end -%>
<% if @hibernate_show_sql -%>
hibernate.show_sql=<%=@hibernate_show_sql %>
<% end -%>
<% if @jerseyclient_enable_clientlog -%>
jerseyClient.enableClientLog=<%=@jerseyclient_enable_clientlog %>
<% end -%>
<% if @jerseyclient_readtimeout_seconds -%>
jerseyClient.readTimeoutSeconds=<%=@jerseyclient_readtimeout_seconds %>
<% end -%>
<% if @jerseyclient_connectiontimeout_seconds -%>
jerseyClient.connectionTimeoutSeconds=<%=@jerseyclient_connectiontimeout_seconds %>
<% end -%>
<% if @oms_url -%>
offer.manager.endpoint.url=<%=@oms_url %>
<% end -%>
<% if @am_url -%>
am.url=<%=@am_url %>
<% end -%>
<% if @pmm_url -%>
pmm.url=<%=@pmm_url %>
<% end -%>
<% if @policy_manager_url -%>
policy.manager.url=<%=@policy_manager_url %>
<% end -%>
<% if @policy_manager_search_byvid_url -%>
policy.manager.search.byvid.url=<%=@policy_manager_search_byvid_url %>
<% end -%>
<% if @policy_manager_get_byinventory_url -%>
policy.manager.get.byinventory.url=<%=@policy_manager_get_byinventory_url %>
<% end -%>
<% if @policy_manager_get_bypolicyid_url -%>
policy.manager.get.bypolicyid.url=<%=@policy_manager_get_bypolicyid_url %>
<% end -%>
<% if @recording_manager_url -%>
recording.manager.url=<%=@recording_manager_url %>
<% end -%>
<% if @rm_cleanup_job_enabled -%>
rm.cleanup_job.enabled=<%=@rm_cleanup_job_enabled %>
<% end -%>
<% if @rm_cleanup_job_cron_expression -%>
rm.cleanup_job.cron.expression=<%=@rm_cleanup_job_cron_expression %>
<% end -%>
<% if @drm_license_period -%>
drm.license.period=<%=@drm_license_period %>
<% end -%>
<% if @solr_server_url -%>
solr.server.url=<%=@solr_server_url %>
<% end -%>
<% if @auth_manager_url -%>
auth.manager.url=<%=@auth_manager_url %>
<% end -%>
<% if @auth_support_core_service -%>
auth.support.core.service=<%=@auth_support_core_service %>
<% end -%>
<% if @rights_manager_url -%>
rights.manager.url=<%=@rights_manager_url %>
<% end -%>
<% if @purchase_manager_endpoint_url -%>
purchase.manager.endpoint.url=<%=@purchase_manager_endpoint_url %>
<% end -%>
<% if @solr_cache_ttl -%>
solr.cache.ttl=<%=@solr_cache_ttl %>
<% end -%>
<% if @zookeeper_connect_string -%>
zookeeper.connect.string=<%=@zookeeper_connect_string %>
<% end -%>
<% if @oms_health_check_enabled -%>
oms.health.check.enabled=<%=@oms_health_check_enabled %>
<% end -%>
<% if @pm_health_check_enabled -%>
pm.health.check.enabled=<%=@pm_health_check_enabled %>
<% end -%>
<% if @purchase_health_check_enabled -%>
purchase.health.check.enabled=<%=@purchase_health_check_enabled %>
<% end -%>
<% if @am_health_check_enabled -%>
am.health.check.enabled=<%=@am_health_check_enabled %>
<% end -%>
<% if @auth_health_check_enabled -%>
auth.health.check.enabled=<%=@auth_health_check_enabled %>
<% end -%>
<% if @solr_health_check_enabled -%>
solr.health.check.enabled=<%=@solr_health_check_enabled %>
<% end -%>
<% if @rights_manager_service_name -%>
rights.manager.service.name=<%=@rights_manager_service_name %>
<% end -%>
<% if @session_manager_endpoint_url -%>
session.manager.endpoint.url=<%=@session_manager_endpoint_url %>
<% end -%>
<% if @auth_use_legacy_verify_tokens_endpoint -%>
auth.use.legacy.verify-tokens-endpoint=<%=@auth_use_legacy_verify_tokens_endpoint %>
<% end -%>
<% if @auth_enable_session_manager -%>
auth.enable.session.manager=<%=@auth_enable_session_manager %>
<% end -%>
<% if @database_datasource_initialsize -%>
database_datasource_initialsize=<%=@database_datasource_initialsize %>
<% end -%>
<% if @database_datasource_maxactive -%>
database_datasource_maxactive=<%=@database_datasource_maxactive %>
<% end -%>
<% if @database_datasource_maxidle -%>
database_datasource_maxidle=<%=@database_datasource_maxidle %>
<% end -%>
<% if @max_executor_threads -%>
max_executor_threads=<%=@max_executor_threads %>
<% end -%>
<% if @cdl_maxwait_milliseconds -%>
cdl_maxwait_milliseconds=<%=@cdl_maxwait_milliseconds %>
<% end -%>
