properties.context=default
<% if @sku_rights -%>
skuRights=<%=@sku_rights %>
<% end -%>
<% if @sku_rights_technicolor_mgo -%>
skuRights.technicolor.mgo=<%=@sku_rights_technicolor_mgo %>
<% end -%>
<% if @sku_rights_dt_eons -%>
skuRights.dt.eons=<%=@sku_rights_dt_eons %>
<% end -%>
<% if @sku_rights_sprint -%>
skuRights.sprint=<%=@sku_rights_sprint %>
<% end -%>
<% if @sku_rights_infotel -%>skuRights.infotel=<%=@sku_rights_infotel %>
<% end -%>
<% if @available_sku_rights -%>
availableSkuRights=<%=@available_sku_rights %>
<% end -%>
<% if @available_sku_rights_technicolor_mgo -%>availableSkuRights.technicolor.mgo=<%=@available_sku_rights_technicolor_mgo %>
<% end -%>
<% if @available_sku_rights_dt_eons -%>
availableSkuRights.dt.eons=<%=@available_sku_rights_dt_eons %>
<% end -%>
<% if @available_sku_rights_sprint -%>
availableSkuRights.sprint=<%=@available_sku_rights_sprint %>
<% end -%>
<% if @available_sku_rights_infotel -%>
availableSkuRights.infotel=<%=@available_sku_rights_infotel %>
<% end -%>
<% if @core_service_rights_technicolor_mgo -%>
coreServiceRights.technicolor.mgo=<%=@core_service_rights_technicolor_mgo %>
<% end -%>
<% if @core_service_rights_dt_eons -%>
coreServiceRights.dt.eons=<%=@core_service_rights_dt_eons %>
<% end -%>
<% if @core_service_rights_sprint -%>
coreServiceRights.sprint=<%=@core_service_rights_sprint %>
<% end -%>
<% if @core_service_rights_infotel -%>
coreServiceRights.infotel=<%=@core_service_rights_infotel %>
<% end -%>


#platform rights manager overrides come over here
<% if @drm_rights -%>
drmRights=<%=@drm_rights %>
<% end -%>
<% if @drm_rights_platform -%>
drmRights.platform=<%=@drm_rights_platform %>
<% end -%>
<% if @user_rights -%>
userRights=<%=@user_rights %>
<% end -%>
<% if @user_rights_platform -%>
userRights.platform=<%=@user_rights_platform %>
<% end -%>
<% if @service_rights_platform -%>
serviceRights.platform=<%=@drm_rights_platform %>
<% end -%>

# Platform reference adapter overrides
<% if @drm_rights_mobitv_reference -%>
drmRights.mobitv.reference=<%=@drm_rights_mobitv_reference %>
<% end -%>
<% if @user_rights_mobitv_reference -%>
userRights.mobitv.reference=<%=@user_rights_mobitv_reference %>
<% end -%>
<% if @sku_rights_mobitv_reference -%>
skuRights.mobitv.reference=<%=@sku_rights_mobitv_reference %>
<% end -%>
<% if @available_sku_rights_mobitv_reference -%>
availableSkuRights.mobitv.reference=<%=@available_sku_rights_mobitv_reference %>
<% end -%>
<% if @core_service_rights_mobitv_reference -%>
coreServiceRights.mobitv.reference=<%=@core_service_rights_mobitv_reference %>
<% end -%>
