#reverting the property name to identity.manager.url instead of auth.manager.url as infotel is using the old rpm.
#This should be changed when they upgrade the rpm
auth.manager.url=http://identitymanagervip:8080/mobi-aaa-ril-identity-manager-oauth2
identity.manager.url=<%= scope.lookupvar("mobi_personalization_manager::auth_manager_url") %>
rights.manager.url=<%= scope.lookupvar("mobi_personalization_manager::rights_manager_url") %>

# For accessing Storage Manager APIs
sm.url.template.for.collection=/{entity-type}/{entity-type-key}/{collection}
sm.url.qparam.subcollection=subcollection
sm.url.qparam.collection.name=collection_name
sm.url.template.for.cleanup=/{entity-type}/{entity-type-key}/{collection}/all
storage.manager.service=mobi-storage-manager

notification.collection.root=push_settings
notification.manager.url=http://notificationmanagervip:8080/mobi-notification-manager
notification.manager.accept=application/json
notification.manager.content-type=application/json
nm.personal_event.path=/events/profile/{profile_id}/{event_type}/notifications
nm.notification.settings.path=/settings/{carrier}/{product}/{version}/profile/{profile_id}
nm.notification.cleanup.path=/events/{event_type}/{event_id}/notifications
notification.manager.service=mobi-notification-manager

push.message.manager.enabled=false
push.message.manager.url=http://pushmessagemanagervip:8080/mobi-push-message-manager
push.message.event.path=/{carrier}/{product}/{version}/push
push.message.manager.service=mobi-push-message-manager

# URL of the Solr server
solr.server.url=http://guidemanagervip:8080/mobi-solr/
solr.server.connection.timeout=10000
solr.server.max.connections=100
solr.server.max.retries=1

#Recording Manager Related Properties
recording.manager.url=http://recordingmanagervip:8080/mobi-recording-manager
rm.recordingid.path=/guide/v5/recording/{carrier}/{product}/{version}/{guide-provider}/{profile_id}/{id}
rm.template.shared.recordings=/guide/v5/recording/{carrier}/{product}/{version}/{guide-provider}/catchup/recording_details
rm.template.private.recordings=/guide/v5/recording/{carrier}/{product}/{version}/{guide-provider}/{profile_id}/single/recording_details

# Recent Related properties
sm.recent.column.family=viewrecents
sm.marketing.column.family=marketing
sm.history.column.family=viewhistory
clearRecentsTemplatePath={entity-type}/{entity-type-key}/{collection}/all
multiListTemplatePath=/multicolumn/{entity-type}/{entity-type-key}/{collection}
percentCompleteThreshold=96
recent.size.limit=100

# Profile level settings
sm.template.for.settings=/profile/{profile_id}/setting
sm.template.clear.settings=/profile/{profile_id}/setting/all
sm.template.multi.settings=/multicolumn/profile/{profile_id}/setting

#Clean up Thread Pool Settings
cleanup.core.pool.size=10
cleanup.max.pool.size=30
cleanup.keepAliveTime=5
cleanup.queue.size=1000

#Cleaners Settings
max.catchupprogram.period.in.days=14

#Enable/Disable Jersey logging requests
webclient.featurePojoMapping=false
webclient.logging=false
webclient.connectionTimeout=10000
webclient.socketTimeout=10000
webclient.defaultMaxPerRoute=2000
webclient.maxTotal=10000
