[mysqld_safe]
<% if @default_instance %>
init-file=/var/app/mysql_tools/scripts/mysql_startup.sql
<% end %>
log-error=/var/log/<%= @mysql_log_subdirectory %>/error.log
pid-file=/var/lib/<%= @mysql_var_subdirectory %>/<%= @mysql_var_subdirectory %>.pid
socket=/var/lib/<%= @mysql_var_subdirectory %>/mysql.sock
user=mysql
port=<%= @mysql_port %>
datadir=/var/lib/<%= @mysql_var_subdirectory %>
basedir=/usr/bin/<%= @mysql_usr_subdirectory %>
ledir=/usr/libexec/
<%#=ledir=/usr/sbin/<%= @mysql_usr_subdirectory %>
