[mysqld]
socket=/var/lib/<%= @mysql_var_subdirectory %>/mysql.sock
user=mysql
port=<%= @mysql_port %>
log-error=/var/log/<%= @mysql_log_subdirectory %>/error.log
general_log_file=/var/log/<%= @mysql_log_subdirectory %>/general.log
slow_query_log_file=/var/log/<%= @mysql_log_subdirectory %>/slow.log
log_queries_not_using_indexes=0
long_query_time=2
slow_query_log=1
general_log=1
pid-file=/var/lib/<%= @mysql_var_subdirectory %>/<%= @mysql_var_subdirectory %>.pid
language=/usr/share/mysql/english/
log-bin=mysql-bin
binlog-format=<%= @mysql_binlog_format %>
<%- if @server_id -%>
server-id=<%= @server_id %>
sync_binlog = 1
master-user=rep_user
#skip-networking
#bind-address=0.0.0.0
relay-log=mysqld-relay-bin
replicate-same-server-id=0
<%- end -%>

### Character set
skip-character-set-client-handshake
collation-server=utf8_bin
character-set-server=utf8
auto_increment_increment=2
auto_increment_offset=<%= @server_id %>

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).

# Disable old passwords R.B. 04/07/2011
old_passwords=0

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# Disable symlinks R.B. 04/07/2011
symbolic-links=0

#[innodb settings]
expire_logs_days=3
innodb_buffer_pool_size=256M
innodb_data_home_dir=/var/lib/<%= @mysql_var_subdirectory %>
innodb_file_per_table=1
innodb_additional_mem_pool_size=256M
innodb_log_file_size=20M
innodb_log_buffer_size=256M
innodb_flush_log_at_trx_commit=1
innodb_log_group_home_dir=/var/lib/<%= @mysql_var_subdirectory %>
innodb_thread_concurrency=8
default_storage_engine=InnoDB

connect_timeout=86400

# not valid options in newer mysql-server versions
#skip-bdb
#skip-ndbcluster
#skip-federated

max_connections=10000

table_cache = 128
thread_cache = 128

query_cache_type = 1
query_cache_limit = 512M
query_cache_size = 256M

join_buffer_size = 32M
<% if @default_instance %>
tmpdir=/var/tmp
tmp_table_size=1G
max_heap_table_size=2G
init-file=/var/app/mysql_tools/scripts/mysql_startup.sql
<% end %>
