<?xml version="1.0" encoding="utf-8"?>
<JobDistributorConfiguration>
  <!--Access Rights-->
  <% if @jd_user_name %><userName><%=@jd_user_name-%></userName><% end -%>
  <% if @jd_group_name %><groupName><%=@jd_group_name-%></groupName><% end -%>

  <!--REST API-->
  <% if @jd_rest_nic%><ApiListenAddress><%=@jd_rest_nic-%></ApiListenAddress><% else %><ApiListenAddress/><% end -%>
  <% if @jd_rest_port%><ApiListenPort><%=@jd_rest_port-%></ApiListenPort><% end -%>

  <!--Database-->
  <Engine><%=@jd_db_engine-%></Engine>
  <ConnectionString><%=@jd_db_connect-%></ConnectionString>
  <TableName><%=@jd_shard_table_name-%></TableName>

  <!--Durations & Timeouts-->
  <SegmentDuration><%=@segment_duration-%></SegmentDuration>
  <RecordingStartDelay><%=@jd_recording_start_delay-%></RecordingStartDelay>
  <RecordingHoldDuration><%=@jd_recording_hold_duration-%></RecordingHoldDuration>
  <RecordingResponseTimeout><%=@jd_recording_response_timeout-%></RecordingResponseTimeout>
  <StopResponseTimeout><%=@jd_recording_stop_timeout-%></StopResponseTimeout>
  <DeleteResponseTimeout><%=@jd_recording_delete_timeout-%></DeleteResponseTimeout>

  <!--Messages-->
  <BrokerURI>failover:(<%=@shard_amq_broker_hosts.map{|shard_host| '%s%s%s' % ['tcp://', shard_host, ':61616?wireFormat.tightEncodingEnabled=false']}.join(',') -%>)</BrokerURI>
  <JobDistributorQueue><%=@netpvr_request_queue_name -%>/failover:(<%= @netpvr_amq_broker_hosts.map{|host| '%s%s%s' % ['tcp://', host, ':61616?wireFormat.tightEncodingEnabled=false']}.join(',') -%>)</JobDistributorQueue>
  <RecordWriterQueue><%=@shard_request_channel_name-%></RecordWriterQueue>
  <RecordWriterTopic><%=@shard_control_channel_name-%></RecordWriterTopic>

  <!--Shard Id-->
  <ShardId><%=@jd_shard_identifier-%></ShardId>
    
</JobDistributorConfiguration>
