# compress older than N
1 1 * * * root /usr/bin/find /var/lib/pgsql/data/pg_log -type f -mtime +<%= @compress_older_than %> -name "*.log" -exec gzip {} \;

# remove older than N
30 1 * * * root/usr/bin/find /var/lib/pgsql/data/pg_log -type f -mtime +<%= @remove_older_than %> -name "*.log" -exec rm -rf {} \;
