################################
# PUPPET managed from template
################################
<% memorygb=memorytotal.gsub("GB","").to_f -%>
listen_addresses = <%= listen_addresses -%> # what IP address(es) to listen on;
max_connections = <%= max_connections -%> # (change requires restart)
shared_buffers = <%if @shared_buffers -%><%= shared_buffers -%><% else -%><%= (memorygb*1024.0*0.3).to_i -%>MB<% end -%> # min 128kB
temp_buffers = <%= temp_buffers -%> # min 800kB
work_mem = <%= work_mem -%> # min 64kB
maintenance_work_mem = <%= maintenance_work_mem -%> # min 1MB
max_files_per_process = <%= max_files_per_process -%> # min 25
fsync = <%= fsync -%> # turns forced synchronization on or off
wal_sync_method = <%= wal_sync_method -%> # the default is the first option 
wal_buffers = <%= wal_buffers -%> # min 32kB
checkpoint_segments = <%= checkpoint_segments -%> # in logfile segments, min 1, 16MB each
checkpoint_timeout = <%= checkpoint_timeout -%> # range 30s-1h
effective_cache_size = <% if @effective_cache_size -%><%= effective_cache_size -%><% else -%><% if (memorygb*0.50) > 7 -%><%= (7.0*1024.0).to_i -%>MB<% else -%><%= (memorygb*0.50*1024.0).to_i %>MB<% end -%><% end -%> # some comment
logging_collector = on			# Enable capturing of stderr and csvlog
log_destination = 'stderr'
log_directory = 'pg_log'		# directory where log files are written,
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'	# log file name pattern,
log_statement = 'mod'
log_truncate_on_rotation = on		# If on, an existing log file of the
log_rotation_age = 1d			# Automatic rotation of logfiles will
log_rotation_size = 0			# Automatic rotation of logfiles will 
lc_messages = 'C'			# locale for system error message
lc_monetary = 'C'			# locale for monetary formatting
lc_numeric = 'C'			# locale for number formatting
lc_time = 'C'				# locale for time formatting
default_text_search_config = 'pg_catalog.english'

