# This file represents a mapping between numeric encoding-id values and their
# URL-template equivalents.
# HLS
401=http://<%= @external_server_name %>/vod_hls/{MID}/H2_S288_H264_BP/prog_index.m3u8
402=http://<%= @external_server_name %>/vod_hls/{MID}/H3_S288_H264_BP/prog_index.m3u8
403=http://<%= @external_server_name %>/vod_hls/{MID}/H5_S432_H264_BP/prog_index.m3u8
404=http://<%= @external_server_name %>/vod_hls/{MID}/H8_S576_H264_BP/prog_index.m3u8
405=http://<%= @external_server_name %>/vod_hls/{MID}/H13_S576_H264_BP/prog_index.m3u8
406=http://<%= @external_server_name %>/vod_hls/{MID}/H17_S576_H264_BP/prog_index.m3u8
407=http://<%= @external_server_name %>/vod_hls/{MID}/H2_S288_H264_MP/prog_index.m3u8
408=http://<%= @external_server_name %>/vod_hls/{MID}/H3_S288_H264_MP/prog_index.m3u8
409=http://<%= @external_server_name %>/vod_hls/{MID}/H5_S432_H264_MP/prog_index.m3u8
410=http://<%= @external_server_name %>/vod_hls/{MID}/H8_S576_H264_MP/prog_index.m3u8
411=http://<%= @external_server_name %>/vod_hls/{MID}/H13_S576_H264_MP/prog_index.m3u8
412=http://<%= @external_server_name %>/vod_hls/{MID}/H17_S576_H264_MP/prog_index.m3u8
413=http://<%= @external_server_name %>/vod_hls/{MID}/H24_S576_H264_MP/prog_index.m3u8
414=http://<%= @external_server_name %>/vod_hls/{MID}/H24_S576_H264_HP/prog_index.m3u8
415=http://<%= @external_server_name %>/vod_hls/{MID}/H2_S240_H264_BP/prog_index.m3u8
416=http://<%= @external_server_name %>/vod_hls/{MID}/H3_S240_H264_BP/prog_index.m3u8
417=http://<%= @external_server_name %>/vod_hls/{MID}/H5_S360_H264_BP/prog_index.m3u8
418=http://<%= @external_server_name %>/vod_hls/{MID}/H8_S480_H264_BP/prog_index.m3u8
419=http://<%= @external_server_name %>/vod_hls/{MID}/H13_S480_H264_BP/prog_index.m3u8
420=http://<%= @external_server_name %>/vod_hls/{MID}/H17_S480_H264_BP/prog_index.m3u8
421=http://<%= @external_server_name %>/vod_hls/{MID}/H2_S240_H264_MP/prog_index.m3u8
422=http://<%= @external_server_name %>/vod_hls/{MID}/H3_S240_H264_MP/prog_index.m3u8
423=http://<%= @external_server_name %>/vod_hls/{MID}/H5_S360_H264_MP/prog_index.m3u8
424=http://<%= @external_server_name %>/vod_hls/{MID}/H8_S480_H264_MP/prog_index.m3u8
425=http://<%= @external_server_name %>/vod_hls/{MID}/H13_S480_H264_MP/prog_index.m3u8
426=http://<%= @external_server_name %>/vod_hls/{MID}/H17_S480_H264_MP/prog_index.m3u8
427=http://<%= @external_server_name %>/vod_hls/{MID}/H24_S480_H264_MP/prog_index.m3u8
428=http://<%= @external_server_name %>/vod_hls/{MID}/H24_S480_H264_HP/prog_index.m3u8
429=http://<%= @external_server_name %>/vod_hls/{MID}/H2_W240_H264_BP/prog_index.m3u8
430=http://<%= @external_server_name %>/vod_hls/{MID}/H3_W240_H264_BP/prog_index.m3u8
431=http://<%= @external_server_name %>/vod_hls/{MID}/H5_W270_H264_BP/prog_index.m3u8
432=http://<%= @external_server_name %>/vod_hls/{MID}/H8_W360_H264_BP/prog_index.m3u8
433=http://<%= @external_server_name %>/vod_hls/{MID}/H13_W360_H264_BP/prog_index.m3u8
434=http://<%= @external_server_name %>/vod_hls/{MID}/H17_W480_H264_BP/prog_index.m3u8
435=http://<%= @external_server_name %>/vod_hls/{MID}/H2_W240_H264_MP/prog_index.m3u8
436=http://<%= @external_server_name %>/vod_hls/{MID}/H3_W240_H264_MP/prog_index.m3u8
437=http://<%= @external_server_name %>/vod_hls/{MID}/H5_W270_H264_MP/prog_index.m3u8
438=http://<%= @external_server_name %>/vod_hls/{MID}/H8_W360_H264_MP/prog_index.m3u8
439=http://<%= @external_server_name %>/vod_hls/{MID}/H13_W360_H264_MP/prog_index.m3u8
440=http://<%= @external_server_name %>/vod_hls/{MID}/H17_W480_H264_MP/prog_index.m3u8
441=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W720_H264_MP/prog_index.m3u8
442=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W720_H264_HP/prog_index.m3u8
443=http://<%= @external_server_name %>/vod_hls/{MID}/H31_W720_H264_MP/prog_index.m3u8
444=http://<%= @external_server_name %>/vod_hls/{MID}/H31_W720_H264_HP/prog_index.m3u8
445=http://<%= @external_server_name %>/vod_hls/{MID}/H41_W720_H264_MP/prog_index.m3u8
446=http://<%= @external_server_name %>/vod_hls/{MID}/H41_W720_H264_HP/prog_index.m3u8
447=http://<%= @external_server_name %>/vod_hls/{MID}/H41_W1080_H264_MP/prog_index.m3u8
448=http://<%= @external_server_name %>/vod_hls/{MID}/H41_W1080_H264_HP/prog_index.m3u8
449=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W480_H264_BP/prog_index.m3u8
450=http://<%= @external_server_name %>/vod_hls/{MID}/H31_W480_H264_BP/prog_index.m3u8
451=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W480_H264_MP/prog_index.m3u8
452=http://<%= @external_server_name %>/vod_hls/{MID}/H31_W480_H264_MP/prog_index.m3u8
453=http://<%= @external_server_name %>/vod_hls/{MID}/H17_W360_H264_BP/prog_index.m3u8
454=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W360_H264_BP/prog_index.m3u8
455=http://<%= @external_server_name %>/vod_hls/{MID}/H17_W360_H264_MP/prog_index.m3u8
456=http://<%= @external_server_name %>/vod_hls/{MID}/H24_W360_H264_MP/prog_index.m3u8
458=http://<%= @external_server_name %>/vod_hls/{MID}/H8_W270_H264_BP/prog_index.m3u8
459=http://<%= @external_server_name %>/vod_hls/{MID}/H12_W270_H264_BP/prog_index.m3u8
461=http://<%= @external_server_name %>/vod_hls/{MID}/H8_W270_H264_MP/prog_index.m3u8
462=http://<%= @external_server_name %>/vod_hls/{MID}/H12_W270_H264_MP/prog_index.m3u8
463=http://<%= @external_server_name %>/vod_hls/{MID}/H31_W1080_H264_HP/prog_index.m3u8
464=http://<%= @external_server_name %>/vod_hls/{MID}/H91_W1080_H264_HP/prog_index.m3u8
465=http://<%= @external_server_name %>/vod_hls/{MID}/H91_W720_H264_HP/prog_index.m3u8
