# YuMe Adapter properties

#Provider name
provider.name=<%= @provider_name %>

# DAM webservice URL
dam.webservice.url=http://juarnvip:8080/dam/ws?wsdl

# FM webservice URL
fm.webservice.url=http://juarnvip:8080/foldermanager/

#Active MQ broker configuration
#mq.broker.url=vm://localhost
mq.broker.url=failover://(tcp://amq01:61616,tcp://amq02:61616)?initialReconnectDelay=100
